@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular.ttf') format('truetype'),
         url('../fonts/opensans-regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold.eot');
    src: url('../fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold.woff') format('woff'),
         url('../fonts/opensans-bold.ttf') format('truetype'),
         url('../fonts/opensans-bold.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*----- reset -----*/
:focus{outline:0;}
ol, ul{list-style:none;}
table{border-collapse: collapse;border-spacing: 0;width: 100%;}
img{vertical-align:top}

/* icon - button title */
.wd-logo-m{background:url(../images/front/logo-congthongtin-danang.png) no-repeat;display:-moz-inline-stack;display:inline-block;*display:inline;height:80px;overflow:hidden; text-indent:-1983px; vertical-align:middle;width:265px;zoom:1;}
.wd-logo-m-mobile{background:url(../images/front/home-map.png) no-repeat 0 0;display:-moz-inline-stack;display:inline-block;*display:inline;height:38px;overflow:hidden; vertical-align:middle;width:208px;zoom:1;margin-top:4px;}
.wd-category-bt{background-color:#fff; border:1px solid #dcdcdc;display: inline-block;margin:10px 4px 0;padding:8px 12px; border-radius:2px; -moz-border-radius:2px;-webkit-border-radius:2px; vertical-align:middle; display:-moz-inline-stack; *display:inline;zoom:1;*margin-right: .3em;}
.wd-category-bt i{margin-right:6px;}
.wd-category-bt:hover{border-color:#f15a1a;color:#f15a1a}

.wd-marker-1{background:url(../images/front/bg-sprite-map.png) no-repeat -211px -72px;color:#fff;display: inline-block;font-size:14px;border-radius:2px; -moz-border-radius:2px;-webkit-border-radius:2px;height:38px; padding-top:4px; text-align:center;vertical-align:middle; width:28px;display:-moz-inline-stack; *display:inline;zoom:1;*margin-right: .3em;}

.wd-title-hd{float:left;margin-right:40px;}
.wd-ttl-1{color:#444;font-family: 'open_sansbold';font-size:15px;}
.wd-ttl-2{background-color:#f4f4f4;border-bottom:1px solid #e4e4e4;border-top:1px solid #e4e4e4;color:#444;font-family: 'open_sansbold';font-size:15px;padding:12px 20px;}

.media-heading{margin-bottom:3px;}
.media-heading a{font-family: 'open_sansregular';font-size:13px;color:#000;font-weight:500}
.media-heading a .comment{margin-left:5px}
.media-heading a:hover{color:#015298}

/* icon - button title .end */
#wd-wrapper-map{height:100%;overflow:hidden;position:relative;}
#wd-header-map{background-color:#fff;border-bottom:1px solid #d5d5d5;height:75px;left:0;padding:8px 16px;position:fixed;top:0;width:100%;z-index: 1100}
#wd-header-map-mobile{background-color:#fff;border-bottom:1px solid #d5d5d5;height:50px;left:0;padding:2px 6px;position:fixed;top:0;width:100%;z-index: 1100}

#wd-header-map-search{background-color:rgb(237, 237, 237);border-bottom:1px solid #d5d5d5;height:50px;left:0;padding:2px 6px;position:fixed;top:0;width:100%;z-index: 20; margin-top: 50px;}
.wd-header-map-hamburger{background-color: #fff;height:46px;width:55px;margin-left:-5px;margin-top:-1px;}

/* header search */
.wd-search-header-map{margin-top:9px;overflow:hidden;position:relative}
.wd-search-map-form .form-group{margin-bottom:0}
.wd-search-map-form .wd-search-ip{background-color:#fff;border:1px solid #d5d5d5;float:left;font-size:13px; border-radius:0;-moz-border-radius:0; -webkit-border-radius:0; padding:8px 15px; width:100%;}
.wd-search-map-form .wd-search-ip-mb{background-color:#fff;border:1px solid #d5d5d5;border-right:0 none transparent; float:left;border-radius:0;-moz-border-radius:0; -webkit-border-radius:0; padding:10px 10px; height:34px;font-size:11px;}
.wd-search-map-form #textSearch.wd-search-ip {margin-bottom:8px;}
.wd-search-map-form .wd-search-ip:focus{border-color:#cee6fa}
.wd-search-map-form .wd-search-ip::-moz-placeholder{color:#434343;font-style:italic}
.wd-search-map-form .wd-search-ip:-ms-input-placeholder{color:#434343;font-style:italic}
.wd-search-map-form .wd-search-ip::-webkit-input-placeholder{color:#434343;font-style:italic}

.wd-find-way-form {margin-bottom:4px;}

.wd-search-count {margin-top: 5px;margin-bottom:-8px;}
.wd-sortby-top-sl .bt-search{background-color:#0767b1;border:0 none transparent; border-radius:2px; -moz-border-radius:2px;-webkit-border-radius:2px; color:#fff;display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline; font-size:13px; font-family: 'open_sansbold'; line-height:18px;padding:8px 15px;vertical-align:middle;}
.wd-sortby-top-sl .bt-search.btn-search-mobile {padding: 8px 4px;}
.wd-sortby-top-sl .bt-search .fa-search{margin-right:6px}
.wd-sortby-top-sl .bt-search:hover{background-color:#02599b}

.wd-notifi-header{display:-moz-inline-stack;display:inline-block;vertical-align:middle;zoom:1;*display:inline;-webkit-box-sizing: border-box;box-sizing: border-box;height: 30px;width: 30px;position:relative;}
.wd-notifi-header .fa-bell-o-cus{color:#4c4c4c;font-size:20px;margin-top:8px}
.wd-notifi-header .wd-notifi-ct {background-color: #cb4437;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px; color:#fff; display:-moz-inline-stack; display:inline-block;*display:inline; font-size:12px; line-height: 19px; min-width: 14px;padding: 0 1px; position:absolute; right: 0;text-align: center; top: 0;vertical-align:middle;zoom:1; z-index: 990;}
.wd-notifi-nb{background-clip: padding-box;display:-moz-inline-stack;display:inline-block;vertical-align:middle;zoom:1;*display:inline;min-height: 20px;min-width: 20px;height: 5px;}


.wd-user-login-hd-map{float:right; margin-right: -9px;}
.wd-user-login-hd-map li.wd-nt-map{float:left;margin-left:14px;}
.wd-user-login-hd-map li .wd-notifi-header-map{margin-top:4px;}
.wd-avatar-hd-map{background-color:#fff;border:1px solid #e4e4e4;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%; display:-moz-inline-stack; display:inline-block; padding:2px; vertical-align:middle; zoom:1; *display:inline;}
.wd-avatar-hd-map .wd-img-bd-map{border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;width:37px;height:37px}
.wd-user-login-hd-map li .wd-avatar-hd-map{float:left}
.wd-user-login-hd-map li .wd-seting-map{float:left;margin-left:8px;}

.wd-seting-map{float:right;padding:10px 0 !important;}
.wd-seting-map .dropdown-menu{left:auto; min-width:120px;right:0;}

.wd-header-map-r .wd-user-login-hd-map .wd-seting-map i{color:#a7a7a7}
.wd-sortby-md-sl{background-color:#fff}
/* custom icon map */
.customMarker {
	background: url('../images/front/icon-empty.png') no-repeat 0 0;
	cursor: pointer;
	width: 32px;
	height: 42px;
  	display: block;
  	position: relative;
  	overflow: visible;
}

.customMarker a {color: #fff;font-size: 16px;  position: absolute; display: inline-block;text-align: center; padding: 8px 5px;}
#map > div > div > div > div > div > div{overflow: visible !important;}

.customMarket:parent {  width: 30px !important;}

.pointA {
	background: url('../images/front/point_a.png') no-repeat 0 0;
	cursor: pointer;
	width: 27px;
	height: 38px;
  	display: block;
  	position: relative;
} 
.pointB {
	background: url('../images/front/point_b.png') no-repeat 0 0;
	cursor: pointer;
	width: 27px;
	height: 38px;
  	display: block;
  	position: relative;
}
.pointC {
	background: url('../images/front/point_c.png') no-repeat 0 0;
	cursor: pointer;
	width: 27px;
	height: 38px;
  	display: block;
  	position: relative;
}	
/* thumbnail */
.wd-place-special .wd-item-special{border-bottom:1px solid #d5d5d5;}
.wd-place-special .wd-item-special .media{cursor:pointer;display:block;padding:12px 20px 12px 12px;}
.wd-place-special .wd-item-special:hover,.bg-current{background-color:#eaeff3;}
.wd-place-special .wd-item-special .media-body{display:block; overflow:hidden;}
.wd-place-special .wd-item-special .media .media-heading{clear:both;color:#000;display:block;font-family: 'open_sansbold';}
.wd-place-special .wd-item-special .wd-desc{color:#000;}
.wd-place-special .wd-item-special .wd-icon-l{float:left;margin-right:5px; height: 20px;line-height: 20px;width: 18px;}
.wd-place-special .wd-item-special .wd-icon-map{float:left;margin-right:5px; height: 28px;line-height: 24px;width: 20px;}
.wd-place-special .wd-item-special .wd-icon-map-text{position:absolute;color:#fff;margin-left: -22px;margin-top:2px;font-size:12px;}
.process-img{position:relative;display:block}

.link-action span{font-size:11px;cursor:pointer;color:#005299}
.link-action span:hover{color:#114285}
span.comment{cursor:pointer;color:#015298}
/* thumbnail .end  */
.fix-text{max-height:39px;overflow:hidden;display:block;}
.fix-text.href-ser{font-family: 'open_sansbold';font-size:12.5px;}
.fix-text-address{max-height:60px;overflow:hidden;font-size:12px;line-height:15px;}
.fix-text-map{max-height:70px;overflow:hidden;font-size:11px;line-height:14px;}
.map-bl-qt {font-size:12px;}

/*------------ left map content ------------------*/
.wd-left-map{float:left;height:100%;min-height:100%;position:relative;width:338px;-webkit-box-shadow: 5px 4px 11px -7px rgba(0,0,0,0.43);-moz-box-shadow: 5px 4px 11px -7px rgba(0,0,0,0.43);box-shadow: 5px 4px 11px -7px rgba(0,0,0,0.43);z-index:500;}
.wd-left-map-mb{float:left;height:100%;min-height:100%;position:absolute;margin-top:-50px;
width:200px;-webkit-box-shadow: 5px 4px 11px -7px rgba(0,0,0,0.43);-moz-box-shadow: 5px 4px 11px -7px rgba(0,0,0,0.43);box-shadow: 5px 4px 11px -7px rgba(0,0,0,0.43);z-index:500}
/*.wd-left-map .wd-fixed-scroll{position:fixed;width:338px;background:#fff}*/
.wd-left-map .wd-category-sm{padding:14px 15px 20px;}
.wd-left-map .wd-category-sm .wd-ttl-1{padding-left:5px;}

.wd-search-map-form-mb .wd-search-ip-mb{background-color:#fff;border:1px solid #d5d5d5;border-right:0 none transparent; float:left;border-radius:0;-moz-border-radius:0; -webkit-border-radius:0; padding:10px 10px; height:36px;font-size:11px;}

/*------------ customer scroll -------------*/
.wd-scroll-left-m .mCSB_scrollTools .mCSB_draggerRail,.wd-content-find-way .mCSB_scrollTools .mCSB_draggerRail{background-color:transparent;}
.wd-scroll-left-m .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,.wd-content-find-way .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color:#676767;height:130px;width:6px;}
.wd-scroll-left-m .mCSB_inside > .mCSB_container,.wd-content-find-way .mCSB_inside > .mCSB_container{margin-right:0;}
.wd-scroll-left-m .mCSB_scrollTools .mCSB_dragger,.wd-content-find-way .mCSB_scrollTools .mCSB_dragger{height:130px !important;}
.wd-content-find-way{min-height:300px}
/**/
.wd-container-map{position:relative;z-index:10;}

.wd-container-map,.wd-main-container-map,.wd-map-act,.img-map{height:100%;min-height:100%;}
.wd-main-container-map{position:relative;overflow:hidden;margin-top:-16px !important;}
.map_canvas{height:100%;width:100%;}

.wd-bt-tog-lct{background:url(../images/front/bg-arrow-tg.jpg) no-repeat 0 0; display:block; height:33px;left:0; overflow:hidden; position:absolute; text-indent:-1983px; top:128px;width:19px;z-index:600;-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);-moz-box-shadow:0px 0px 6px 0px rgba(0,0,0,0.4);box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);}
.wd-bt-tog-lct-tg{background-position:0 -33px}

.wd-bt-tog-lct-mb{background:url(../images/front/bg-arrow-tg.jpg) no-repeat 0 0;background-position:0 -33px; display:block; height:33px;overflow:hidden; position:absolute; text-indent:-1983px; top:140px;width:19px;z-index:800;-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);-moz-box-shadow:0px 0px 6px 0px rgba(0,0,0,0.4);box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);}
.wd-bt-tog-lct-mb-tg{background:url(../images/front/bg-arrow-tg.jpg) no-repeat 0 0;left:250px;}

/*--------- custome tab -----------*/
.wd-tab-map .wd-bt-tab{border:0 none transparent;margin:0px}
.wd-tab-map .active .wd-bt-tab{background-color:#ececec;background-image: -ms-linear-gradient(top, #ececec 0%, #d9d9d9 100%);
background-image: -moz-linear-gradient(top, #ececec 0%, #d9d9d9 100%);
background-image: -o-linear-gradient(top, #ececec 0%, #d9d9d9 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ececec), color-stop(1, #d9d9d9));
background-image: -webkit-linear-gradient(top, #ececec 0%, #d9d9d9 100%);
background-image: linear-gradient(to bottom, #ececec 0%, #d9d9d9 100%);
border-right:1px solid #cdcdcd;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;-moz-box-shadow: inset 0 0 7px 2px #ccc;-webkit-box-shadow: inset 0 0 7px 2px #ccc;box-shadow: inset 0 0 7px 2px #ccc;}
.wd-tab-map .active{margin-top:-1px;}
.wd-tab-map .wd-item-m2{width:50%;}

.wd-find-way-form .wd-marker-1{float:left; margin-right:10px;}
.wd-find-way-form .wd-search-map-form{overflow:hidden}
.wd-find-way-form .wd-search-map-form {border:1px solid #dadada}
.wd-find-way-form .wd-search-map-form .wd-search-ip{border:0 none transparent;padding:10px 15px;width:230px}
.wd-find-way-form .wd-search-map-form .bt-search-close{border:0 none transparent;display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline; font-family: 'open_sansbold'; vertical-align:middle;}
.wd-find-way-form .wd-search-map-form .bt-search,.wd-find-way-form .wd-search-map-form .bt-search-close{background-color:#f5f5f5;border-left:1px solid #dadada;color:#626262;font-size:16px;height:36px;line-height:19px;width:36px;}
.wd-find-way-form .wd-search-map-form .bt-search:hover{background-color:#e4e3e3}
.wd-find-way-form .wd-search-map-form .bt-search .fa-search{ margin-right:0;}
.wd-find-way-form .wd-search-map-form .bt-search-close:hover{color:#f00}
.wd-search-map-form-mb {margin-bottom:5px !important;}

.wd-top-find-way ,.wd-bt-find-way{padding:14px 17px 12px 15px}
.wd-bt-find-way{border-bottom:1px solid #dadada;border-top:1px solid #dadada;}
.wd-content-find-way{background-color:#f1f1f1;border-top:1px solid #dadada;-moz-box-shadow: inset 0px 3px 5px -3px #bbb; -webkit-box-shadow: inset 0px 3px 5px -3px #bbb; box-shadow: inset 0px 3px 5px -3px #bbb;}
.wd-directions-way{padding-top:15px}
.wd-directions-way li{padding:7px 10px;vertical-align:middle;}
.wd-directions-way li .wd-item-w1,.wd-directions-way li .wd-item-w2,.wd-directions-way li .wd-item-w3{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;vertical-align:middle;}
.wd-directions-way li .wd-item-w1{width:28px;}
.wd-directions-way li .wd-item-w2{color:#5a5a5a;width:222px;}
.wd-directions-way li .wd-item-w3{text-align:right;width:60px;}

.wd-directions-way-mb{padding-top:15px}
.wd-directions-way-mb li{padding:4px 5px;vertical-align:middle;}
.wd-directions-way-mb li .wd-item-w1,.wd-directions-way li .wd-item-w2,.wd-directions-way li .wd-item-w3{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;vertical-align:middle;}
.wd-directions-way-mb li .wd-item-w1{width:28px;}
.wd-directions-way-mb li .wd-item-w2{color:#5a5a5a;width:155px;font-size:11px;}
.wd-directions-way-mb li .wd-item-w3{text-align:right;width:60px;font-size:11px;}

.wd-sortby-top-sl{background-color:#f4f4f4; border-bottom:1px solid #e4e4e4; padding:14px;}
.wd-sortby-md-sl .wd-filters-sl,.wd-sortby-md-sl .wd-order-sl{border:1px solid #dbdbdb;color:#000;padding:5px 10px;width:100%}
.wd-select-sort{width:75% !important;float:left;}
.wd-sortby-md-sl{ border-bottom:1px solid #e4e4e4;display:none; padding:14px;} 
.wd-sortby-md-sl .wd-filters-ct,.wd-sortby-md-sl .wd-sbm-sl{float:left; width:48%;}
.wd-sortby-md-sl .wd-filters-ct {margin-right:4%}

.directionoptions {
	float: left;
	width: 338px;
  	padding: 12px 10px 12px 0;
  	border-top: 1px solid #efefef;
  	background-color: #f7f7f7;
  	position: absolute;
  	bottom: 0;
  	z-index: 1;
  	box-shadow: -5px -2px 7px rgba(0,0,0,0.1);
  	-moz-box-shadow: -5px -2px 7px rgba(0,0,0,0.1);
  	-webkit-box-shadow: -5px -2px 7px rgba(0,0,0,0.1);
}
/*dev front-end*/
.wd-main-container-map{overflow:hidden}
/*map desktop*/
.caption-map{width:380px;padding:3px 0 0 0;}
.caption-map .img-map-show{float:left;width:158px;position:relative;margin-right:8px;margin-bottom:4px}
.caption-map .img-map-show img{width:158px;height:135px}
.caption-map .img-map-show span.score{
	font-size:12px;
	position:absolute;
	z-index:500;
	background:url(../images/front/sprite.png) -358px -349px repeat scroll;
	padding:8px 2px;
	color:#fff;
	text-align:center;
	right: 85px;
	top: 0px;
	width:32px;
	height:41px;
	font-size:15px;
	font-weight:bold
}

.caption-map .img-map-show span.pricing{
	position: absolute;
  	top: -4px;
  	right: 5px;
  	min-width: 61px;
  	min-height: 41px;
  	height: 50px;
  	z-index: 500;
  	background-color: #e9e9e9;
  	color: #000;
  	padding-top: 4px;
  	padding-right: 9px;
  	padding-left: 9px;
  	padding-bottom: 0px;
  	text-align: center;
  	font-size: 12px;
}

.caption-map .img-map-show span.pricing strong{
	display: block;
  	font-size: 12px;
}

.caption-map .img-map-show span.pricing i.conmuch-bdl{
	background-position: -142px -231px;
 	height: 4px;
  	line-height: 4px;
 	width: 4px;
  	position: absolute;
  	left: -4px;
  	top: 0;
  	background-image: url("../images/front/sprite.png");
}
.caption-map .linkmap-action{clear:both;border-left:1px solid #dfdfdf;border-right:0;overflow:hidden;margin-top:0px}
.caption-map .linkmap-action a{border:1px solid #dfdfdf;border-left:0;float:left;color:#444;padding:6px 19px}
.caption-map .linkmap-action a i{font-size:13px;color:#444;margin-right:9px}
.caption-street{width:200px}
.caption-street .map-description{padding:7px 0 7px 10px}
.map-description{overflow:hidden}
input.search-street.iconInterest{background:url(../images/front/icons-interest-o.png) no-repeat 8px 7px #ffffff !important;padding-left:25px !important;}
input.search-street.iconInterest.active{background:url(../images/front/icons-interest.png) no-repeat 9px 10px #ffffff !important;}
input.search-street:hover,input.search-around:hover{background-color:#f7f7f7;}

.caption-map .linkmap-action input.search-street, .caption-map .linkmap-action input.search-around{border: 1px solid #dfdfdf;border-left:0;color: #444;font-size: 14px;zoom:1}
.caption-map .linkmap-action input.search-street, .caption-map .linkmap-action input.search-street:hover{background:url(../images/front/icon-street.png) no-repeat 11px 10px #ffffff;padding:7px 13px 8px 29px;}
.caption-map .linkmap-action input.search-around{background:url(../images/front/icon-arroun.png) no-repeat 11px 10px #ffffff;padding:7px 10px 8px 28px;}

/*map mobile*/
.caption-map-mb{width:246px;padding:2px 0 2px 0;margin-right:2px;}
.caption-map-mb .img-map-show{float:left;width:100px;position:relative;margin-right:5px;margin-bottom:6px}
.caption-map-mb .img-map-show img{width:100px;height:80px}
.caption-map-mb .img-map-show span.score{
	position:absolute;
	z-index:500;
	right: 60px;
	background: url(../images/front/sprite.png) -433px -349px repeat scroll;
  	padding: 3px 2px;
  	color: #fff;
  	text-align: center;
  	top: -3px;
  	width: 24px;
  	height: 28px;
  	font-size: 12px;
  	font-weight: bold;
}

.caption-map-mb .img-map-show span.pricing{
	position: absolute;
  	top: -4px;
  	right: 2px;
  	min-width: 51px;
  	min-height: 39px;
  	height: 38px;
  	z-index: 600;
  	background-color: #e9e9e9;
  	color: #000;
  	padding-top: 2px;
  	padding-bottom: -2px;
  	text-align: center;
  	font-size: 10px;
}

.caption-map-mb .img-map-show span.pricing strong{
	display: block;
  	font-size: 10px;
}

.caption-map-mb .img-map-show span.pricing i.conmuch-bdl{
	background-position: -142px -231px;
 	height: 4px;
  	line-height: 4px;
 	width: 4px;
  	position: absolute;
  	left: -4px;
  	top: 0;
  	background-image: url("../images/front/sprite.png");
}
.caption-map-mb .map-description a {font-size:11px;}
.caption-map-mb .map-description p {font-size:11px;text-align:justify;}
.caption-map-mb .map-description .map-description-other span {font-size:11px;}
.caption-map-mb .linkmap-action{clear:both;border-left:1px solid #dfdfdf;border-right:0;overflow:hidden;margin-top:5px;}
.caption-map-mb .linkmap-action input.search-street{border: 1px solid #dfdfdf;border-left:0;color: #444;
	font-size: 11px;zoom:1;padding:7px 3px 8px 3px;background: #fff;}

a.sign-in-map{background-color:#10b036;color:#fff;padding:9px 25px;float:right;margin-top:7px;font-family: 'open_sansbold';font-size:15px;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px}
a.sign-in-map:hover{background-color:#028c23;color:#fff}
a.sign-in-map-mobile{background-color:#10b036;color:#fff;padding:6px 3px;float:right;margin-top:7px;font-family: 'open_sansbold';font-size:13px;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px}
a.sign-in-map-mobile:hover{background-color:#028c23;color:#fff}

.pop-search-service{width:260px;padding:0px;height: 130px !important;}
.pop-search-service label.title-map-service{padding-bottom:0px}
.pop-search-service label.pop-search-bankinh{padding-bottom:2px}
.pop-search-service .wdt-service{width:73px}
.pop-search-service .wdt-service{display:inline-block}
.pop-search-service select.form-control{margin-right:10px}
.pop-search-service .btn-default{margin-top:-1px;margin-left:4px;}
.pop-search-service .pop-search-checkbox {width:175px;float:left;margin-right:5px;}
.pop-search-service .pop-search-checkbox > div {height:93px;overflow-y:scroll;}
.pop-search-service .pop-search-input {width:78px;float:right;}
.pop-search-service .pop-search-input .bt-search:hover {background-color: #02599b;}
.pop-search-service .pop-search-input .bt-search {background-color: #0767b1;border: 0 none transparent;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;color: #fff;display: -moz-inline-stack;display: inline-block;oom: 1;font-size: 13px;font-family: 'open_sansbold';line-height: 18px;padding: 8px 16px;margin-top:2px;vertical-align: middle;}
.pop-search-service .pop-search-input .bt-search .fa-search {margin-right:5px;}

.pop-search-service-mb{width:220px;max-height:100%;padding:7px 0 7px 10px}
.pop-search-service-mb label.title-map-service{padding-bottom:10px;font-size:11px;}
.pop-search-service-mb .wdt-service{width:152px}
.pop-search-service-mb .wdt-service{display:inline-block}
.pop-search-service-mb select.form-control{margin-right:10px; font-size:11px;display:block;clear:both;}
.pop-search-service-mb input.form-control{margin-right:10px; font-size:11px;margin-top:10px;}
.pop-search-service-mb .btn-default{font-size:11px;}

a.sign-in2{background-color:#10b036;color:#fff;padding:9px 25px;float:right;margin-top:7px;font-family: 'open_sansbold';font-size:15px;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px}
a.sign-in2:hover{background-color:#028c23;color:#fff}
.wd-place-special .wd-item-special .link-action{display:block}
.wd-place-special .wd-item-special .link-action{display:block}
.wd-place-special .wd-item-special .link-action i.fa{margin-right:4px}
p.cut-text-map{height:98px;overflow:hidden}
/*context menu map*/
[class^="iconcontext-"], [class*=" iconcontext-"] {
    display: inline-block;
    *margin-right: .3em;
    vertical-align: text-top;
    background-image: url("../images/front/MapOptions.png");
    background-position: 0;
    background-repeat: no-repeat;vertical-align:middle;display:-moz-inline-stack;*display:inline;zoom:1;
}
.iconcontext-from,.iconcontext-here,.iconcontext-nearby{height:20px;line-height:20px;width:20px;margin-right:8px}
.iconcontext-from{background-position:3px 3px;}
.iconcontext-here{background-position:3px -37px;}
.iconcontext-nearby{background-position:3px -197px;}
#divMenu{background-color:#fff;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;width:160px;-moz-box-shadow: 0 0 5px #888;-webkit-box-shadow: 0 0 5px#888;box-shadow: 0 0 5px #888;}
#divMenu ul li{padding:4px 8px;border-bottom:1px solid #cfcfcf}
#divMenu ul li:hover{background-color:#DCDCDC} 
#divMenu ul li a {display:block;width:100%;}
#divContDetailWay{position:relative}
.wdtTxt{margin:5px 5px 0 5px}
#contPlaceSpecial .wd-item-special .media-object{width:86px;height:80px}
.fullWdHe{width: 100%; height:100%;}
.wd-sortby-top .btn-default:hover,.wd-sortby-top .btn-default:focus,.wd-sortby-top .btn-default:active,.wd-sortby-top .btn-default.active,.wd-sortby-top .open > .dropdown-toggle.btn-default{background:#fff}