.tabs {
	position: relative;
	width: 100%;
	overflow: hidden;
	font-weight: 300;
}

/* Nav */
.tabs nav {
	text-align: center;
	height:100%;
	display: block;
}

.tabs nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
}

.tabs nav ul li {
	border-bottom: none;
	display: block;
	float: left;
	position: relative;
}

.tabs nav li.tab-current {
	margin-bottom: -1px;
	/*padding: 13px 17px 9px 17px;*/
	background-color: #fff;
	border-right: 0;
	color: #015298;
	border-top:1px solid #fff;
}

.tabs nav li.tab-current:before,
.tabs nav li.tab-current:after {
	content: '';
	position: absolute;
	height: 1px;
	right: 100%;
	bottom: 0;
	width: 1000px;

}

.tabs nav li.tab-current:after {
	right: auto;
	left: 100%;
	width: 4000px;
}

.tabs nav a {
	color: #becbd2;
	display: block;
	font-size: 1.45em;
	line-height: 2.5;
	padding: 0 1.25em;
	white-space: nowrap;
}

.tabs nav a:hover {
	color: #768e9d;
}

.tabs nav li.tab-current a {
	color: #47a3da;
}


/*tab*/
.wd-list-service .resp-tabs-list:before,.wd-list-service .resp-tabs-list:after{content: "";display: table;line-height: 0;}
.wd-list-service .resp-tabs-list:after{clear:both}
.wd-list-service .resp-tabs-list{ border-right:1px solid #dcdcdc;border-top:1px solid #dcdcdc;float:left}
.wd-list-service .resp-tabs-list li{ padding:10px 9px 10px 9px; background-color:#f6f6f6;border-left:1px solid #dcdcdc;color:#363636;font-size:14px;font-family: 'open_sansregular';}
.wd-list-service .resp-tabs-list li.resp-tab-active{ margin-bottom:-1px;padding:10px 9px 10px 9px;background-color:#fff;border-right:0;border-top:1px solid #fff;color:#015298}
.wd-list-service .resp-tabs-list li img{ width:24px;height:20px;margin-right:5px}
.wd-list-service .resp-tabs-container .wd-section{ background-color:#fff;}
.wd-list-service .resp-tab-content{ padding:20px;border:1px solid #dcdcdc}

.resp-tabs-container .content-current-tab {padding: 15px 0; border: 1px solid #dcdcdc; width: 100%;}
.resp-tabs-container .rowParent { margin: 0;}
/* Example media queries */

@media screen and (max-width: 52.375em) {
	.tabs nav a span {
		display: none;
	}

	.tabs nav a:before {
		margin-right: 0;
	}


}

@media screen and (max-width: 32em) {
	.tabs nav ul,
	.tabs nav ul li a {
		width: 100%;
		padding: 0;
	}

	.wd-list-service .resp-tabs-list li {
		/*padding: 11px 10px 11px 10px;*/
		width: 16%;
        width: calc(16% + 1px);
	}
	.tabs nav ul li:last-child {
		border-right: none;
	}
	.wd-list-service .resp-tabs-list li span { display: none;}
	.wd-list-service .resp-tabs-list li img {margin-right: 0;}
}