/*icon*/
[class^="iconmap-"], [class*=" iconmap-"] {
    display: inline-block;
    *margin-right: .3em;
    vertical-align: text-top;
    background-image: url("../images/front/bg-sprite-map.png");
    background-position: 0;
    background-repeat: no-repeat;vertical-align:middle;display:-moz-inline-stack;*display:inline;zoom:1;
}
.iconmap-residence-l{background-position:0 -144px;height:20px;line-height:20px;width:18px;}
.iconmap-cuisine-l{background-position:-34px -144px;height:20px;line-height:20px;width:20px;}
.iconmap-shopping-l{background-position:-106px -144px;height:20px;line-height:20px;width:20px;}
.iconmap-relax-l{background-position:-72px -144px;height:20px;line-height:20px;width:18px;}

.iconmap-directions-01{background-position:-138px -144px;height:24px;line-height:24px;width:24px;}
.iconmap-directions-02{background-position:-168px -144px;height:24px;line-height:24px;width:24px;}
.iconmap-directions-03{background-position:-205px -144px;height:24px;line-height:24px;width:24px;}
.iconmap-directions-04{background-position:-242px -144px;height:24px;line-height:24px;width:24px;}
.iconmap-directions-05{background-position:0 -177px; height:24px;line-height:24px;width:24px;}
.iconmap-directions-06{background-position:-35px -177px;height:24px;line-height:24px;width:24px;}