
.videogular-container {
	width: 100%;
	height: 480px;
	margin: auto;
	overflow: hidden;
	margin-top: 10px;
}
/*
@media (min-width: 1200px) {
	.videogular-container {
		width: 1000px;
		height: 658.125px;
	}
}
 
@media (min-width: 992px) and (max-width: 1199px) {
	.videogular-container {
		width: 940px;
		height: 528.75px;
	}
}
 
@media (min-width: 768px) and (max-width: 991px) {
	.videogular-container {
		width: 728px;
		height: 409.5px;
	}
} */