<div class="wd-ad-content mt12">
	<div class="wd-item">
		<div id="block-advertise-1">
			<div class="flexslider">
				<ul class="slides" id="contBlockAdvertise1">
					<li>
						<!-- clickBanner function for click on banner -->
						<a ng-controller="EventBannerCtrl" href="{{adsRight.urlLink}}" ng-click="eventBnCtrl.clickBanner(adsRight.id)" target="_blank">
							<img id="imgBanner{{adsRight.id}}" class="lazy" ng-src="{{adsRight.hinhAnh.urlImage}}" width="651" height="92" alt="" />
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>