<div class="wd-extras clearfix">
	<div class="row rowParent mt20 mb15">
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			<h2 class="tlh2-5 pb20">Thông tin liên hệ</h2>
			<div class="info-address">
				<h4>TRUNG TÂM THÔNG TIN DỊCH VỤ CÔNG ĐÀ NẴNG</h4>
				<p>Tầng 11 - Công viên phần mềm, số 02 Quang Trung, thành phố Đà
					Nẵng</p>
				<p>
					Email: <a href="mailto:dichvucong@danang.gov.vn">dichvucong@danang.gov.vn</a>
				</p>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			<h2 class="tlh2-5 pb20 ml10">Phiên bản di động</h2>
			<ul class="app-store ml10">
				<li><a href="#"><i class="iconmuch-appstore">&nbsp;</i></a></li>
				<li><a href="#"><i class="iconmuch-googleplay">&nbsp;</i></a></li>
			</ul>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			<h2 class="tlh2-5 pb20">Mạng xã hội</h2>
			<ul class="social ml40">
				<li><a href="#"><i class="iconmuch-fackbook">&nbsp;</i></a></li>
				<li><a href="#"><i class="iconmuch-twitter">&nbsp;</i></a></li>
				<li><a href="#"><i class="iconmuch-google">&nbsp;</i></a></li>
				<li><a href="#"><i class="iconmuch-youtube">&nbsp;</i></a></li>
			</ul>
		</div>
	</div>
	<!--end row-->
</div>