<script type="text/ng-template" id="addShareFeelDialog">

<div id="login_popup_content"
    class="wd-popup-container wd-popup-login-container ngdialog-message">
    <div class="wd-header-pp bdb1">
       <h2 class="wd-title-st1 translate">Chia sẻ cảm nhận</h2>
    </div>
    <div class="wd-pp-content pb10">
        <div class="row wd-login-content">
            <div class="col-xs-12 tac">
                <form class="form-horizontal form-reflect" name="addForm" ng-submit="shrCtrl.createShareFeel($event)" >
                    <div class="form-group form-group-sm">
                        <div class="col-sm-2 text-left-xs text-right-not-xs">
                            <label class="control-label" for="formGroupInputSmall">Họ và tên</label>
                        </div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control"  name="hoten" ng-model="shrCtrl.input.hoten"  placeholder="Nhập họ tên" required>
                            <span class="error" ng-show="(addForm.hoten.$dirty && addForm.hoten.$invalid)">
                                <span ng-show="addForm.hoten.$error.required"> Yêu cầu nhập Họ </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <div class="col-sm-2 text-left-xs text-right-not-xs">
                            <label class="control-label" for="formGroupInputSmall">Email</label>
                        </div>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="email" ng-model="shrCtrl.input.email" placeholder="Nhập email" required ng-pattern="shrCtrl.EMAIL_REGEXP" />
                            <span class="error" ng-show="(addForm.email.$dirty && addForm.email.$invalid)">
                                <span ng-show="addForm.email.$error.required"> Yêu cầu nhập Email </span>
                                <span ng-show="!addForm.email.$error.required && addForm.email.$error"> Yêu cầu nhập Email hợp lệ </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <div class="col-sm-2 text-left-xs text-right-not-xs">
                            <label class="control-label" for="formGroupInputSmall">Tiêu đề</label>
                        </div>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="txtTitle" name="tieuDe" ng-model="shrCtrl.input.tieuDe" placeholder="Nhập tiêu đề" required />
                            <span class="error" ng-show="(addForm.tieuDe.$dirty && addForm.tieuDe.$invalid)">
                                <span ng-show="addForm.tieuDe.$error.required"> Yêu cầu nhập Tiêu đề </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <div class="col-sm-2 text-left-xs text-right-not-xs">
                            <label class="control-label" for="formGroupInputSmall">Nội dung</label>
                        </div>
                        <div class="col-sm-10">
                            <textarea class="form-control minHeight" rows="6" id="txtNoidung" name="noiDung" ng-model="shrCtrl.input.noiDung" placeholder="Nhập nội dung" required></textarea>
                            <span class="error" ng-show="(addForm.noiDung.$dirty && addForm.noiDung.$invalid)">
                                <span ng-show="addForm.noiDung.$error.required"> Yêu cầu nhập Nội dung </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <div class="col-sm-2 text-left-xs text-right-not-xs">
                            <label class="control-label" for="formGroupInputSmall">Xác nhận</label>
                        </div>
                        <div class="col-sm-10">
                            <no-captcha width="100%"
                                g-recaptcha-response="gRecaptchaResponse"
                                theme='light'
                                control="noCaptchaControl"
                                site-key="6LeQkwgTAAAAAIIk8kKnChhlGBwVvDtCsW_cDVQG">
                            </no-captcha>
                            <span style="color:red" ng-show="(shrCtrl.clicked && shrCtrl.captchaEmpty)">
                                <span> Yêu cầu xác nhận bạn không phải là người máy </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input class="form-control" type="hidden" id="txtUserID" name="userID" />
                            <button type="submit" class="btn btn-default btn-lg bgBlue" id="btnSendShare">Gửi</button>
                            <button type="button" class="btn btn-default btn-lg bgBlue" id="btnCancelFeel" ng-click="shrCtrl.closeDialog()">Hủy</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</script>
<script type="text/ng-template" id="noticeDialog">
    <div>
        <div id="notice_popup_content" class="wd-popup-container wd-popup-login-container notice-popup">
            <div class="notification-popup-content">
                <div class="row rowParent wd-login-content">
                    <div class="col-xs-12 tac">
                        <h2 class="tlh3-6 pb0">{{ngDialogData.message}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="popupVideo">
	<span>{{ngDialogData.video.name}}</span>
	<div class="videogular-container">
		<video-player urlvideo="{{ngDialogData.video.urlVideo}}" urlpreview="{{ngDialogData.video.urlPreview}}"><video-player>	
	</div>
</script>
<script type="text/ng-template" id="popupShareEmail"> 
<div id="login_popup_content"
    class="wd-popup-container wd-popup-login-container ngdialog-message">
    <div class="wd-header-pp bdb1">
       <h2 class="wd-title-st1 translate">Chia sẻ bài viết qua Email</h2>
    </div>
        <div class="row wd-login-content">
            <div class="col-xs-12 tac">
                <form class="form-horizontal form-reflect" role="form" name="addForm"  ng-submit="shrCtrl.shareArticleByEmail()" novalidate>
					<div class="modal-body">
						<div class="title-article">
							<b>Bài viết: </b><span id="lblTitleArticleEmail">{{ngDialogData.tieuDe}}</span>
						</div>
						<div class="form-group form-group-sm mt10">
							<div class="col-sm-12 text-align-left">
								<input class="form-control" type="text" name="emailGui" ng-model="shrCtrl.input.emailGui" placeholder="Email người gửi" required ng-pattern="shrCtrl.EMAIL_REGEXP" />
                            	<span class="error" ng-show="((submitted || submitted && addForm.emailGui.$dirty) && addForm.emailGui.$invalid)">
                                <span ng-show="addForm.emailGui.$error.required"> Yêu cầu nhập email </span>
                                <span ng-show="!addForm.emailGui.$error.required && addForm.emailGui.$error"> Email không hợp lệ </span>
                            </span>
						</div>
						</div>
						<div class="form-group form-group-sm">
							<div class="col-sm-12 text-align-left">
								<input type="text" class="form-control" name="hoten" ng-model="shrCtrl.input.hotenGui" placeholder="Họ và tên người gửi" required>
	                            <span class="error" ng-show="((submitted || submitted && addForm.hoten.$dirty) && addForm.hoten.$invalid)">
	                                <span ng-show="addForm.hoten.$error.required"> Yêu cầu nhập họ tên</span>
	                            </span>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<div class="col-sm-12 text-align-left">
								<input class="form-control" type="text" name="emailNhan" ng-model="shrCtrl.input.emailNhan" placeholder="Email người nhận" required ng-pattern="shrCtrl.EMAIL_REGEXP" />
	                            <span class="error" ng-show="((submitted || submitted && addForm.emailNhan.$dirty) && addForm.emailNhan.$invalid)">
	                                <span ng-show="addForm.emailNhan.$error.required"> Yêu cầu nhập Email </span>
	                                <span ng-show="!addForm.emailNhan.$error.required && addForm.emailNhan.$error"> Email không hợp lệ </span>
	                            </span>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<div class="col-sm-12 text-align-left">
								<textarea class="form-control minHeight" rows="6" id="txtNoidung" name="noiDung" ng-model="shrCtrl.input.loiNhan" placeholder="Thông điệp gửi kèm"></textarea>
							</div>
						</div>
						<div class="form-group form-group-sm  mbt0">
							<div class="col-sm-12 text-align-left">
								<no-captcha width="100%"
    								g-recaptcha-response="gRecaptchaResponse"
    								theme='light'
    								control="noCaptchaControl"
    								site-key="6LeQkwgTAAAAAIIk8kKnChhlGBwVvDtCsW_cDVQG">
								</no-captcha>
								<span class="error" ng-show="(submitted && captchaEmpty)">
	                                <span> Yêu cầu xác nhận bạn không phải là người máy </span>
	                            </span>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<input type="submit" id="btnSubmitEmail" class="btn btn-primary" value="Hoàn tất"/>
					</div>
				</form>
            </div>
        </div>
</div>
</script>

