﻿<div ng-controller="LanguageCtrl">
<!-- nhung diem tham quan ko the bo lo -->
<div class="wd-portlet hot-destination">
	<div class="wd-portlet-title blue">
		<h2><a href="" class="translate" key="nhung_diem_tham_quan_khong_the_bo_qua">{{type != 'slide'?language.topDiemDen:language.diemDuLich}}</a></h2>
	</div>
	<div class="wd-portlet-body">
		<!-- 	<h3 class="tlh3-3">
		<a href="" class="translate" key="nhung_diem_tham_quan_khong_the_bo_qua">
				{{type != 'slide'?language.topDiemDen:language.diemDuLich}}
			</a>
		</h3> -->
		<div class="wd-local-visit">
			<div ng-if="type == 'slide'" class="control-div" >
				<span id="wd-prev-3" class="">&nbsp;</span>
				<span id="wd-next-3" class="">&nbsp;</span>
			</div>
			<div class="list_carousel">
			     <!-- list -->
				<div ng-if="type != 'slide'" class="wd-news-latest wd-news-latest-st3">
					<ul class="wd-list-news">
						<li ng-repeat="hotDestination in hotDestinations" style="float:none !important;">
							<div class="media" href="#">
								<a class="pull-left" ui-sref="serviceDetail({fieldId: hotDestination.idLinhVuc, serviceUrl: hotDestination.url})"> <img class="media-object"
									ng-src="{{hotDestination.anhDaiDien.urlThumbImage}}" width="70" height="48"
									alt="" />
								</a>
								<div class="media-body">
									<h4 class="media-heading">
										<a ui-sref="serviceDetail({fieldId: hotDestination.idLinhVuc, serviceUrl: hotDestination.url})">{{hotDestination.ten}}</a>
									</h4>
								</div>
							</div>
						</li>
					</ul>
					<!--end list-news-->
				</div>
				<!-- end list -->
				<!-- slide -->
				<ul ng-if="type == 'slide'" id="wd-slide-visit" >
					<li class="animated fadeIn" ng-repeat="hotDestination in hotDestinations">
						<div class="wd-thumbnail">
							<a class="process-img" ui-sref="serviceDetail({fieldId: hotDestination.idLinhVuc, serviceUrl: hotDestination.url})">
								<img ng-src="{{hotDestination.anhDaiDien.urlThumbImage}}" width="192" height="125" alt="" />
							</a>
							<div class="caption">
								<h3><a ui-sref="serviceDetail({fieldId: hotDestination.idLinhVuc, serviceUrl: hotDestination.url})">{{hotDestination.ten | truncateText:true:25}}</a></h3>
								<p>{{hotDestination.diaChi | truncateText:true:25}}</p>
								<div class="link-action">
									<span style="cursor:default;"><i class="iconmuch-comment">&nbsp;</i> {{hotDestination.comment}} </span>
									<span style="cursor:default;" class="ml12"><i class="iconmuch-heart">&nbsp;</i> {{hotDestination.interest}} </span>
								</div>
								<!-- <p>{{hotDestination.mota | truncateText:true:150}}</p> -->
								<div class="tac">
									<a ui-sref="serviceDetail({fieldId: hotDestination.idLinhVuc, serviceUrl: hotDestination.url})" class="btn-view-detail" role="button"><span class="translate" key="kham_pha_noi_nay">Khám phá nơi này</span> <i class="iconmuch-arrowRight">&nbsp;</i></a>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!--end local-visit-->
	</div>
</div></div>
<!-- nhung diem tham quan ko the bo lo .end -->
