﻿<div ng-controller="LanguageCtrl">
<!-- Mới cập nhật -->
<div class="wd-portlet">
	<div class="wd-portlet-title blue">
		<h2><a ui-sref="news" class="translate" key="tin_moi_nhat">{{language.tinMoiNhat}}</a></h2>
	</div>
	<div class="wd-portlet-body">
		<div class="wd-news-latest">
			<ul class="wd-list-news">
				<li class="animated fadeIn" ng-repeat="topNew in topNews">
					<div class="media" >
						<a class="pull-left" ui-sref="newsDetail({catId: topNew.alias, newsId: topNew.aliasBaiViet})">
							<img class="media-object lazy" ng-src="{{topNew.anhDaiDien.urlThumbImage}}" width="70" height="48" alt="" />
						</a>
						<div class="media-body">
							<h4 class="media-heading">
								<a ui-sref="newsDetail({catId: topNew.alias, newsId: topNew.aliasBaiViet})">{{topNew.tieuDe | truncateText:true: 55}}</a>
							</h4>
						</div>
					</div>
				</li>
			</ul>
			<!--end list-news-->
		</div>
	</div>
</div>
<!-- Mới cập nhật .end -->
</div>
</div>