﻿<!DOCTYPE html>
<html ng-app="nddkApp" >

<head>
	<title ng-bind="metaservice.titlePage()"></title>
	
    <meta name="fragment" content="!"/>
	<meta charset="UTF-8" />
	<!-- <meta http-equiv="content-language" content="vi" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta property="og:title" content="{{metaservice.metaKeywords()}}">
	<meta name="description" content="{{metaservice.metaDescription()}}">
	<meta property="og:description" content="{{metaservice.metaDescription()}}">
	<meta property="og:url" content="{{metaservice.siteUrl}}">
	<meta property="og:image" content="{{metaservice.thumbNailUrl()}}">
	<meta name="keywords" content="{{metaservice.metaKeywords()}}">
	<meta property="og:type" content="article">
	<meta property="og:site_name" content="YourDaNang">
	<meta http-equiv="Content-Language" content="vi">
	
	<!-- 			Social: Google+ / Schema.org  -->
	<meta itemprop="name" content="{{metaservice.metaKeywords()}}" />
	<meta itemprop="description" content="{{metaservice.metaDescription()}}" />
	<meta itemprop="image" content="{{metaservice.thumbNailUrl()}}" />

	<!-- 			Social: Twitter -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="YourDaNang">
	<meta name="twitter:title" content="{{metaservice.metaKeywords()}}">
	<meta name="twitter:description" content="{{metaservice.metaDescription()}}">
	<meta name="twitter:creator" content="@yourdanang">
	<!-- Twitter summary card with large image must be at least 280x150px -->
	<meta name="twitter:image:src" content="{{metaservice.thumbNailUrl()}}">
	
    <base href="/">
    <script>
		// Including this code will ensure that the page is not rendered until all JavaScript has finished executing
		//window.prerenderReady = true;		
	</script>
	
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick-theme.css" />
    <link rel="stylesheet" href="bower_components/animate.css/animate.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/bootstrap-select.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="styles/jquery-ui-1.10.3.custom.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="styles/font-awesome.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="styles/jquery.mmenu.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="styles/reset-intervale.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="styles/icons.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="styles/dd.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="styles/flexslider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="styles/easy-responsive-tabs.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="styles/colorbox.css" type="text/css" media="screen"/>  
    <link rel="stylesheet" href="styles/common-map.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="styles/component.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="styles/icons-map.css" type="text/css" media="screen"/>  
    <link rel="stylesheet" href="styles/common.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="styles/animate.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="styles/snap.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="styles/jquery.mCustomScrollbar.css" type="text/css" media="screen"/>  
    <link rel="stylesheet" href="styles/videogular.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="styles/dialogtheme/ngDialog.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="styles/dialogtheme/ngDialog-theme-default.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="styles/dialogtheme/custom-width-popup.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="styles/bootstrap-datetimepicker.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="styles/angucomplete-alt.css" type="text/css" media="screen"/>
    <!-- endbuild -->
    
</head>

<body>
    
    <!-- Add your site or application content here -->
    <div ng-include="'views/sidebar.html'"></div>
    <div id="page-layout">
        <div id="wd-wrapper">
            <div id="MenuTopPage" ng-include="'views/header.html'"></div>
            <div class="wd-content" ui-view></div>
            <div ng-include="'views/footer.html'"></div>
            <div ng-include="'views/partials/dialog.html'"></div>
            <div class="hidden-xs hidden-sm">
                <div id="wd_contact" class="flip-bottom">
                    <div class="arrow-down"></div>
                    <div class ="contain">
                        <span style="font-size: 13px;">Điện thoại hỗ trợ khách hàng</span>
                        <span id="close-balloon" style="margin-top: -10px; margin-right: -6px;">
                            <i class="icon-close fa fa-times fa-1" aria-hidden="true"></i>
                        </span>
                        <br>
                        <a href="javascript:void(0);" id="phone">
                            <i class="icon-phone fa fa-phone" aria-hidden="true"></i>
                            1900 94 96
                        </a>
                    </div>
                </div>
            </div>
            <p id="back-top">
                <a href="#top"><span></span></a>
            </p>
        </div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/slick-carousel/slick/slick.min.js"></script>
    <script src="bower_components/angular-slick-carousel/dist/angular-slick.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/videogular/videogular.js"></script>
    <script src="bower_components/videogular-flash/flash.js"></script>
    <script src="bower_components/videogular-overlay-play/vg-overlay-play.js"></script>
    <script src="bower_components/videogular-youtube/youtube.js"></script>
    <script src="bower_components/videogular-controls/vg-controls.js"></script>
    <script src="bower_components/angular-facebook/lib/angular-facebook.js"></script>
    <script src="bower_components/angular-google-plus/dist/angular-google-plus.js"></script>
    <script src="bower_components/videogular-poster/vg-poster.js"></script>
    <script src="bower_components/angular-no-captcha/src/angular-no-captcha.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/hello/dist/hello.all.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script type="text/javascript" src="lib/core/bootstrap-hover-dropdown.js"></script>
    <script type="text/javascript" src="lib/core/jquery.horizontalNav.min.js"></script>
    <script type="text/javascript" src="lib/core/jquery.dd.min.js"></script>
    <script type="text/javascript" src="lib/core/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="lib/core/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script type="text/javascript" src="lib/core/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="lib/core/jquery.colorbox-min.js"></script>
	<script type="text/javascript" src="lib/core/recaptcha_ajax.js"></script> 
	<script type="text/javascript" src="lib/core/jquery.raty.js"></script>   
	<script type="text/javascript" src="lib/core/jquery-mapvbd.min.js"></script>
	<script type="text/javascript" src="lib/core/bootstrap-select.min.js"></script>
	<script type="text/javascript" src="lib/core/jquery.mCustomScrollbar.concat.min.js"></script>
	<script type="text/javascript" src="lib/core/VBDMapAPI-min.js"></script>
	<script type="text/javascript" src="lib/core/swfobject.js"></script>
	<script type="text/javascript" src="lib/core/snap.min.js"></script>
	<script type="text/javascript" src="lib/core/addthis_widget.js"></script>
	<script type="text/javascript" src="lib/core/jwplayer.js"></script>
    <script type="text/javascript" src="lib/core/main.js"></script>
    <script type="text/javascript" src="lib/bootstrap-datetimepick/moment.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap-datetimepick/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="lib/core/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" src="lib/angucomplete-alt/angucomplete-alt.js"></script>
    
    <script src="scripts/app.js"></script>
    <script src="scripts/config.js"></script>
    <script src="scripts/plugins.js"></script>
    <script src="scripts/services/homeservice.js"></script>
    <script src="scripts/services/aboutservice.js"></script>
    <script src="scripts/services/newsservice.js"></script>
	<script src="scripts/services/registrationservice.js"></script>
	<script src="scripts/services/sharefellservice.js"></script>
	<script src="scripts/services/activeservice.js"></script>
	<script src="scripts/services/metaservice.js"></script>
	<script src="scripts/filters/commonfilter.js"></script>
    <script src="scripts/directives/lastestnewsdirective.js"></script>
    <script src="scripts/directives/hotdestinationdirective.js"></script>
    <script src="scripts/directives/advertising.js"></script>
	<script src="scripts/directives/pagination/dirPagination.js"></script>
	<script src="scripts/directives/contactdirective.js"></script>
	<script src="scripts/directives/ngDialog.js"></script>
	<script src="scripts/directives/angular-cookie.js"></script>
	<script src="scripts/directives/videoplayer.js"></script>
    <script src="scripts/controllers/home.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/abouttopic.js"></script>
    <script src="scripts/controllers/news.js"></script>
    <script src="scripts/controllers/newsdetail.js"></script>
	<script src="scripts/controllers/registration.js"></script>
	<script src="scripts/controllers/registration-success.js"></script>
	<script src="scripts/controllers/header.js"></script>
	<script src="scripts/controllers/map.js"></script>
	<script src="scripts/controllers/sharefeel.js"></script>
	<script src="scripts/controllers/sharefeel-detail.js"></script>
	<script src="scripts/controllers/login.js"></script>
	<script src="scripts/controllers/banner.js"></script>
    <script src="scripts/controllers/residence.js"></script>
    <script src="scripts/controllers/newstopic.js"></script>
    <script src="scripts/controllers/search.js"></script>
    <script src="scripts/controllers/residence-detail.js"></script>
    <script src="scripts/controllers/shopping-order.js"></script>
    <script src="scripts/controllers/order.js"></script>
    <script src="scripts/controllers/video.js"></script>
    <script src="scripts/controllers/language.js"></script>
    <script src="scripts/controllers/checkLogin.js"></script>
    <script src="scripts/controllers/checkShoppingCart.js"></script>
    <script src="scripts/controllers/eventBanner.js"></script>
    <script src="scripts/controllers/formatTime.js"></script>
    <script src="scripts/controllers/checkLoginPublic.js"></script>
    <script src="scripts/controllers/share-email.js"></script>
    <script src="scripts/controllers/meta.js"></script>
    <script src="scripts/controllers/warning.js"></script>
    <script src="scripts/controllers/quickOrder.js"></script>
    <script src="scripts/controllers/checkRegisterSucc.js"></script>
    <script src="scripts/controllers/career-detail.js"></script>
    <script src="scripts/controllers/careers.js"></script>
    <script src="scripts/controllers/registration-email.js"></script>
    <script src="scripts/controllers/menu.js"></script>
    <script src="scripts/controllers/slogan.js"></script>
	<script src="scripts/directives/angular-google-plus.js"></script>
	<script src="scripts/directives/angular-facebook.js"></script>
    <script src="scripts/directives/angular-facebook-phonegap.js"></script>
	<script src="scripts/directives/flash.js"></script>
	<script src="scripts/directives/ngEnter.js"></script>
	<script src="angular-seo.js"></script>
    <!-- endbuild -->
</body>

</html>