@CHARSET "UTF-8";

.ngdialog.ngdialog-theme-default.custom-width-login-default .ngdialog-content {
    width: 833px;
}

.ngdialog.ngdialog-theme-default.custom-width-login-popup .ngdialog-content {
    width: 833px;
}

.ngdialog.ngdialog-theme-default.custom-width-login-popup-public .ngdialog-content {
    width: 475px;
}

.ngdialog.ngdialog-theme-default.custom-width-share-popup .ngdialog-content {
    width: 833px;
}

.ngdialog.ngdialog-theme-default.custom-width-order .ngdialog-content {
    width: 398px;
    padding-top:0px;
    padding-left:0px;
    padding-right:0px;
    padding-bottom:0px;
}