﻿<div ng-controller="CheckLoginPublicCtrl"></div>
<div ng-controller="LanguageCtrl">
<div id="wd-content-container">
	<div class="container">
		<ol class="breadcrumb noboradius nobg">
		<li><a ui-sref="home" class="translate" key="trang_chu">{{language.trangChu}}</a></li>
		<li><a ui-sref="about" class="translate" key="ve_da_nang">{{language.veDaNang}}</a></li>
		<li class="active translate" key="ve_da_nang" id="contTitleNewsBread">{{aboutTopicsName}}</li>
	</ol>

	<div class="row rowParent mb20">
		<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
			<!-- <div class="row">
				<form ng-submit="aboutTopicCtrl.getListAboutTopic(1)">
					<div class="col-lg8 col-md-8 col-md-12 col-xs-12" style="margin-left:9px;">
						<angucomplete-alt id="searchsugges"
					          placeholder="Nhập nội dung tìm kiếm"
					          pause="200"
					          selected-object="objSugges"
					          remote-url="http://api.yourdanang.vn/a//articles/{{aboutTopicCtrl.lang}}/topic/alias/sugges/{{aboutTopicCtrl.topic}}?name="
					          remote-url-data-field="data.items.data"
					          title-field="tieuDe"
					          input-class="form-control form-control-small"
					          ng-click=""/>
					    <input class="form-control" type="text" ng-model="aboutTopicCtrl.keywords" placeholder="Nhập nội dung" />
					</div>
					<div class="col-lg-2 col-md-2 col-md-12 col-xs-12">
						<div class="col-sm-3" style="margin-left:9px; width: 100px;">
	                        <button type="submit" class="btn btn-default btn-primary" style="width:100px;"
	                        	ng-click="aboutTopicCtrl.getListAboutTopic(1)">{{language.tim}}</button>
	                   	</div>
					</div>
				</form>
			</div> -->
			<div class="wd-title-top clearfix">
				<div class="wd-search-booking">
					<div class="input-group-booking">
						<div class="crossword">
							<form  ng-submit="aboutTopicCtrl.getListAboutTopic(1)">
								<input type="text" name="" ng-model="aboutTopicCtrl.keywords"
									placeholder="{{placeholder}}" class="form-control" />
							</form>
							<button type="submit" ng-click="aboutTopicCtrl.getListAboutTopic(1)" class="btn-smb">&nbsp;</button>
						</div>
					</div>
				</div>
			</div>
			<!-- loader -->
			<div class="row rowParent2 mb20" ng-if="aboutTopics.length == 0">
				<div class="col-md-12" ><div class="around-loader"></div></div>
			</div>
			<!-- main-content -->
			<div class="wd-main-content about-topic">
				<div class="wd-title">
                    <h2 class="tlh2-3">
                        <a href="javascript:void(0)">
                            <span class="animated fadeIn">{{aboutTopicsName}}</span>
                        </a>
                    </h2>
                </div>
				<ul class="wd-list-topic" id="contTopicAbout">
					<div dir-paginate="topic in aboutTopics | itemsPerPage : everyPage" current-page="aboutTpCtrl.page"
						total-items="total" pagination-id="listOfAboutTopic">
						<li class="animated fadeIn">
							<a ui-sref="aboutDetail({catId:'{{topic.alias}}', aboutId: '{{topic.aliasBaiViet}}'})">
								<img alt="" width="180" height="117" ng-src="{{topic.anhDaiDien.urlThumbImage}}" class="wd-img-news lazy" /></a>
							<h4><a ui-sref="aboutDetail({catId:'{{topic.alias}}', aboutId: '{{topic.aliasBaiViet}}'})" ng-bind-html="topic.tieuDe"></a></h4>
							<div class="pt3 pb3">
								<span class="wd-text"><i class="fa fa-calendar-o"></i> Ngày đăng: {{topic.ngayBatDauXuatBanStr}} </span>
								<span class="wd-text mr10 ml10">|</span>
								<span class="wd-text"><i class="fa fa-eye"></i> Lượt xem:  {{topic.view}}</span>
							</div>
							<p class="cut-topic">{{topic.tomTat | truncateText:true:160}}</p>
						</li>
					</div>
					<li ng-show="isLoaded && aboutTopics.length == 0">Không có kết quả nào được tìm thấy</li>
				</ul>

				<!--end article-->
				<div id="page-selection" class="tac wd-paging">
					<dir-pagination-controls
						template-url="/views/dirPagination.tpl.html"
						on-page-change="aboutTpCtrl.getListAboutTopic(newPageNumber)"
						pagination-id="listOfAboutTopic"></dir-pagination-controls>
				</div>
			</div>
			<!-- main-content -->
		</div>
		<!-- right content -->
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
			<div class="wd-right-content">
				<div lastest-news></div>
				<div hot-destination></div>
				<advertising-right linkBanner="banner_5"></advertising-right>
				<advertising-right linkBanner="banner_6"></advertising-right>
				<advertising-right linkBanner="banner_7"></advertising-right>
			</div>
		</div>
		<!--end right-content-->
	</div>
</div>
</div>