﻿<div ng-controller="CheckLoginPublicCtrl"></div>
<div ng-controller="LanguageCtrl">
<div id="wd-content-container" class="clearfix">
	<div class="container">
		<ol class="breadcrumb noboradius nobg">
			<li><a ui-sref="home" class="translate" key="trang_chu">{{language.trangChu}}</a></li>
			<li class="active translate" id="contBreadIntro" key="ve_da_nang">{{language.veDaNang}}</li>
		</ol>
		<div class="row rowParent mb20">
			<div class="col-xs-12">
				<!-- main-content -->
				<div class="wd-main-content">
					<div class="row rowParent2 effects-items" id="contLstTopicAbout">
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb20" ng-repeat="about in abouts">
							<div class="wd-module" ng-class="{hover: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" >
								<div class="thumbnail">
									<img ng-src="{{about.anhDaiDien.urlThumbImage}}" alt="" width="100%" height="284" class="lazy" />
								</div>
								<div class="overlay-caption">
									<h3><a ui-sref="aboutTopic({catId: '{{about.alias}}'})">{{about.ten}}</a></h3>
									<p>{{about.moTa | truncateText:true:160}}</p>
									<a ui-sref="aboutTopic({catId: '{{about.alias}}'})" class="view-detail">Xem chi tiết</a>
								</div>
							</div>
						</div>
					</div>
					<!--end row-->
				</div>
				<!-- main-content -->
			</div>
		</div>
	</div> <!-- end container -->
</div>
</div>