﻿<div ng-controller="CheckLoginPublicCtrl"></div>
<div ng-controller="LanguageCtrl">
<div id="wd-content-container" class="clearfix">
	<div class="container">
		<ol class="breadcrumb noboradius nobg">
			<li><a ui-sref="home" class="translate" key="trang_chu">{{language.trangChu}}</a></li>
			<li><a ui-sref="about" class="translate" key="ve_da_nang">{{language.veDaNang}}</a></li>
			<li><a ui-sref="aboutTopic({catId: aboutDetail.alias})" id="contAliasBread">{{aboutDetail.chuDe.ten}}</a></li>
			<li class="active">{{aboutDetail.tieuDe}}</li>
		</ol>
		<div class="row rowParent mb20">
			<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
				<!-- main-content -->
				<div class="wd-main-content">
					<div class="wd-introduction">
						<!-- loader -->
						<div class="row rowParent2 mb20" ng-if="!aboutDetail">
							<div class="col-md-12" ><div class="around-loader"></div></div>
						</div>
						<div id="contIntro" ng-show="aboutDetail">
							<div class="animated fadeIn">
								<h3 class="tlh3-2" id="lblTitle">{{aboutDetail.tieuDe}}</h3>
								<div class="clearfix">
									<p class="wd-title-post pull-left"><i class="fa fa-calendar-o mr4"></i><span class="wd-text translate" key="ngay_dang">Ngày đăng: {{aboutDetail.ngayBatDauXuatBanStr}}</span><span class="wd-text mr15 ml15">|</span><i class="fa fa-eye mr4"></i><span class="wd-text translate" key="luot_xem">Lượt xem: {{aboutDetail.view}}</span></p>
									<ul class="wd-connect-machine">
										<li class="mis-email">
											<a href="" ng-click="aboutDetailCtrl.popupEmail()" >
											<i class="fa fa-envelope-o">&nbsp;</i>
											</a>
										</li>
										<li><a href="" ng-click="print('contIntro')"><i class="fa fa-print">&nbsp;</i></a></li>
									</ul>
								</div>
								<p ng-bind-html="aboutDetail.noiDung | to_trusted"></p>
								<p class="tar"><strong>{{aboutDetail.tacGia}}</strong></p>
							</div>
						</div>
						<div class="clearfix">
							<div id="contInterest">

							</div>
							<div id="addthis" class="addthis_toolbox addthis_default_style">
								<a class="addthis_button_facebook_like pr10" fb:like:layout="button_count"></a>
								<a class="addthis_button_google_plusone pr10 wdt72" g:plusone:size="medium"></a>
								<a class="addthis_button_tweet" tw:via="addthis"></a>
							</div>
						</div>

						<div class="wd-main-content mt20 ft">
							<div class="tin-tuc-khac-head">
								<h2><a href="javascript:void(0)" class="translate" key="tin_tuc_khac">{{language.tinTucKhac}}:</a></h2>
							</div>
							<ul class="row rowParent wd-list-news wd-list-news-nav" id="contPartOtherNews">
								<li class="col-xs-12 col-sm-6 col-md-6 col-lg-6 animated fadeIn" ng-repeat="related in newsRelatedArticles">
									<div class="media">
										<a ui-sref="aboutDetail({catId:'{{related.alias}}', aboutId: '{{related.aliasBaiViet}}'})" class="pull-left">
											<img width="70" height="48" alt="{{related.anhDaiDien.moTa}}" ng-src="{{related.anhDaiDien.urlThumbImage}}" class="media-object">
										</a>
										<div class="media-body">
											<h4 class="media-heading">
												<a ui-sref="aboutDetail({catId:'{{related.alias}}', aboutId: '{{related.aliasBaiViet}}'})">
													{{related.tieuDe}}
												</a>
											 </h4>
											 <p class="color-grey">{{related.ngayBatDauXuatBanStr}}</p>
										 </div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!--end article-->
				</div>
				<!-- main-content -->
			</div>
			<!-- right content -->
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
				<div class="wd-right-content">
					<div lastest-news></div>
					<div type="slide" hot-destination></div>
					<advertising-right linkBanner="banner_5"></advertising-right>
					<advertising-right linkBanner="banner_6"></advertising-right>
					<advertising-right linkBanner="banner_7"></advertising-right>
				</div>
			</div>
			<!--end right-content-->
		</div>
		<!--end row-->
	</div>
</div>
<!--end wd-content-container-->
</div>
<!-- reload addthis -->
<script type="text/javascript">
	addthis.toolbox("#addthis");
</script>
