﻿<div ng-controller="LanguageCtrl">
    <div id="wd-footer-container">
        <div class="container-fluid footer-container">
            <div class="container">
                <div class="row rowParent footer-content" ng-controller="MenuCtrl">
                    
                    <div class="row rowParent regmail-content"  ng-controller="registrationEmailCtrl as regEmailCtrl">
                        <div class="col-md-12 col-sm-12 regmail-sub-content">
                            <div class="row">
                                <div class="col-md-12 col-sm-12"><h2 class="title">Đăng ký nhận tin khuyến mãi</h2></div>
                                <div class="col-md-12 col-sm-12 registerEmailForm" style="padding-left:0;">
                                    <form name="myForm" novalidate>
                                        <div>
                                            <div class="col-xs-12 col-sm-12 col-md-5 panelFullName">
                                                <div class="form-group">
                                                    <input type="text" ng-class="{'form-control':true, 'error': submitted && ((myForm.fullName.$dirty && myForm.fullName.$invalid) || (myForm.fullName.$invalid))}" id="txtFMailName" name="fullName" ng-model="fullName" placeholder="Họ tên bạn" style="margin-top:0 !important;" required>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-5 panelEmail">
                                                <div class="form-group">
                                                    <input type="text"ng-class="{'form-control':true, 'error':submitted && ((myForm.email.$dirty && myForm.email.$invalid) || (myForm.email.$invalid))}" id="txtFMailAddress" ng-pattern="EMAIL_REGEXP" name="email"
                                                    ng-model="email" placeholder="Email" style="margin-top:0 !important;" required>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-2">
                                                <input type="submit" id="btnMailSubmit" class="btn btn-default btn-primary btn-block" ng-click="regEmailCtrl.regEmail()"
                                                value="{{language.dangKy}}">
                                            </div>
                                            
                                        </div>
                                        <div id="message" class="col-xs-12 col-sm-12 col-md-5">
                                            <span ng-if="regEmailCtrl.showMessage != ''" style="color:#F1F70A; display:block;">
                                                {{regEmailCtrl.showMessageError}}
                                            </span>
                                            <span ng-if="regEmailCtrl.showMessageSuccess != ''"
                                                style="color:#54FF1F; display:block;">{{regEmailCtrl.showMessageSuccess}}</span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7 col-sm-12 footer-sub-content">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <a ui-sref="about" ng-Click="menuCtrl.clickMenuCurrent('veDaNang')">
                                    <h2 class="title">{{menuMainVeDaNang}}</h2>
                                </a>
                                <ul class="sub-menu" ng-if="menuMainVeDaNang != ''">
                                    <li ng-repeat="m in menuVeDaNang">
                                        <a ng-Click="menuCtrl.clickMenuCurrent('veDaNang')"
                                            ui-sref="aboutTopic({catId: '{{m.alias}}'})">{{m.ten}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <a ui-sref="service({'fieldId':menuSanPhamDichVu[0].ma})"
                                    ng-Click="menuCtrl.clickMenuCurrent('dichVu')">
                                    <h2 class="title">{{menuMainSanPhamDichVu}}</h2>
                                </a>
                                <ul class="sub-menu" ng-if="menuMainSanPhamDichVu != ''">
                                    <li ng-repeat="m in menuSanPhamDichVu">
                                        <a ng-Click="menuCtrl.clickMenuCurrent('dichVu')"
                                            ui-sref="service({'fieldId':m.ma})">{{m.ten}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <h2 class="title">{{language.trangKhac}}</h2>
                                <ul class="sub-menu">
                                    <li>
                                        <a ng-Click="menuCtrl.clickMenuCurrent('tinTuc')" ui-sref="news">
                                            {{menuMainTinNong}}
                                        </a>
                                    </li>
                                    <li>
                                        <a ng-Click="menuCtrl.clickMenuCurrent('muaSam')" ui-sref="shoppingOrder">
                                            {{menuMainMuaSam}}
                                        </a>
                                    </li>
                                    <li>
                                        <a ng-Click="menuCtrl.clickMenuCurrent('chiaSeCamNhan')" ui-sref="shareFeel">
                                            {{menuMainChiaSeCamNhan}}
                                        </a>
                                    </li>
                                    <li>
                                        <a ng-Click="menuCtrl.clickMenuCurrent('banDo')" ui-sref="map">
                                            {{menuMainBanDo}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12 footer-sub-content" style="padding-left:0;">
                        <h2 class="title">{{language.thongTinLienHe}}</h2>
                        <div class="contact"> 
                            <span>TRUNG TÂM THÔNG TIN DỊCH VỤ CÔNG ĐÀ NẴNG</span>
                            <span>Tầng 11 - Công viên phần mềm, số 02 Quang Trung, Đà Nẵng</span>
                            <span>Email: <span style="color:#39ACE4; display:inline-block;">
                                dichvucong@danang.gov.vn</span></span>
                        </div>
                        <ul class="row social">
                            <div class="col-md-4 col-sm-12 col-xs-12" style="padding-left:0; padding-bottom:10px;">
                                <h2 class="title">{{language.mangXaHoi}}</h2>
                            </div>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <li>
                                    <a target="_blank" href="https://www.facebook.com/">
                                        <i class="iconmuch-fackbook">&nbsp;</i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://twitter.com/">
                                        <i class="iconmuch-twitter">&nbsp;</i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://plus.google.com/">
                                        <i class="iconmuch-google">&nbsp;</i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.youtube.com/">
                                        <i class="iconmuch-youtube">&nbsp;</i>
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>

                <!-- <div class="row rowParent regmail-content"  ng-controller="registrationEmailCtrl as regEmailCtrl">
                    <div class="col-md-12 col-sm-12 regmail-sub-content">
                        <div class="row">
                            <div class="col-md-8 col-sm-8">
                                <p>Đăng ký nhận tin khuyến mãi:</p>
                                <form name="myForm" novalidate>
                                    <div>
                                        <div class="col-xs-12 col-sm-12 col-md-4" style="padding-left:0;">
                                            <div class="form-group">
                                                <input type="text" ng-class="{'form-control':true, 'error': submitted && ((myForm.fullName.$dirty && myForm.fullName.$invalid) || (myForm.fullName.$invalid))}" id="txtFMailName" name="fullName" ng-model="fullName" placeholder="Họ tên bạn" style="margin-top:0 !important;" required>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-4" style="padding-left:0;">
                                            <div class="form-group">
                                                <input type="text"ng-class="{'form-control':true, 'error':submitted && ((myForm.email.$dirty && myForm.email.$invalid) || (myForm.email.$invalid))}" id="txtFMailAddress" ng-pattern="EMAIL_REGEXP" name="email"
                                                ng-model="email" placeholder="Email" style="margin-top:0 !important;" required>
                                            </div>
                                        </div>
                                        <input type="submit" id="btnMailSubmit" class="wd-btn-default" ng-click="regEmailCtrl.regEmail()"
                                            value="{{language.dangKy}}">
                                    </div>
                                    <div id="message">
                                        <span ng-if="regEmailCtrl.showMessage != ''" style="color:#F1F70A; display:block;">
                                            {{regEmailCtrl.showMessageError}}
                                        </span>
                                        <span ng-if="regEmailCtrl.showMessageSuccess != ''"
                                            style="color:#54FF1F; display:block;">{{regEmailCtrl.showMessageSuccess}}</span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> -->

            </div>
        </div> 
        <div class="container-fluid footer-developers">
            <div class="container">
                <div class="copy-right col-md-8 col-sm-8 col-xs-8">&copy; {{language.banQuyenThuocVeTPDaNang}}</div>
                <div class="design-by col-md-4 col-sm-4 col-xs-4">{{language.phatTrienBoi}} 
                    <a href="http://toancauxanh.vn/" target="_blank">{{language.toanCauXanh}}</a>
                </div>
            </div>
        </div>
    </div>
</div>



