<div ng-controller="CheckLoginPublicCtrl"></div>
<div id="wd-content-container" class="clearfix">
	<div class="container">
		<div class="wd-mess-succ-content pt45 pb50">
			<h2 class="tlh3-5 pr35 pb30 translate" key="quen_mat_khau">Quên mật khẩu ?</h2>
			<span style="color:green" ng-show="msgSendEmailSuccess != ''">{{msgSendEmailSuccess}}</span>
			<div class="show-error-register error-forgot-pass"></div>
			<div class="form-content form-forgotpass-content pr35 pb15">
				<fieldset class="form-horizontal" role="form" >
				<form name="myForm" novalidate >
					<div>
						<div class="form-group pt5" >
							<label for="inputEmail" class="col-sm-2 control-label translate tar pr0" key="nhap_email">Nhập email</label>
							<div class="col-sm-6">
								<input type="email" class="form-control wd_err" ng-model="email" ng-pattern="EMAIL_REGEXP" required
										name="email" placeholder="Email" data-rule-required="true"
										data-msg-required="Vui lòng nhập địa chỉ Email"
										data-rule-email="true"
										data-msg-email="Địa chỉ email không chính xác" />
									<span style="color:red" ng-show="submitedSendEmail &&((myForm.email.$dirty && myForm.email.$invalid) || (myForm.email.$invalid))">
										<span ng-show="myForm.email.$error.required">Vui lòng nhập Email</span>
										<span ng-show="myForm.email.$error && !myForm.email.$error.required">Email không hợp lệ</span>
									</span>
							</div>
							<div class="col-sm-4 wd-bt-gr">
								<input type="hidden" name="id"  id="hiddendId">
								<button type="submit" class="wd-btn-default translate" key="gui" id="btnForgot" ng-click="sendEmail()">Gửi</button>
							</div>
						</div>
					</div>
				</form>
				
				</fieldset>
			</div>
		</div>
	</div>
</div>
<!--end wd-content-container-->	