<div ng-controller="CheckLoginPublicCtrl"></div>
<div id="wd-content-container" class="clearfix">
	<div class="container">
		<div class="wd-mess-succ-content pt45 pb50">
			<h2 class="tlh3-5 pr35 pb30 translate" key="quen_mat_khau">Lấy
				lại mật khẩu</h2>
			<div class="show-error-register error-forgot-pass"></div>
			<div class="form-content form-forgotpass-content pr35 pb15">
				<fieldset class="form-horizontal" role="form">
					<form name="myForm" novalidate>
							<div class="form-group">
								<label for="inputPassword" class="col-sm-2 control-label">Mật khẩu: </label>
								<div class="col-sm-4">
									<input type="password" class="form-control" id="inputPassword" name="passwordNew" ng-model="passwordNew" placeholder="Nhập mật khẩu" required>
									<span style="color:red" ng-show="submitedChange && ((myForm.passwordNew.$dirty && myForm.passwordNew.$invalid) || (myForm.passwordNew.$invalid))">
										<span ng-show="myForm.passwordNew.$error.required">Yêu cầu nhập Mật khẩu</span>
									</span>
								</div>
							</div>
							<div class="form-group">
								<label for="inputPassword2" class="col-sm-2 control-label">Nhập lại mật khẩu: </label>
								<div class="col-sm-4">
									<input type="password" class="form-control" id="inputPassword2" name="passwordNew_confirm" ng-model="passwordNew_confirm" match-pas="passwordNew" placeholder="Nhập mật khẩu" required>
									<span style="color:red" ng-show="submitedChange && ((myForm.passwordNew_confirm.$dirty && myForm.passwordNew_confirm.$invalid) || (myForm.passwordNew_confirm.$invalid))">
										<span ng-show="myForm.passwordNew_confirm.$error.required">Yêu cầu nhập lại Mật khẩu</span>
									</span>
									<span style="color:red" ng-show="msgConfirm">Mật khẩu không khớp</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"></label>
								<div class="col-sm-4 wd-bt-gr">
								<input type="hidden" name="id" id="hiddendId">
								<button type="submit" class="wd-btn-default translate" key="gui"
									id="btnForgot" ng-click="changePassword()">Gửi</button>
							</div>
							</div>
					</form>
				</fieldset>
			</div>
			<span style="color:green" ng-show="msgChangePass != ''">{{msgChangePass}}  
			<a ng-show="msgChangePass != ''" href="" ng-click="openPopup()">{{msgChangePass2}} </a> {{msgChangePass3}}</span>
		</div>
	</div>
</div>
<!--end wd-content-container-->
