﻿<div ng-controller="MenuMainCtrl"></div>
<div class="navbar navbar-default" ng-controller="LanguageCtrl">
	<div class="positionmenu no-sticky" id="wd-head-container">
		<div class="container">
			<div class="row">
				<div class="col-md-12 block_header">
					<a href="javascript:void(0)" id="btClickLeftNav" class="btn-hamburger hidden-sm hidden-md hidden-lg"><span></span></a>
					<h1 ng-controller="SloganCtrl as sloganCtrl">
						<a class="hidden-sm hidden-mg hidden-lg" ui-sref="home" id="wd-logo-mobile">&nbsp;</a>
						<span style="background-color:#FFFFFF; float:left; height:36px;"><a class="hidden-xs" ui-sref="home" id="wd-logo">&nbsp;</a></span>
						<span class="slogan hidden-xs">Cổng Thông Tin Dịch Vụ Công ĐN</span>
					</h1>

					<div class="wd-header-map-r hidden-sm hidden-md hidden-lg" ng-controller="LoginCtrl">
						<ul ng-show="user == null ? false : true" id="contUserLogin" class="wd-user-login-hd-map mt5">
							<li class="wd-nt">
								<a ng-if="user.userProfile.avataImage != 'null'" href="javascript:void(0)" class="wd-avatar-hd-map" style="margin-top: -3px;">
									<img class="wd-img-bd-map" ng-src="{{user.userProfile.avataImage}}" alt="" style="height:34px; width:34px;"/>
								</a>
								<a ng-show="user.userProfile.avataImage == 'null'" href="javascript:void(0)" class="wd-avatar-hd-map" style="margin-top: -3px;">
									<img class="wd-img-bd-map" src="/images/front/avartar_default.jpg" alt="" style="height:34px; width:34px;"/>
								</a>
								<div class="dropdown wd-seting-map">
									<a href="javascript:void(0)" id="dLabel" role="button"  data-toggle="dropdown"><i class="fa"><img src="/images/front/arrow-down-white.png" alt="" style="height:13px; width:18px;margin-top:-3px;  margin-left: -2px;"/></i></a>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
										<li ng-show="user.business || user.sys">
											<a href="http://backend.yourdanang.vn/" target="blank">{{language.quanLyDoanhNghiep}}</a>
											<!-- <a href="http://192.168.1.247/nddk" target="blank">{{language.quanLyDoanhNghiep}}</a> -->
										</li>
										<li><a ui-sref="profile">{{language.thongTinTaiKhoan}}</a></li>
										<li><a href="javascript:void(0)" ng-click="logout()" id="btnLogout">{{language.dangXuat}}</a></li>
									</ul>
								</div>
							</li>
						</ul>
						<a ng-show="user == null ? true : false" href="javascript:void(0)" ng-click="openPopup()" style="color: #fff;float:right;margin-top: 2px;" class="wd-avatar-hd-map">
							<img class="wd-img-bd-map" src="/images/front/avartar_default.jpg" alt="" style="height:34px; width:34px;"/>
						</a>
					</div>

					<div class="hotline hidden-sm hidden-md hidden-lg">
						<span class="name-lab">Hotline:</span> <span class="number-hotline">1900 94 96</span>
					</div>

					<div class="wd-page-header hidden-xs">
						<div class="wd-top-info">
							<ul class="wd-panel">
								<li>
									<ul ng-controller="MenuCtrl" class="wd-language-l">
										<li><a href="javascript:void(0)" ng-click="menuCtrl.changeLanguage('vn')" id="langVn"><img
											src="images/front/flag_vietnam.png" alt="Viet Nam" /></a></li>
										<li><a href="javascript:void(0)" ng-click="menuCtrl.changeLanguage('en')" id="langEn"><img
											src="images/front/flag_united_kingdom.png" alt="English" /></a></li>
									</ul>
								</li>
								<li ng-controller="LoginCtrl"><a ng-click="openPopup()" href="javascript:void(0)"
									class="sign-in wd-popup-cbt">
									<i ng-show="user == null ? true : false" class="iconmuch-sign-in">&nbsp;</i>
									<span ng-show="user == null ? true : false" class="translate" key="dang_nhap">{{language.dangNhap}}</span></a>

									<ul ng-show="user == null ? false : true" class="wd-user-login-hd">
										<!-- Insert temmplate InfoUserLogin -->
										<li class="wd-nt">
											<a ng-show="user.userProfile.avataImage != 'null'" class="wd-avatar-hd">
												<img class="wd-img-bd" ng-src="{{user.userProfile.avataImage}}" alt=""
													height="34" width="34"/>
											</a>
											<a ng-show="user.userProfile.avataImage == 'null'" class="wd-avatar-hd">
												<img class="wd-img-bd" src="/images/front/avartar_default.jpg" alt="" height="34" width="34"/>
											</a>

											<div class="dropdown wd-seting">
												<a href="" id="fullNameLogin" role="button" data-toggle="dropdown">{{user.displayname}}<i class="fa fa-angle-down ml10"></i></a>
												<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
													<li ng-show="user.business || user.sys">
														<a href="http://backend.yourdanang.vn/" target="blank">{{language.quanLyDoanhNghiep}}</a>
														<!-- <a href="http://192.168.1.247/nddk" target="blank">{{language.quanLyDoanhNghiep}}</a> -->
													</li>
													<li ng-show="user.socialId == null"><a href="javascript:void(0)" ui-sref="profile">{{language.thongTinTaiKhoan}}</a></li>
													<li><a href="" ng-click="logout()" >{{language.dangXuat}}</a></li>
												</ul>
											</div>
										</li>
									</ul></li>
								<li><a href="javascript:void(0)" ui-sref="shoppingCart" class="check-card" ng-controller="MenuCtrl"><span
										class="iconmuch-cart"><span class="notification" id="notification-span">
											<label id="notifyQuantity" ng-bind="quantityShoppingCart" /></span></span> <span
										class="translate card-store" key="gio_hang">{{language.gioHang}}</span></a></li>
							</ul>
						</div>
						<div class="wd-tasks-widget">
							<div class="hotline">
								<span class="name-lab">Hotline:</span> <span
									class="number-hotline">1900 94 96</span>
							</div>
							<!-- <div class="wd-search-location">
								<div class="form-group" ng-controller="SearchCtrl">
									<input type="text" ng-enter="searchCtrl.getEnterKey()" ng-model="searchCtrl.keywords" id="enterTextSearch"
										class="form-control" placeholder="Nhập thông tin cần tìm" />
									<a ui-sref="search({keywords: searchCtrl.keywords})" class="bt-search">&nbsp;</a>
								</div>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header-->
	<div id="wd-nav-device">
		<ul>
			<li class="selected"><a href="#">Về đà Nẵng</a></li>
			<li><a href="javascript:void(0)">Trải nghiệm</a></li>
			<li><a href="javascript:void(0)">Tin tức - Sự kiện</a></li>
			<li><a href="javascript:void(0)">Chia sẻ - Cảm nhận</a></li>
			<li><a href="javascript:void(0)">Thông tin hữu ích</a></li>
		</ul>
	</div>
	<!--end nav-device-->
	<div id="wd-menu-desktop" class="hidden-xs" ng-controller="MenuCtrl">
		<!-- position of container relative -> style cho popover search -->
		<div class="container" id="container-dropdown" style="position:relative">
			<div class="row" style="padding-left:6px;">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mega-menu hidden-xs" style="padding:0;">
					<div class="full-width" >
						<ul class="wd-dropdownMenu">
							<li ng-repeat="menu in menuList"
								ng-class="{'mega-menu-dropdown': menu.alias == 've-da-nang' || menu.alias == 'san-pham-dich-vu'}">
								<a ui-sref="home" class="link-home" id="homeMenu"
									ng-click="menuCtrl.clickMenuCurrent('home')" ng-if="menu.alias=='trang-chu'">
									<i class="iconmuch-home">&nbsp;</i>
								</a>
								<a id="veDaNangMenu" ui-sref="about" class="translate dropdown-toggle"
									key="ve_da_nang" ng-Click="menuCtrl.clickMenuCurrent('veDaNang')"
									data-toggle="dropdown" data-hover="dropdown" data-delay="200"
									data-close-others="true" ng-if="menu.alias=='ve-da-nang'">{{menu.tenMenu}}
								</a>
								<ul class="dropdown-menu mega-menu-content mega-menu-submenu" id="contNavIntro"
									ng-if="menu.alias=='ve-da-nang'">
									<li ng-repeat="m in menuVeDaNang">
										<a ng-Click="menuCtrl.clickMenuCurrent('veDaNang')"
											ui-sref="aboutTopic({catId: '{{m.alias}}'})">{{m.ten}}
										</a>
									</li>
								</ul>
								<a id="tinTucMenu" ng-Click="menuCtrl.clickMenuCurrent('tinTuc')" ui-sref="news"
									ng-if="menu.alias=='tin-nong'"
									class="translate" key="tin_tuc_khuyen_mai">{{menu.tenMenu}}
								</a>
								<a id="dichVuMenu" ui-sref="service({'fieldId':menuSanPhamDichVu[0].ma})"
									ng-mouseover="menuCtrl.getDichVuHot(1)"
									class="dropdown-toggle translate" key="san_pham_dich_vu"
									data-toggle="dropdown" data-hover="dropdown" data-delay="200"
									data-close-others="true" ng-if="menu.alias=='san-pham-dich-vu'" 
									ng-Click="menuCtrl.clickMenuCurrent('dichVu')">{{menu.tenMenu}}</a>
								<ul class="dropdown-menu wd-dropdown-menu-cus1 mega-menu-content mega-menu-submenu"
									id="contNavLink" ng-if="menu.alias=='san-pham-dich-vu'" >
									<li ng-repeat="m in menuSanPhamDichVu" ng-mouseover="menuCtrl.getDichVuHot(m.id)">
										<a ng-Click="menuCtrl.clickMenuCurrent('dichVu')"
											ui-sref="service({'fieldId':m.ma})">{{m.ten}}
										</a>
									</li>
								</ul>
								<a href="javascript:void(0)" id="muaSamMenu" ui-sref="shoppingOrder"
									ng-if="menu.alias=='mua-sam'"
									ng-Click="menuCtrl.clickMenuCurrent('muaSam')" ng-click="clickMenu()"
									class="translate" key="mua_sam">{{menu.tenMenu}}
								</a>
								<a id="chiaSeCamNhanMenu" ng-Click="menuCtrl.clickMenuCurrent('chiaSeCamNhan')"
									ng-if="menu.alias=='chia-se-cam-nhan'"
									ui-sref="shareFeel" class="translate" key="chia_se_phan_anh">
									{{menu.tenMenu}}
								</a>
								<!-- <a id="banDoMenu" ui-sref="map" class="link-map" ng-if="menu.alias=='ban-do'"
									ng-Click="menuCtrl.clickMenuCurrent('banDo')">
									<i class="iconmuch-map">&nbsp;</i>
									<span class="translate" key="tim_tren_ban_do">{{menu.tenMenu}}</span>
								</a> -->
								<a id="banDoMenu" ui-sref="map" class="translate"
									ng-if="menu.alias=='ban-do'"
									ng-Click="menuCtrl.clickMenuCurrent('banDo')">
									<span class="translate" key="tim_tren_ban_do">{{menu.tenMenu}}</span>
								</a>
							</li>
						</ul>
						<!-- <ul class="wd-dropdownMenu">
							<li>
								<a ui-sref="home" class="link-home" id="homeMenu"
									ng-click="menuCtrl.clickMenuCurrent('home')"><i
									class="iconmuch-home">&nbsp;</i>
								</a>
							</li>
							<li class="mega-menu-dropdown">
								<a id="veDaNangMenu" ui-sref="about" class="translate dropdown-toggle"
									key="ve_da_nang" ng-Click="menuCtrl.clickMenuCurrent('veDaNang')"
									data-toggle="dropdown" data-hover="dropdown" data-delay="200"
									data-close-others="true">{{language.veDaNang}}
								</a>
								<ul class="dropdown-menu mega-menu-content mega-menu-submenu" id="contNavIntro">
									<li ng-repeat="m in menuVeDaNang">
										<a ng-Click="menuCtrl.clickMenuCurrent('veDaNang')"
											ui-sref="aboutTopic({catId: '{{m.alias}}'})">{{m.ten}}
										</a>
									</li>
								</ul>
							</li>
							<li>
								<a id="tinTucMenu" ng-Click="menuCtrl.clickMenuCurrent('tinTuc')" ui-sref="news"
									class="translate" key="tin_tuc_khuyen_mai">{{language.tinTuc}}
								</a>
							</li>
							<li class="mega-menu-dropdown">
								<a id="dichVuMenu" ui-sref="service({'fieldId':menuSanPhamDichVu[0].ma})"
									ng-mouseover="menuCtrl.getDichVuHot(1)"
									class="dropdown-toggle translate" key="san_pham_dich_vu"
									data-toggle="dropdown" data-hover="dropdown" data-delay="200"
									data-close-others="true">{{language.sanPhamDichVu}}</a>
								<ul class="dropdown-menu wd-dropdown-menu-cus1 mega-menu-content mega-menu-submenu"
									id="contNavLink">
									<li ng-repeat="m in menuSanPhamDichVu" ng-mouseover="menuCtrl.getDichVuHot(m.id)">
										<a  ng-Click="menuCtrl.clickMenuCurrent('dichVu')"
											ui-sref="service({'fieldId':m.ma})">{{m.ten}}
										</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="javascript:void(0)" id="muaSamMenu" ui-sref="shoppingOrder"
									ng-Click="menuCtrl.clickMenuCurrent('muaSam')" ng-click="clickMenu()"
									class="translate" key="mua_sam">{{language.muaSam}}
								</a>
							</li>
							<li>
								<a id="chiaSeCamNhanMenu" ng-Click="menuCtrl.clickMenuCurrent('chiaSeCamNhan')"
									ui-sref="shareFeel" class="translate" key="chia_se_phan_anh">
									{{language.chiaSeCamNhan}}
								</a>
							</li>
							<li>
								<a id="banDoMenu" ui-sref="map" class="link-map"
									ng-Click="menuCtrl.clickMenuCurrent('banDo')">
									<i class="iconmuch-map">&nbsp;</i>
									<span class="translate" key="tim_tren_ban_do">{{language.banDo}}</span>
								</a>
							</li>
							<li>
								<a id="banDoMenu" ui-sref="map" class="translate"
									ng-Click="menuCtrl.clickMenuCurrent('banDo')">
									<span class="translate" key="tim_tren_ban_do">{{language.banDo}}</span>
								</a>
							</li>
						</ul> -->
					</div>
				</div>
			</div>

			<!-- popover search -->
			<div class="popover-search" data-toggle="dropdown"
				style="width:auto; height:47px; position:absolute; top:0; left:926px" >
				<a type="button" href="javascript:void(0)" id="timKiem" style="top:0; left:0;"></a>
			</div>
			<ul ng-controller="SearchCtrl" class="dropdown-menu dropdown-search" ng-click="$event.stopPropagation()"
				style="top: 44px; left: 595px;">
				<div class="arrow"></div>
				<div class="popover-content dropdown-content">
					<form ng-submit="searchCtrl.getEnterKey()">
						<input type="text" ng-model="searchCtrl.keywords"
							id="enterTextSearch" class="form-control" placeholder="Nhập thông tin cần tìm">
						<a ui-sref="search({keywords: searchCtrl.keywords, isExactly: true})" class="bt-search" style="top:22px; right:24px;"
							href="javascript:void(0)">&nbsp;</a>
					</form>
				</div>
			</ul>
			<!-- <div ng-controller="SearchCtrl" class="popover fade bottom dropdown-menu"
				style="top: 37px; left: 595px; display: block; position: absolute; z-index:100;">
				<div class="arrow"></div>
				<h3 class="popover-title" style="display: none;"></h3>
				<div class="popover-content">
					<input type="text" ng-enter="searchCtrl.getEnterKey()" ng-model="searchCtrl.keywords" id="enterTextSearch" class="form-control" placeholder="Nhập thông tin cần tìm">
					<a ui-sref="search({keywords: searchCtrl.keywords})" class="bt-search" href="javascript:void(0)">&nbsp;</a>
				</div>
			</div> -->
		</div>
	</div>
	<!--end menu-desktop-->
	<script type="text/ng-template" id="templateLogin">
	<div id="login_popup_content"
		class="wd-popup-container wd-popup-login-container">
		<div class="wd-header-pp bdb1">
			<h2 class="wd-title-st1 translate" key="dang_nhap_he_thong">{{language.dangNhapHeThong}}</h2>
		</div>
		<div class="wd-pp-content">
			<div class="row rowParent wd-login-content">
				<div
					class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wd-lg-content-l bdr1">
					<h2 class="tlh3-6 pb20 translate" key="toi_da_dang_ky_tai_khoan">{{language.toiDaDangKyTaiKhoan}}</h2>
					<div class="form-content form-login-content">
						<div class="show-error"></div>
							<fieldset class="form-horizontal" role="form">
							<form name="myForm" novalidate>
								<div class="form-group">
									<span style="color:red">{{msg}}</span>
									<label for="inputEmail" class="col-sm-12 col-xs-12 control-label">Email<sup>*</sup></label>
									<div class="col-sm-12 col-xs-12">
										<input style="border-color:#f00" type="email" class="form-control wd_err" ng-model="userName" ng-pattern="EMAIL_REGEXP" required
											name="userName" placeholder="Email" data-rule-required="true"
											data-msg-required="Vui lòng nhập địa chỉ Email"
											data-rule-email="true"
											data-msg-email="Địa chỉ email không chính xác" />
										<span style="color:red" ng-show="submited &&((myForm.userName.$dirty && myForm.userName.$invalid) || (myForm.userName.$invalid))">
											<span ng-show="myForm.userName.$error.required">Vui lòng nhập Email</span>
											<span ng-show="myForm.userName.$error && !myForm.userName.$error.required">Email không hợp lệ</span>
										</span>
									</div>
								</div>
								<div class="form-group mb5">
									<label for="inputPassword"
										class="col-sm-12 control-label translate" key="mat_khau">{{language.matKhau}}<sup>*</sup>
									</label>
									<div class="col-sm-12">
										<input type="password" class="form-control" required ng-model="password"
											name="password" placeholder="Nhập mật khẩu " />
										<span style="color:red" ng-show="submited &&((myForm.password.$dirty && myForm.password.$invalid) || (myForm.password.$invalid))">
											<span ng-show="myForm.password.$error.required">Vui lòng nhập mật khẩu</span>
										</span>
									</div>
								</div>
								<div class="form-group mb5">
									<div class="col-sm-12">
										<a href="" ui-sref="forgotPass" ng-click="closeThisDialog()" class="wd-link translate"
											key="quen_mat_khau" tabindex="-1">{{language.quenMatKhau}} ?</a>
									</div>
								</div>
								<div class="form-group">
									<div class="checkbox wd-checkbox-lg">
										<label> <input type="checkbox" ng-click="check()" /> <span
											class="translate" key="giu_trang_thai_dang_nhap">{{language.giuTrangThaiDangNhap}}</span>
										</label>
									</div>
									<button type="submit"
										class="wd-btn-default wd-btn-default-gr translate" ng-click="loginSys()"
										key="dang_nhap" id="btnLogin">{{language.dangNhap}}</button>
								</div>
							</form>
						</fieldset>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wd-lg-content-r">
					<div class="wd-login-more">
						<h2 class="tlh3-6 pb45 translate" key="dang_nhap_bang_tai_khoan">{{language.dangNhapBangTaiKhoan}}</h2>
						<div class="wd-link-lg-m mb4 mt2">
							<a href="" class="facebook wd-lg-wFace" ng-click="loginFacebook()"
								data-original-title="facebook"><i class="iconmuch-fb">&nbsp;</i>
								<span class="translate" key="dang_nhap_voi_facebook">{{language.dangNhapVoiFacebook}}</a>
						</div>
						<div class="wd-link-lg-m mb10">
							<a href="" class="google wd-lg-wGoogle" ng-click="loginGoogle()"
								data-original-title="google"><i class="iconmuch-gg">&nbsp;</i>
								<span class="translate" key="dang_nhap_voi_google">{{language.dangNhapVoiGoogle}}</a>
						</div>
						<p class="wd-desc-t"></p>
					</div>
				</div>
			</div>
		</div>
		<div class="wd-footer-pp bdt1">
			<span class="translate" key="ban_chua_co_tai_khoan">{{language.banChuaCoTaiKhoan}}</span>
			<a style="margin-bottom:5px;" ui-sref="register" ng-click="closeThisDialog()" class="wd-button-link-1 ml5 translate"
				key="dang_ky_tai_khoan">{{language.dangKyTaiKhoan}}</a>
			<a style="margin-bottom:5px;" ui-sref="register-enterprise" ng-click="closeThisDialog()" class="wd-button-link-1 ml5 translate">
				{{language.dangKyTaiKhoanDN}}
			</a>
		</div>
	</div>
	</script>
	<script type="text/ng-template" id="templateLoginPublic">
	<div id="login_popup_content"
		class="wd-popup-container wd-popup-login-container">
		<div class="wd-header-pp bdb1">
			<h2 class="wd-title-st1 translate" key="dang_nhap_he_thong">Cổng thông tin hỗ trợ người dân và du khách</h2>
		</div>
		<div class="wd-pp-content">
			<div class="row rowParent wd-login-content">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wd-lg-content-l width-100-percent">
					<h2 class="tlh3-6 pb20 translate text-transform-none">Hệ thống hiện đang bảo trì</h2>
					<div class="form-content form-login-content">
						<div class="show-error"></div>
							<fieldset class="form-horizontal" role="form">
							<form name="myForm" novalidate>
								<div class="form-group">
									<span style="color:red">{{msg}}</span>
									<label for="inputEmail" class="col-sm-12 col-xs-12 control-label">Tên đăng nhập<sup>*</sup></label>
									<div class="col-sm-12 col-xs-12">
										<input style="border-color:#f00" type="email" class="form-control wd_err" ng-model="userName" ng-pattern="EMAIL_REGEXP" required
											name="userName" placeholder="Email" data-rule-required="true"
											data-msg-required="Vui lòng nhập địa chỉ Email"
											data-rule-email="true"
											data-msg-email="Địa chỉ email không chính xác" />
										<span style="color:red" ng-show="submited &&((myForm.userName.$dirty && myForm.userName.$invalid) || (myForm.userName.$invalid))">
											<span ng-show="myForm.userName.$error.required">Vui lòng nhập Email</span>
											<span ng-show="myForm.userName.$error && !myForm.userName.$error.required">Email không hợp lệ</span>
										</span>
									</div>
								</div>
								<div class="form-group mb5">
									<label for="inputPassword"
										class="col-sm-12 control-label translate" key="mat_khau">{{language.matKhau}}<sup>*</sup>
									</label>
									<div class="col-sm-12">
										<input type="password" class="form-control" required ng-model="password"
											name="password" placeholder="Nhập mật khẩu " />
										<span style="color:red" ng-show="submited &&((myForm.password.$dirty && myForm.password.$invalid) || (myForm.password.$invalid))">
											<span ng-show="myForm.password.$error.required">Vui lòng nhập mật khẩu</span>
										</span>
									</div>
								</div>
								<div class="form-group">
									<div class="checkbox wd-checkbox-lg" style="margin-left: 5px;">
										<label> <input type="checkbox" ng-click="check()" /> <span
											class="translate" key="giu_trang_thai_dang_nhap">{{language.giuTrangThaiDangNhap}}</span>
										</label>
									</div>
									<button type="submit"
										class="wd-btn-default wd-btn-default-gr translate float-right" style="margin-right: 5px;" ng-click="loginSys()"
										key="dang_nhap" id="btnLogin">{{language.dangNhap}}</button>
								</div>
							</form>
						</fieldset>
					</div>
				</div>
			</div>
	</div>
	</script>
</div>
