<div ng-controller="CheckLoginPublicCtrl"></div>
<div id="home" ng-controller="LanguageCtrl">
    <!-- <div ng-controller="HomeCtrl"> -->
    <div id="wd-banner" class="hidden-xs">
        <div class="wd-inner">
            <div class="flexslider col-height hidden-xs">
                <ul class="slides">
                    <li>
                        <img src="images/sliders/bg-banner-1.jpg" alt="" />
                    </li>
                    <li>
                        <img src="images/sliders/bg-banner-3.jpg" alt="" />
                    </li>
                </ul>
            </div>
        </div>
        <!--end slider-->
        <div class="wd-position width-100-percent">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-controller="WarningCtrl as warningCtrl"
                        style="color:yellow; width:470px; padding:10px 10px 10px 18px; font-size: 13px; font-weight:500;">
                        <marquee scrollamount="5" onmouseover="stop();"  onmouseout="start();">
                            <em ng-if="warningCtrl.canhBaoList.length != 0" ng-repeat="canhbao in warningCtrl.canhBaoList"
                                style="{{$index == canhBaoList.length - 1 ? '' : 'margin-right:470px;'}}">
                                {{canhbao.content}}
                            </em>
                        </marquee>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-height slider-home">
                        <div class="popup-slider flip-bottom hidden-xs quick-order-desktop" ng-controller="QuickOrderCtrl as quickOrderCltr"
                            style="{{quickOrderCltr.showCapcha ? 'top:0 !important' : ''}}"  id="popupSlider">
                            <a  class="button-close" ng-click="closePopup('highlightNews')">
                                <i class="iconmuch-close">&nbsp;</i>
                            </a>
                            <div class="popup-content">
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <span style="font-size: 15px; text-transform: uppercase;
                                            font-family: 'open_sansbold'; color:#FFFFFF;">Đặt Hàng Nhanh</span>
                                        <span ng-if="quickOrderCltr.showMessage != ''" style="color:#F1F70A; display:block;">
                                            {{quickOrderCltr.showMessageError}}
                                        </span>
                                        <span ng-if="quickOrderCltr.showMessageSuccess != ''"
                                            style="color:#54FF1F; display:block;">{{quickOrderCltr.showMessageSuccess}}</span>
                                        <span style="color:red; display:block;" ng-show="(quickOrderCltr.captchaEmpty)">
                                            Yêu cầu xác nhận bạn không phải là người máy</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <textarea class="form-control textareaNone"                                         
                                            placeholder="Sản phẩm, số lượng, địa chỉ, thời gian giao hàng, ..."
                                            rows="{{quickOrderCltr.showCapcha ? 4 : 5}}"
                                            ng-model="quickOrderCltr.contentOrder"></textarea>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <input ng-model="quickOrderCltr.contactOrder" type="text" 
                                            placeholder="Họ và tên, số điện thoại, ..."  class="form-control textareaNone">
                                        </input>
                                    </div>
                                    <div  class="col-md-12" style="height:70px;"
                                        class="form-group" ng-show="quickOrderCltr.showCapcha">
                                        <div class="g-recaptcha" data-theme="light" data-sitekey="XXXXXXXXXXXXX" style="transform:scale(0.72);-webkit-transform:scale(0.72);transform-origin:0 0;-webkit-transform-origin:0 0;">
                                            <no-captcha width="100%"
                                                g-recaptcha-response="gRecaptchaResponse"
                                                theme='light'
                                                control="noCaptchaControl"
                                                site-key="6LeQkwgTAAAAAIIk8kKnChhlGBwVvDtCsW_cDVQG">
                                            </no-captcha>
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <input type="submit" class="btn btn-default btn-primary btn-block"
                                            style="text-transform: uppercase; background-color: #0D71D4; border-color: #0D71D4;" value="Gửi thông tin"
                                            ng-click="quickOrderCltr.sendQuickOrder()" ng-disabled="quickOrderCltr.loading" />
                                    </div>
                                </div>
                                <!-- <div class="popup-img">
                                    <a ng-show="highlightNews.lopChuDe == 1" ui-sref="aboutDetail({catId: highlightNews.alias, aboutId: highlightNews.aliasBaiViet})">
                                        <img ng-src="{{highlightNews.anhDaiDien.urlThumbImage}}" style="width: 220px; height: 130px;" alt="" />
                                    </a>
                                    <a ng-show="highlightNews.lopChuDe != 1" ui-sref="newsDetail({catId: highlightNews.alias, newsId: highlightNews.aliasBaiViet})">
                                        <img ng-src="{{highlightNews.anhDaiDien.urlThumbImage}}" style="width: 220px; height: 130px;" alt="" />
                                    </a>
                                </div>
                                <h3>
                                    <a ng-if="highlightNews.lopChuDe == 1" ui-sref="aboutDetail({catId: highlightNews.alias, aboutId: highlightNews.aliasBaiViet})">{{highlightNews.tieuDe}}</a>
                                    <a ng-if="highlightNews.lopChuDe != 1" ui-sref="newsDetail({catId: highlightNews.alias, newsId: highlightNews.aliasBaiViet})">{{highlightNews.lopChuDe}} {{highlightNews.tieuDe}}</a>
                                </h3>
                                <p>{{highlightNews.tomTat | truncateText:true:120}}</p> -->
                            </div>
                        </div>
                        <div class="wd-show-comment hidden-xs" id="slider-hotNew" >
                            <!-- <div class="control-div">
                                <span id="wd-prev-1" class="">&nbsp;</span>
                                <span id="wd-next-1" class="">&nbsp;</span>
                            </div> -->
                            <!-- List hots news with style other -->
                            <div class="hot-news-on-mobile hidden-md hidden-sm hidden-lg" data-snap-ignore="true">
                                <ul class="slides" id="top-news-on-mobile">
                                    <li class="top-news-item flex-active-slide" ng-repeat="hotNew in hotNews">
                                        <span class="desc">
                                            <a ui-sref="{{hotNew.lopChuDe == 1 ? 'aboutDetail({catId: hotNew.alias, aboutId: hotNew.aliasBaiViet})' : 'newsDetail({catId: hotNew.alias, newsId: hotNew.aliasBaiViet})'}}" class="title">
                                                {{hotNew.tieuDe}}
                                            </a>
                                            <span style="cursor:default;" class="comment">
                                                <i class="iconmuch-comment">&nbsp;</i> {{hotNew.comment}}
                                            </span>
                                            <span style="cursor:default;" class="ml12">
                                                <i class="iconmuch-heart">&nbsp;</i> {{hotNew.interest}}
                                            </span>
                                        </span>
                                        <span class="bg-overlay"></span>
                                        <img ng-src="{{hotNew.anhDaiDien.urlThumbImage}}" class="bg-image" draggable="false">
                                    </li>
                                </ul>
                            </div>
                            <!-- end -->
                            <a ng-show="showClose" class="button-close close-animated-hotNew" ng-click="closePopup('hotNew')"><i class="iconmuch-close">&nbsp;</i></a>
                            <div class="list_carousel hidden-xs" style="margin-bottom: 0px; max-height: 160px;" >
                                <ul id="wd-slide-banpro" class="animated fadeIn animated-hotNew">
                                    <li ng-repeat="hotNew in hotNews">
                                        <div class="media">
                                            <a class="pull-left" ui-sref="{{hotNew.lopChuDe == 1 ? 'aboutDetail({catId: hotNew.alias, aboutId: hotNew.aliasBaiViet})' : 'newsDetail({catId: hotNew.alias, newsId: hotNew.aliasBaiViet})'}}">
                                                <img class="media-object" ng-src="{{hotNew.anhDaiDien.urlThumbImage}}" width="94" height="56" alt="" />
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading">
                                                    <a ui-sref="{{hotNew.lopChuDe == 1 ? 'aboutDetail({catId: hotNew.alias, aboutId: hotNew.aliasBaiViet})' : 'newsDetail({catId: hotNew.alias, newsId: hotNew.aliasBaiViet})'}}">{{hotNew.tieuDe}}</a>
                                                </h4>
                                                <span style="cursor:default;"><i class="iconmuch-comment">&nbsp;</i>
                                                    {{hotNew.comment}}
                                                </span style="cursor:default;">
                                                <span class="ml12"><i class="iconmuch-heart">&nbsp;</i>{{hotNew.interest}}</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    <!--end comment-->
                    </div>
            </div>
        </div>
    </div>
    <!--end position-->
</div>
<!--  end banner  -->

<div id="wd-content-container" >
    <div class="container">
        <div class="row rowParent wd-tour pb0 hidden-lg hidden-md hidden-sm"
            ng-controller="QuickOrderCtrl as quickOrderCltr">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                <div class="wd-section wd-order-box-mobile">
                    <div class="col-md-12 form-group" style="padding-left:0; padding-right:0;">
                        <span style="font-size: 15px; text-transform: uppercase;
                            font-family: 'open_sansbold'; color:#005299;">Đặt Hàng Nhanh</span>
                        <span ng-if="quickOrderCltr.showMessage != ''" style="color:red; display:block;">
                            {{quickOrderCltr.showMessageError}}
                        </span>
                        <span ng-if="quickOrderCltr.showMessageSuccess != ''"
                            style="color:green; display:block;">{{quickOrderCltr.showMessageSuccess}}</span>
                        <span style="color:red; display:block;" ng-show="(quickOrderCltr.captchaEmpty)">
                            Yêu cầu xác nhận bạn không phải là người máy</span>
                    </div>
                    <div class="col-md-12 form-group" style="padding-left:0; padding-right:0;">
                        <textarea class="form-control textareaNone"
                            placeholder="Sản phẩm, số lượng, địa chỉ, thời gian giao hàng, ..."
                            rows="{{quickOrderCltr.showCapcha ? 4 : 5}}"
                            ng-model="quickOrderCltr.contentOrder"></textarea>
                    </div>
                    <div class="col-md-12 form-group" style="padding-left:0; padding-right:0;">
                        <input ng-model="quickOrderCltr.contactOrder" type="text"
                            placeholder="Họ và tên, số điện thoại, ..."  class="form-control textareaNone">
                            </input>
                    </div>
                    <div  class="col-md-12" style="height:70px; padding-left:0; padding-right:0;"
                        class="form-group" ng-show="quickOrderCltr.showCapcha">
                        <div class="g-recaptcha" data-theme="light" data-sitekey="XXXXXXXXXXXXX" style="transform:scale(0.72);-webkit-transform:scale(0.72);transform-origin:0 0;-webkit-transform-origin:0 0;">
                            <no-captcha width="100%"
                                g-recaptcha-response="gRecaptchaResponse"
                                theme='light'
                                control="noCaptchaControl"
                                site-key="6LeQkwgTAAAAAIIk8kKnChhlGBwVvDtCsW_cDVQG">
                            </no-captcha>
                        </div>
                    </div>
                    <div class="col-md-12 form-group" style="padding-left:0; padding-right:0; margin-bottom:0;">
                        <input type="submit" class="btn btn-default btn-primary btn-block"
                            style="text-transform: uppercase;" value="Gửi thông tin"
                            ng-click="quickOrderCltr.sendQuickOrder()" ng-disabled="quickOrderCltr.loading" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <!-- Controller: tabService -->
                <div class="wd-list-service" ng-controller="tabCtrl">
                    <div id="wd-horizontalTab" class="tabs">
                        <nav>
                            <ul class="resp-tabs-list">
                                <li ng-click="showTab(0)" id="tabService0">
                                    <i class="iconmuch-featured">&nbsp;</i> <span key="noi_bat" class="translate">Nổi bật</span>
                                </li>
                                <li ng-repeat="field in tabFields" ng-click="showTab({{field.id}})" id="tabService{{field.id}}">
                                    <img ng-src="{{field.urlImg}}" alt="">
                                    <span>{{field.ten}}</span>
                                </li>
                            </ul>
                            <span class="clearfix"></span>
                        </nav>

                        <div class="resp-tabs-container">
                          <div class="wd-section">
                          	<div id="topic-head-phone-only">
                          		<h4 class="media-heading"><a>{{tenLinhVuc}}</a></h4>
                          	</div>
                            <div class="wd-portlet-cuisine">
                              <div class="row rowParent noS" id="contTabHighlight">
                                <!-- left  style="left:-7px;"-->
                                <div class="col-md-8 col-sm-8 col-xs-12 hot-service-right-container" >
                                    <div>
                          				<span id="wd-prev-4" class="hot-service-prev-icon" ng-click="slickConfig.method.slickPrev()"></span>
                                        <span id="wd-next-4" class="hot-service-next-icon" ng-click="slickConfig.method.slickNext()"></span>
                          			</div>                                    
                                    <div class="row rowParent noSwipe" style="overflow:hidden; max-height: 350px">
                                        <!--col-lg-4 col-md-4 col-sm-12 col-xs-12-->
                                        <div class="item-hot around-loader" ng-if="!hotServiceLoaded"></div>
                                        <slick settings="slickConfig" ng-if="hotServiceLoaded">
                                            <div class="item-hot col-md-4" ng-repeat="service in dataServiceLeft">
                                                <div class="wd-thumbnail" style="padding-top: 6px; overflow: hidden;">
                                                    <a href="javascript: void(0);"
                                                        class="process-img wd-hotservice-img">
                                                        <img class="img-left" ng-src="{{service.anhDaiDien.urlThumbImage}}" style="width:100%; height:169px;" alt="{{service.ten}}" />
                                                        <span class="score">{{service.markValueFormat}} <i class="iconmuch-arleft">&nbsp;</i></span>
                                                    </a>
                                                    <div class="caption">
                                                        <h3><a ui-sref="serviceDetail({fieldId: service.idLinhVuc, serviceUrl: service.url})" class="noSwipe">{{service.ten | truncateText:true:40}}</a></h3>
                                                        <p>{{service.diaChi | truncateText:true:50}}</p>
                                                        <div class="link-action">
                                                            <span style="cursor:default;"><i class="iconmuch-comment">&nbsp;</i>{{service.comment}} </span>
                                                            <span style="cursor:default;" class="ml12"><i class="iconmuch-heart">&nbsp;</i>{{service.interest}} </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </slick>
                                    </div>
                                </div>
                                <!--  end left -->
                                <!-- Right -->
                                <div class="col-md-4 col-sm-4 col-xs-12 hidden-xs"  >
                                  <div class="row rowParent">
                                    <div class="wd-aside-info">
                                    <div>
                          				<span id="wd-prev-6" class="hot-service-up-icon">&nbsp;</span>
                          				<span id="wd-next-6" class="hot-service-down-icon">&nbsp;</span>
                          			</div>
                                    <ul class="wd-list-news" id="list-dich-vu-right" >
                                    <li ng-repeat="service in dataServiceRight" style="height:105px; padding-bottom:10px;" class="hot-item">
                                      <div class="media" style="padding-top: 5px;">
                                        <a class="pull-left process-img" ui-sref="serviceDetail({fieldId: service.idLinhVuc, serviceUrl: service.url})">
                                          <img class="media-object" ng-src="{{service.anhDaiDien.urlThumbImage}}" width="84" height="74" alt="{{service.ten}}" />
                                          <span class="score">{{service.markValueFormat}}<i class="iconmuch-arleft">&nbsp;</i></span>
                                        </a>
                                        <div class="media-body">
                                          <h4 class="media-heading"><a ui-sref="serviceDetail({fieldId: service.idLinhVuc, serviceUrl: service.url})">{{service.ten | truncateText:true:40}} </a></h4>
                                          <p>{{service.diaChi | truncateText:true:45}}</p>
                                          <div class="link-action">
                                            <span style="cursor:default;"><i class="iconmuch-comment">&nbsp;</i>{{service.comment}} 
                                            </span>
                                            <span style="cursor:default;" class="ml12"><i class="iconmuch-heart">&nbsp;</i>{{service.interest}} </span>
                                          </div>
                                        </div>
                                      </div>
                                    </li>
                                    </ul>
                                      <div ng-show="flag && dataServiceRight.length > 0" class="view-all">
                                        <a ui-sref="service({fieldId: dataServiceRight[0].idLinhVuc})">{{language.xemTatCa}}<i class="iconmuch-viewall">&nbsp;</i></a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- end right -->
                                <!-- mobile Right -->
                                <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                                    <div>
                                        <span class="hot-service-prev-icon" style="top: 53px" ng-click="slickConfigSmaller.method.slickPrev()"></span>
                                        <span class="hot-service-next-icon" style="top: 53px" ng-click="slickConfigSmaller.method.slickNext()"></span>
                                    </div>
                                    <div class="row rowParent" >
                                        <slick settings="slickConfigSmaller" ng-if="hotServiceLoaded">
                                            <div style="margin: 0px 5px" ng-repeat="service in dataServiceRight">
                                                <div class="wd-thumbnail" style="padding-top: 6px; overflow: hidden;">
                                                    <a ui-sref="serviceDetail({fieldId: service.idLinhVuc, serviceUrl: service.url})" 
                                                        class="process-img ">
                                                        <img class="img-right" class="media-object" ng-src="{{service.anhDaiDien.urlThumbImage}}" width="100%" 
                                                           style="height: 77px" alt="{{service.ten}}" />
                                                        <span class="score">{{service.markValueFormat}} <i class="iconmuch-arleft">&nbsp;</i></span>
                                                    </a>
                                                    <div class="caption">
                                                        <h3><a ui-sref="serviceDetail({fieldId: service.idLinhVuc, serviceUrl: service.url})">{{service.ten | truncateText:true:40}}</a></h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </slick>
                                    </div>
                                </div>
                                <!-- end mobile right -->
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row rowParent wd-ctkm hidden-xs" ng-controller="BannerCtrl">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" ng-if="banner1.length != 0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="item in banner1" style="padding:0;">
                    <div class="mix-box mt13 mb13 maxHeight animated fadeIn" style="margin-bottom:0;">
                        <div class="flexslider">
                            <ul class="slides">
                                <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;" class="flex-active-slide">
                                    <a href="{{item.urlLink}}" ng-controller="EventBannerCtrl" ng-click="eventBnCtrl.clickBanner(item.id)" banner="1" target="_blank">
                                        <img class="lazy hghtImg1" src="{{item.hinhAnh.urlImage}}" width="651" height="92" alt="" draggable="false">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-if="banner2.length != 0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="item in banner2" style="padding:0;">
                    <div class="mix-box mt13 maxHeight animated fadeIn" style="margin-bottom:0;">
                        <div class="flexslider">
                            <ul class="slides">
                                <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;" class="flex-active-slide">
                                    <a href="{{item.urlLink}}" ng-controller="EventBannerCtrl" ng-click="eventBnCtrl.clickBanner(item.id)" banner="2" target="_blank">
                                        <img id="imgBanner2" class="lazy hghtImg1" src="{{item.hinhAnh.urlImage}}" width="651" height="92" alt="" draggable="false">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                    <div class="mix-box mt13 maxHeight animated fadeIn" style="margin-bottom:0;">
                        <div class="flexslider">
                            <ul class="slides">
                                <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block;
                                    z-index: 2;" class="flex-active-slide">
                                    <a href="javascript:void(0);" ng-click="clickBannerBusiness()">
                                        <img class="lazy hghtImg1" src="images/front/banner-doanhNghiep.jpg" width="651" height="92"
                                            alt="" draggable="false">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row rowParent wd-ctkm">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="wd-section minHeight368" id="posOne" style="min-height:373px !important">
                    <!-- Block: events -->
                    <div class="wd-news-hot">
                        <div class="wd-title">
                            <h2 class="tlh2-1"><a ui-sref="newsTopic({catId: 'su-kien'})" class="translate" key="su_kien_sap_dien_ra">{{language.thongTinChoDuKhach}}</a>
                            </h2>
                            <div class="view-all pull-right" ng-if="events.length > 0">
                                <a ui-sref="newsTopic({catId: 'su-kien'})">{{language.xemTatCa}}</i></a>
                            </div>
                        </div>
                        <div class="row rowParent3" id="contNewsEvent">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 animated fadeIn" ng-repeat="event in events">
                                <div class="wd-detail-article animated fadeIn">
                                    <a ui-sref="newsDetail({catId: 'su-kien', newsId: event.aliasBaiViet})" class="animated fadeIn"><img ng-src="{{event.anhDaiDien.urlThumbImage}}" width="100%" height="142" class="lazy" alt="" /></a>
                                </div>
                                <h4 class="media-heading animated fadeIn"><a ui-sref="newsDetail({catId: 'su-kien', newsId: event.aliasBaiViet})">{{event.tieuDe | truncateText:true:65}}</a></h4>
                                <p class="wd-desc-datetime mb5" ng-if="event.thoiGianDienRaStr != ''"><i class="iconmuch-calendar mr8">&nbsp;</i><span class="wd-icon-text">{{event.thoiGianDienRaStr}} </span></p>
                                <p class="para-address"><i class="iconmuch-marker">&nbsp; </i>{{event.diaDiem | truncateText:true:70}}</p>
                            </div>
                        </div>
                    </div>
                    <!--end events-->
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 block_content">
                <!-- #C6D6F3 -->
                <div class="wd-section pb0" id="posTwo" style="padding-bottom:10px !important; background-color: #EDEFF3;">
                    <h2 class="tlh2-1"><a ui-sref="newsTopic({catId: 'khuyen-mai'})" class="translate" key="chuong_trinh_khuyen_mai">{{language.khuyenMaiGiamGia}}</a>
                    <img style="position: absolute; top: 0; right: 10px; width: 15%;" src="images/front/img-sale.png" />
                    </h2>
                    <div class="aside-news">
                        <!-- Block: Promotion news -->
                        <ul class="wd-list-news" id="wd-news-promotion">
                            <li class="animated fadeIn" ng-repeat="promotion in promotions" style="border-color:#fff;">
                                <div class="media">
                                    <a class="pull-left" ui-sref="newsDetail({catId: 'khuyen-mai', newsId: promotion.aliasBaiViet})">
                                        <img class="media-object" ng-src="{{promotion.anhDaiDien.urlThumbImage}}" width="70" height="48" alt="" />
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            <a ui-sref="newsDetail({catId: 'khuyen-mai', newsId: promotion.aliasBaiViet})">{{promotion.tieuDe | truncateText:true:65}}</a>
                                        </h4>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- Block: Promotion news -->
                    </div>
                    <div class="view-all" ng-if="promotions.length > 0">
                        <a ui-sref="newsTopic({catId: 'khuyen-mai'})">{{language.xemTatCa}}</i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Ads -->
        <!-- end Ads -->

        <!-- Top Destination  & Testimonial -->
        
        <!-- Anvt hide this 6/1/2016 by add ng-if="false" -->
        <div ng-if="true" class="row rowParent wd-tour minHeight368"
            style="height: 255px !important;min-height: 255px!important;max-height: 255px;">
            <!-- <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="wd-section" id="posThree" style="min-height: 290px !important; max-height: 100% !important;">
                    <div class="wd-title">
                        <h2 class="tlh2-1"><a href="#" class="translate" key="top_diem_den">{{language.topDiemDen}}</a></h2>
                        <div class="view-all pull-right" ng-if="destinations.length > 0">
                            <a ui-sref="service({fieldId: destinations[0].idLinhVuc})">{{language.xemTatCa}}</i></a>
                        </div>
                    </div>
                    
                    <div class="wd-share row rowParent2">
                        <ul class="wd-list-news" id="wd-slide-local">
                            <li class="col-xs-12 col-sm-4 col-md-4 col-lg-4 animated fadeIn" ng-repeat="destination in destinations" style="padding-bottom: 10px;">
                                <div class="wd-thumbnail">
                                    <a ui-sref="serviceDetail({fieldId: destination.idLinhVuc, serviceUrl: destination.url})" class="process-img">
                                        <img ng-src="{{destination.anhDaiDien.urlThumbImage}}" alt="" width="100%" height="162" />
                                        <span class="score">{{destination.markValueFormat}} <i class="iconmuch-arleft">&nbsp;</i></span>
                                    </a>
                                    <div class="caption">
                                        <h3><a ui-sref="serviceDetail({fieldId: destination.idLinhVuc, serviceUrl: destination.url})">{{destination.ten | truncateText:true:50}}</a></h3>
                                        <div class="link-action">
                                            <span style="cursor:default;"><i class="iconmuch-comment">&nbsp;</i> {{destination.comment}} bình luận</span>
                                            <span  style="cursor:default;" class="ml12"><i class="iconmuch-heart">&nbsp;</i> {{destination.interest}} quan tâm</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> -->


             <!-- Careers -->
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="wd-section block-iphone-vieclam" id="posThree" style="min-height: 255 !important; max-height: 100% !important;">
                    <div class="wd-title">
                        <h2 class="tlh2-1" style="margin-right:0px !important"><a ui-sref="jobs" class="translate" key="viec_lam">{{language.viecLam}}</a></h2>
                        <div class="view-all pull-right" ng-if="tuyenDungs.length > 0">
                            <a ui-sref="jobs">{{language.xemTatCa}}</i></a>
                        </div>
                    </div>
                    <div class="wd-share row rowParent2">
                        <ul class="wd-list-news" id="wd-slide-local">
                            <li class="col-sm-12 col-md-12 col-lg-12 animated fadeIn"
                                ng-repeat="tuyenDung in tuyenDungs"
                                style="padding-bottom: 10px;">
                                <div class="wd-thumbnail">
                                    <!-- <a ui-sref="careerDetail({fieldId: tuyenDung.id})" class="process-img">
                                        <img ng-src="{{tuyenDung.anhDaiDien.urlThumbImage}}" alt="" width="100%" height="162" />
                                    </a> -->
                                    <div class="caption">
                                        <h3>
                                            <a ui-sref="careerDetail({fieldId: tuyenDung.id})">{{tuyenDung.tieuDe}} {{tuyenDung.ngayKetThucTuyenDungStr != '' ? '(' + tuyenDung.ngayKetThucTuyenDungStr +')' : ''}}
                                        </h3>
                                        <div class="desc-order mt5" >
                                            <p class="caption-landscape" ng-bind-html="tuyenDung.donViTuyen"></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end Careers -->


            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 block_content">
                <div class="wd-section cam-nhan" id="posFour" style="height:255px; min-height: 255px !important; max-height: 100% !important;">
                    <div class="wd-title pb0">
                        <h2 class="tlh2-1"><a ui-sref="shareFeel" class="translate" key="cam_nhan">{{language.camNhan}}</a></h2>
                        <div class="view-all pull-right" ng-if="testimonials.length > 0">
                            <a ui-sref="shareFeel">{{language.xemTatCa}}</i></a>
                        </div>
                    </div>
                    <!-- Testimonial -->
                    <div class="wd-assessment">
                        <div class="wd-ticker">
                            <ul id="contLstShareFeel">
                                <li class="animated fadeIn" ng-repeat="testimonial in testimonials" style="min-height:85px; height:85px;" >
                                    <div class="author">
                                        <div class="avatar" style="height:60px; min-height:60px;">
                                            <div class="radius-img"><a ui-sref="shareFeelDetail({shareId: testimonial.id})"><img ng-src="{{testimonial.avatarlink}}" alt="" width="55" height="53" /></a></div>
                                            <span class="name">{{testimonial.name}}</span>
                                            <!--<span class="city">(TP.HCM)</span>-->
                                        </div>
                                        <div class="wd-description" style="height:60px; min-height:60px;">
                                            <a ui-sref="shareFeelDetail({shareId: testimonial.id})" ng-bind-html="testimonial.noiDung | truncateText:true:75"></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Testimonial -->
                </div>
            </div>
        </div>

        <div class="row rowParent mb13" ng-controller="BannerCtrl">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 hidden-lg hidden-md hidden-sm">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                    <div class="mix-box mt13 maxHeight animated fadeIn" style="margin-bottom:0;">
                        <div class="flexslider">
                            <ul class="slides">
                                <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;" class="flex-active-slide">
                                    <a ui-sref="register">
                                        <img class="lazy hghtImg1" src="images/front/banner-doanhNghiep.jpg" width="651" height="92" alt="" draggable="false">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-if="banner3.length != 0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="item in banner3"
                    style="padding:10px 0 0 0;">
                    <div class="mix-box mix-box-two mb0 animated fadeIn">
                        <div class="flexslider">
                            <ul class="slides">
                                <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;" class="flex-active-slide">
                                    <a href="{{item.urlLink}}" ng-controller="EventBannerCtrl" ng-click="eventBnCtrl.clickBanner(item.id)" banner="7" target="_blank">
                                        <img class="lazy hghtImg1" src="{{item.hinhAnh.urlImage}}" width="651" height="92" alt="" draggable="false">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-if="banner4.length != 0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="item in banner4"
                    style="padding:10px 0 0 0;">
                    <div class="mix-box mix-box-two mb0 animated fadeIn">
                        <div class="flexslider">
                            <ul class="slides">
                                <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;" class="flex-active-slide">
                                    <a href="{{item.urlLink}}" ng-controller="EventBannerCtrl" ng-click="eventBnCtrl.clickBanner(item.id)" banner="8" target="_blank">
                                        <img class="lazy hghtImg1" src="{{item.hinhAnh.urlImage}}" width="651" height="92" alt="" draggable="false">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
