
<div ng-controller="CheckLoginPublicCtrl"></div>
<div ng-controller="LanguageCtrl">
<div id="wd-content-container" class="clearfix">
	<div class="container">
		<ol class="breadcrumb noboradius nobg">
			<li><a ui-sref="home" class="translate" key="trang_chu">{{language.trangChu}}</a></li>
			<li><a ui-sref="jobs" class="translate" key="viec_lam">{{language.viecLam}}</a></li>
			<li class="active"> {{careerDetailCtrl.detail.tieuDe}} </li>
		</ol>
		<div class="row rowParent mb20">
			<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
				<!-- main-content -->
				<div class="wd-main-content">
					<div class="wd-introduction careerDetail">
						<div id="print">
							<div class="animated fadeIn">
								<label id="obj" style="display:none !important;">{{careerDetailCtrl.detail}}</label>
								<h3 class="tlh3-2" id="lblTitle">{{careerDetailCtrl.detail.tieuDe}}</h3>
								<div class="job-header-info">
									<span class="company-name text-lg block">
										<strong>
											{{careerDetailCtrl.detail.donViTuyen}}
										</strong>
									</span>
									<table>
										<tbody>
											<tr>
												<td style="width: 150px;">Chủ đề tuyển dụng </td><td>: </td>
												<td>&nbsp; {{careerDetailCtrl.detail.tenChuDeTuyenDung}}</td>
											</tr>
											<tr>
												<td>Loại lao động </td><td>: </td>
												<td>&nbsp; {{careerDetailCtrl.detail.tenLoaiLaoDong}}</td>
											</tr>
											<tr>
												<td>Số lượng </td><td>: </td>
												<td>&nbsp; {{careerDetailCtrl.detail.soLuongTuyen}}</td>
											</tr>
											<tr>
												<td>Thời hạn tuyển dụng </td><td>: </td>
												<td>&nbsp; {{careerDetailCtrl.detail.ngayBatDauTuyenDungStr != '' ? 'từ ' + careerDetailCtrl.detail.ngayBatDauTuyenDungStr : ''}} 
												 {{careerDetailCtrl.detail.ngayKetThucTuyenDungStr != '' ? 'đến ' + careerDetailCtrl.detail.ngayKetThucTuyenDungStr : ''}}</td>
											</tr>
											<tr>
												<td>Địa điểm làm việc </td><td>: </td>
												<td>&nbsp; {{careerDetailCtrl.detail.diaDiem}}</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="clearfix">
									<!-- <p class="wd-title-post pull-left"><i class="fa fa-calendar-o mr4"></i>
										<span class="wd-text translate" key="ngay_dang">NgÃ y Ä‘Äƒng: {{careerDetailCtrl.detail.created}}</span>
										<span class="wd-text mr15 ml15">|</span><i class="fa fa-eye mr4"></i>
										<span class="wd-text translate" key="luot_xem">LÆ°á»£t xem:  {{newsDetail.view}}</span>
										</p> -->
									<ul class="wd-connect-machine">
										<!-- <li class="mis-email">
											<a href="" ng-click="newDetailCtrl.popupEmail()" >
											<i class="fa fa-envelope-o">&nbsp;</i>
											</a>
										</li>
										<li><a href="" ng-click="print('print')"><i class="fa fa-print">&nbsp;</i></a></li> -->
									</ul>
								</div>
								
								<!-- Noi Dung Tuyen Dung -->
								<div class="page_detail job_detail " style="border:none;">
									<h3 class="lblTitle">Yêu cầu </h3>
									<div class="clearfix"></div>
									<p id='lblContent' ng-bind-html="careerDetailCtrl.detail.yeuCau | to_trusted"></p>
									<div class="clearfix"></div>

									<h3 class="lblTitle">Mô tả công việc </h3>
									<div class="clearfix"></div>
									<p id='lblContent' ng-bind-html="careerDetailCtrl.detail.mieuTaCongViec"></p> 
									<div class="clearfix"></div>

									<div ng-if="careerDetailCtrl.detail.hoSoUngTuyen.length > 0">
										<h3 class="lblTitle">Hồ sơ gồm </h3>
										<div class="clearfix"></div>
										<p id='lblContent' ng-bind-html="careerDetailCtrl.detail.hoSoUngTuyen | to_trusted"></p>
									</div>
									<div class="clearfix"></div>

									<h3 class="lblTitle">Thông tin thêm </h3>
									<div class="clearfix"></div>
									<p id='lblContent' ng-bind-html="careerDetailCtrl.detail.thongTinThem | to_trusted"></p>
									<div class="clearfix"></div>

								</div>

								<!-- <p class="tar"><strong id='lblAuthor'>{{newsDetail.tacGia}}</strong></p> -->
							</div>
						</div>
						<div class="clearfix">
							<div id="addthis" class="addthis_toolbox addthis_default_style">
								<a class="addthis_button_facebook_like pr10" fb:like:layout="button_count"></a>
								<a class="addthis_button_google_plusone pr10 wdt72" g:plusone:size="medium"></a>
								<a class="addthis_button_tweet" tw:via="addthis"></a>
							</div>
						</div>
					</div>
					<!--end article-->
					<!-- comment box -->
					
					<!-- comment box .end -->
				</div>

				<!-- main-content1 .end -->
				<!-- main-content -->
				<div class="wd-main-content mt20 ft">
				{{relatedJobs.length}}
					<h2 class="tlh2-1"><a href="javascript:void(0)" class="translate" key="viec_lam_khac">{{language.viecLamLienQuan}}:</a></h2>
					<ul class="row rowParent wd-list-news wd-list-news-nav pb10" id="contPartOtherNews">
						<li class="col-xs-12 col-sm-6 col-md-6 col-lg-6 animated fadeIn" ng-repeat="related in careerDetailCtrl.relatedJobs">
							<div class="media">
								<!-- <a ui-sref="careerDetail({fieldId: related.id})" class="pull-left">
									<img width="70" height="48" alt="{{related.anhDaiDien.moTa}}" ng-src="{{related.anhDaiDien.urlThumbImage}}" class="media-object">
								</a> -->
								<div class="media-body">
									<h4 class="media-heading">
										<a ui-sref="careerDetail({fieldId: related.id})">
											{{related.tieuDe}}
										</a>
									 </h4>
									 <p class="color-grey">{{related.ngayBatDauXuatBanStr}}</p>
								 </div>
							</div>
						</li>
					</ul>
				</div>
				<!-- main-content3 .end -->
				
			</div>
			<!-- right content -->
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
				<div class="wd-right-content">
					<div lastest-news ></div>
					<div type="slide" hot-destination ></div>
					<advertising-right linkBanner="banner_5"></advertising-right>
					<advertising-right linkBanner="banner_6"></advertising-right>
					<advertising-right linkBanner="banner_7"></advertising-right>
				</div>
			</div>
			<!-- end right content -->
		</div>
		<!--end row-->
	</div>
</div>
</div>
<div ng-controller="MetaCtrl" ng-init="getMeta()"></div>
<!-- reload addthis -->
<script type="text/javascript">
	addthis.toolbox("#addthis");
</script>
