<div ng-controller="CheckLoginPublicCtrl"></div>
<div ng-controller="LanguageCtrl">
<div id="wd-content-container" class="clearfix">
    <div class="container">
        <ol class="breadcrumb noboradius nobg">
            <li>
                <a ui-sref="home" class="translate" key="trang_chu">{{language.trangChu}}</a>
            </li>
            <li>
                <a href="javascript:void(0)" style="cursor:default;" class="translate" key="viec_lam">{{language.viecLam}}</a>
            </li>
        </ol>
        <div class="row rowParent mb20">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="wd-main-content">
                    <div class="wd-flexbox">
                        <div class="wd-title">
                            <h2 class="tlh2-3">
                                <a href="javascript:void(0)">
                                    <span class="animated fadeIn"> {{language.viecLam}} </span>
                                </a>
                            </h2>
                        </div>
						
						<div class="row">
							<div class="form-content form-resgitration-content" style="margin-left:9px; margin-right:9px;">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group" style="margin-bottom:0;">
									<label style="line-height: 34px; font-weight:normal;">
										Từ khóa
									</label>
									<div>
							            <input type="text" class="form-control" ng-enter="careCtr.getJobs(1)"
								            ng-model="careCtr.keyword" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group" style="margin-bottom:0;">
									<label style="line-height: 34px; font-weight:normal;">
										Lĩnh vực tuyển dụng
									</label>
									<div class="input-group" style="width:100%;">
							            <select class="form-control" 
           									ng-model="careCtr.linhVucTuyenDung"
           									ng-options="state.tenLinhVuc for state in listLinhVucTuyenDung">
           									<option value="">Tất cả</option>
           									</select>
							        </div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group" style="margin-bottom:0;">
									<label style="line-height: 34px; font-weight:normal;">
										Ngày hết hạn
									</label>
									<div class="input-group date" id="datetimepicker1" style="width:100%;">
							            <input type="text" class="form-control" id="ngayHetHan" />
							        	<span class="input-group-addon">
							        		<span class="glyphicon-calendar glyphicon"></span>
							        	</span>
							        </div>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 form-group btnTimKiemKhuyenmai">
									<label style="line-height: 34px; width:70px; font-weight:normal;margin-top:28px;" class="hidden-xs"></label>
									<div style="width: 100px;">
		                                <button type="submit" ng-click="newsTpCtrl.getListNewsTopic(1)" style="width:100px;"
		                                	class="btn btn-default btn-primary">{{language.tim}}</button>
		                           </div>
								</div>
							</div>
						</div>
						

                        <div class="row rowParent wd-pofolio" >
                            <div dir-paginate="job in listCarrer | itemsPerPage : everyPage"
								total-items="total" pagination-id="listOfCareer" current-page="careCtr.page"
                            	ng-class="{'col-xs-12 col-sm-6 col-md-4 col-lg-4 item':true, 'expend':!carrerCtrl.gridLayout}"
                            	>
                                <div class="wd-place" id="job{{job.id}}" >
                                    <div class="wd-thumbnail">
                                        <!-- <div class="process-img related-img">
                                            <div class="inly-flow">
                                                <a ui-sref="careerDetail({fieldId: job.id})">
                                                    <img ng-src="{{job.anhDaiDien.urlThumbImage}}" class="lazy" alt="" width="100%" height="auto"/>
                                                </a>
                                            </div>
                                        </div> -->
                                        <div class="caption">
                                            <h3>
                                                <a style="display:none" class="caption-portrait" ui-sref="careerDetail({fieldId: job.id})">
                                            		{{job.tieuDe | truncateText:true:80}} {{job.ngayKetThucTuyenDungStr != '' ? '(' + job.ngayKetThucTuyenDungStr +')' : ''}}
                                            	</a>
                                                 <a class="caption-landscape" ui-sref="careerDetail({fieldId: job.id})">
                                                 	{{job.tieuDe}} {{job.ngayKetThucTuyenDungStr != '' ? '(' + job.ngayKetThucTuyenDungStr +')' : ''}}
                                                 </a>
                                            </h3>
                                            <p class="caption-portrait">{{job.diaDiem | truncateText:true:100}}</p>
                                            <p style="display:none" class="caption-landscape">{{job.diaDiem}}</p>
											<div class="desc-order mt5" >
                                                <p class="caption-landscape" ng-bind-html="job.donViTuyen"></p>
											     <p style="display:none" class="caption-portrait" ng-bind-html="job.donViTuyen | truncateText:true:100"></p>
											</div>
                                        </div>
                                    </div>
                                    <!--end thumbnail-->
                                </div>
                                <!--end place-->
                            </div>
                        </div>
                        <div class="noResult"><p ng-if="listCarrer.length == 0">{{language.noResult}}</p></div>

                        <!--end row-->
                        <!-- pagination -->
						<div class="wd-paging tac">
							<dir-pagination-controls
								template-url="/views/dirPagination.tpl.html"
								on-page-change="careCtr.getJobs(newPageNumber)"
								pagination-id="listOfCareer"> </dir-pagination-controls>
						</div>
						<!--paging-->
                    </div>
                    <!--end flexbox-->
                </div>
            </div>
        </div>
    </div>
</div>
</div>
