<div>
	<hello>
	<div id='myElement'>Loading the player ...</div>
	<script type='text/javascript'>
	  jwplayer('myElement').setup({ 
	    file: 'https://www.youtube.com/watch?v=BbBYXYO-J_E', 
	    height: 360, 
	    image: 'http://i.ytimg.com/vi/flO9JtEa27Q/mqdefault.jpg',
	    width: 640 
	  });
	</script>
</div>