<!-- key yourdanang -->
<script type="text/javascript" src="http://dichvubandoso.vn/PartnerPortalServices/Scripts/MapsAPI.js?key=190ef9f7-fef0-424d-ab37-fc3527dbfc5e"></script>
<!-- key 248 -->
<!-- <script type="text/javascript" src="http://dichvubandoso.vn/PartnerPortalServices/Scripts/MapsAPI.js?key=2a5876a6-7577-4cd2-9b05-394b4391fb48"></script> -->
<!-- key ThanhPX -->
<!-- <script type="text/javascript" src="http://dichvubandoso.vn/PartnerPortalServices/Scripts/MapsAPI.js?key=2e0c5089-d687-4ced-a9ce-bd4be1579e3a"></script>  -->
<!-- key AnVT -->
<!-- <script type="text/javascript" src="http://dichvubandoso.vn/PartnerPortalServices/Scripts/MapsAPI.js?key=56ce4f65-2fbb-48a6-b528-e2036993e1bc"></script> -->
<style>
	#page-layout {overflow:hidden;}
	
	#MenuTopPage {
		z-index: 1200;
	    position: fixed;
	    width: 100%;
	}
	
</style>
<div ng-controller="CheckLoginPublicCtrl"></div>
<div ng-controller="LanguageCtrl">
	<div id="page-layout" class="page-layout-map">
		<div id="wd-wrapper" style="padding-bottom: 0px;">
			<div id="wd-wrapper-map">				
				<div class="wd-container-map test" id="wd-container-map"
					style="z-index: 1000; margin-top: 16px;">
					<div class="wd-left-map hidden-xs" id="menu-left-map"
						style="display: block;">
						<div class="wd-fixed-scroll">
							<div class="wd-top-left-m" id="wd-top-left-m-pc">
								<ul class="nav nav-tabs wd-tab-map" role="tablist">
									<li class="wd-item-m2 bdr-tab active">
										<a class="wd-bt-tab" ng-click="mapCtrl.selectTab('location')" role="tab"
										data-toggle="tab">{{language.timKiem}}</a></li>
									<li class="wd-item-m2"><a class="wd-bt-tab"
										ng-click="mapCtrl.selectTab('search')" role="tab"
										data-toggle="tab">{{language.timDuong}}</a></li>
								</ul>
							</div>
							<div class="tab-content">
								<div class="tab-pane active" id="location-tab">
									<div class="wd-sortby-top" id="wd-sortby-top-pc">
										<div class="wd-sortby-top-sl select-engine">
											<div class="wd-search-map-form">
												<div class="form-group">
													<input type="text" id="textSearch"
														ng-enter="mapCtrl.searchStreet(mapCtrl.keyword)"
														ng-model="mapCtrl.keyword" style="height: 34px;"
														class="wd-search-ip"
														placeholder="Nhập dịch vụ, lĩnh vực, địa chỉ...">
													<input type="hidden" value="" name="isDichVu">
												</div>
											</div>
											<select class="wd-select-sort" id="contMapCatalog"
												style="display: none;">
												<option value="0">Chọn lĩnh vực</option>
											</select>
											<div class="btn-group bootstrap-select wd-select-sort">
												<button type="button"
													class="btn dropdown-toggle selectpicker btn-default"
													data-toggle="dropdown" data-id="contMapCatalog"
													title="Chọn lĩnh vực">
													<span class="filter-option pull-left">Chọn lĩnh vực</span>&nbsp;
													<span class="caret"></span>
												</button>
												<div class="dropdown-menu open"
													style="max-height: 157px; overflow: hidden; min-height: 92px;">
													<ul class="dropdown-menu inner selectpicker" role="menu"
														style="max-height: 180px; overflow-y: auto; min-height: 80px;">
														<li data-original-index="0" class="selected"><a
															tabindex="0" class=""
															data-normalized-text="Chọn lĩnh vực"
															ng-click="mapCtrl.getServicesHighlight()"> <span
																class="text">Chọn lĩnh vực</span> <span
																class="glyphicon glyphicon-ok check-mark"></span>
														</a></li>
														<li ng-repeat="field in mapCtrl.field"
															data-original-index="{{$index+1}}"><a
															tabindex="{{$index}}"
															ng-click="mapCtrl.getServicesById(field.id,field.ma,field.ten + ' (' +field.soLuongDichVu +')')"
															class=""
															data-normalized-text="{{field.ten}} ({{field.soLuongDichVu}})">
																<span class="text">{{field.ten}}
																	({{field.soLuongDichVu}})</span> <span
																class="glyphicon glyphicon-ok check-mark"></span>
														</a></li>
													</ul>
												</div>
											</div>
											<a href="" ng-click="mapCtrl.searchStreet(mapCtrl.keyword)"
												class="bt-search"> <i class="fa fa-search"></i>{{language.tim}}
											</a>
											<div ng-if="mapCtrl.searchCountView" class="wd-search-count">
												<span>Có {{mapCtrl.searchCount}} kết quả được tìm
													thấy</span>
											</div>
										</div>
									</div>
									<div class="wd-scroll-left-m">
										<ul class="wd-place-special" id="contPlaceSpecial"
											ng-if="mapCtrl.isOnCheckThuocTinh || mapCtrl.highlight.length > 0">
											<li ng-if="mapCtrl.listAttributeOfField.length > 0">
												<div class="wd-portlet animated fadeIn"
													ng-repeat="attr in mapCtrl.listAttributeOfField">
													<div class="wd-portlet-title">
														<h2 class="active2">
															<a class="abc" href=""
																ng-click="mapCtrl.attributeClick($event)">
																{{attr.ten}} <i class="iconmuch-acordion">&nbsp;</i>
															</a>
														</h2>
													</div>
													<div class="wd-portlet-body" style="display: none">
														<!-- Set cung -->
														<ul class="wd-list-pricing wd-radio"
															ng-if="attr.ma != 'xep_hang'">
															<li ng-repeat="gtmd in attr.giaTriMacDinh">
																<div class="number">{{gtmd.count}}</div>
																<div class="custom-checkbox">
																	<input tabindex="5" value="{{gtmd.id}}"
																		name="radio-oparator"
																		ng-click="mapCtrl.selectThuocTinh($event, gtmd.id)"
																		type="checkbox" id="{{gtmd.id}}" class="wd-input-sort">
																	<label for="{{gtmd.id}}">{{gtmd.giaTriMacDinh}}</label>
																</div>
															</li>
														</ul>

														<ul class="wd-list-pricing wd-radio"
															ng-if="attr.ma == 'xep_hang'">
															<li ng-repeat="gtmd in attr.giaTriMacDinh">
																<div class="number">{{gtmd.count}}</div>
																<div class="custom-checkbox">
																	<input tabindex="5" value="{{gtmd.id}}"
																		name="radio-oparator" type="checkbox"
																		ng-click="mapCtrl.selectThuocTinh($event, gtmd.id)"
																		id="{{gtmd.id}}" class="wd-input-sort" /> <label
																		class="wd-rating" for="{{gtmd.id}}"> <i
																		class="iconmuch-star"
																		ng-repeat="i in mapCtrl.getNumber(gtmd.thuTu) track by $index">&nbsp;</i>
																	</label>
																</div>
															</li>
														</ul>
														<!--  {{/if}} -->
													</div>
												</div>
											</li>
											<li class="wd-item-special"
												dir-paginate="service in mapCtrl.highlight | itemsPerPage : mapCtrl.everyPage"
												total-items="mapCtrl.isListOrigin ? mapCtrl.listCount :mapCtrl.searchCount"
												pagination-id="listOfService2" current-page="mapCtrl.page">
												<a class="media" ng-click="mapCtrl.showOneService(service)">
													<img class="wd-icon-l" ng-src="{{service.anhLinhVuc}}">
													<span href="" class="pull-left process-img"> <img
														width="86" height="74" alt=""
														ng-src="{{service.anhDaiDien.urlImage}}"
														class="media-object">
												</span> <span class="media-body"> <span
														class="media-heading fix-text"> {{service.ten}}</span> <span
														class="wd-desc fix-text"> {{service.diaChi}} </span> <span
														class="link-action"> <span> <i
																class="fa fa-comment-o"></i> {{service.comment}} 
														</span> <span class="ml12"> <i class="fa fa-heart-o"></i>
																<span id="tempInterest2">{{service.interest}}</span>
														</span>
													</span>
												</span>
											</a>
											</li>
											<li>
												<div class="wd-paging tac">
													<dir-pagination-controls
														template-url="/views/dirPagination.tpl.html"
														on-page-change="mapCtrl.mapPageChange(newPageNumber)"
														pagination-id="listOfService2">
													</dir-pagination-controls>
												</div>
											</li>
										</ul>
										<ul class="wd-place-special"
											ng-if="mapCtrl.highlight.length < 1 &amp;&amp; !mapCtrl.isSearchStreetAB">
											<li class="wd-item-special"
												ng-repeat="kq in mapCtrl.ketquaVBD"><a class="media"
												ng-click="mapCtrl.showOneResult(kq,(mapCtrl.page - 1)*10 + $index + 1)">
													<div>
														<img class="wd-icon-map"
															src="images/front/icon-empty2.png"> <span
															class="wd-icon-map-text">{{(mapCtrl.page - 1)*10 +
															$index + 1}}</span>
													</div> <span class="media-body"> <span
														class="media-heading fix-text">{{kq.Name}}</span> <span
														class="wd-desc fix-text">{{kq.AddressString}}</span>
												</span>
											</a></li>
											<div class="wd-paging map-paging" style="text-align: center;"
												ng-hide="mapCtrl.ketquaVBD.length === 0">
												<ul class="pagination" style="margin-top: 4px;">
													<li class="map-back-button"><a
														ng-click="mapCtrl.backPageSearchStreet()">‹</a></li>
													<li><a> Trang {{mapCtrl.page}} </a></li>
													<li class="map-next-button"><a
														ng-click="mapCtrl.nextPageSearchStreet()">›</a></li>
												</ul>
											</div>
										</ul>
										<ul class="wd-place-special"
											ng-if="mapCtrl.highlight.length < 1 &amp;&amp; mapCtrl.isSearchStreetAB">
											<li class="wd-item-special"
												ng-repeat="kq in mapCtrl.ketquaVBD"><a class="media"
												ng-click="mapCtrl.showPosition(kq)">
													<div>
														<img class="wd-icon-map"
															src="images/front/icon-empty2.png"> <span
															class="wd-icon-map-text">{{(mapCtrl.page - 1)*10 +
															$index + 1}}</span>
													</div> <span class="media-body"> <span
														class="media-heading fix-text">{{kq.Name}}</span> <span
														class="wd-desc fix-text">{{kq.AddressString}}</span>
												</span>
											</a></li>
											<div class="wd-paging map-paging" style="text-align: center;"
												ng-hide="mapCtrl.ketquaVBD.length === 0">
												<ul class="pagination" style="margin-top: 4px;">
													<li class="map-back-button"><a
														ng-click="mapCtrl.backPageSearchStreetAB()">‹</a></li>
													<li><a> Trang {{mapCtrl.page}}</a></li>
													<li class="map-next-button"><a
														ng-click="mapCtrl.nextPageSearchStreetAB()">›</a></li>
												</ul>
											</div>
										</ul>
									</div>
								</div>
								<div class="tab-pane" id="search-tab">
									<div class="wd-top-find-way" id="top-find-way">
										<div class="wd-find-way-form">
											<span class="wd-marker-1">A</span>
											<fieldset class="wd-search-map-form">
												<div class="form-group">
													<input type="text" name="" id="fromA" class="fromA wd-search-ip"
														ng-model="mapCtrl.kwSearchA"
														placeholder="Nhập thông tin cần tìm" ng-enter="mapCtrl.searchA()"> <input
														type="hidden" name="" id="toaDoA" class="wd-search-ip"
														placeholder="Nhập thông tin cần tìm">
													<button type="submit" id="btnCloseA"
														ng-click="mapCtrl.clickCloseBtnA()"
														class="btnCloseA bt-search-close" style="display: none;">
														<i class="fa fa-times"></i>
													</button>
													<button type="submit" id="btnSearchA"
														ng-click="mapCtrl.searchA()" class="btnSearchA bt-search-close">
														<i class="fa fa-search"></i>
													</button>
												</div>
											</fieldset>
										</div>
										<div class="wd-find-way-form">
											<span class="wd-marker-1">B</span>
											<fieldset class="wd-search-map-form">
												<div class="form-group">
													<input type="text" name="" id="toB" class="toB wd-search-ip"
														ng-model="mapCtrl.kwSearchB"
														placeholder="Nhập thông tin cần tìm"
														ng-enter="mapCtrl.searchB()"> 
													<input
														type="hidden" name="" id="toaDoB" class="wd-search-ip"
														placeholder="Nhập thông tin cần tìm">
													<button type="submit" id="btnCloseB"
														ng-click="mapCtrl.clickCloseBtnB()"
														class="btnCloseB bt-search-close" style="display: none;">
														<i class="fa fa-times"></i>
													</button>
													<button type="submit" id="btnSearchB"
														ng-click="mapCtrl.searchB()" class="btnSearchB bt-search-close">
														<i class="fa fa-search"></i>
													</button>
												</div>
											</fieldset>
										</div>
										<img src="/images/front/point_a.png" style="display: none">
										<img src="/images/front/point_b.png" style="display: none">
										<img src="/images/front/point_c.png" style="display: none">
										<div class="panelSearch"></div>

									</div>
									<div class="wd-content-find-way" id="divContDetailWay">
										<ul class="wd-directions-way" id="ulContDetailWay">

										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="wd-left-map hidden-md hidden-sm hidden-lg"
						id="menu-left-map"
						style="display: none; position: absolute; width: 250px;">
						<div class="wd-fixed-scroll">
							<div class="wd-top-left-m" id="wd-top-left-m-mb">
								<ul class="nav nav-tabs wd-tab-map" role="tablist">
									<li class="wd-item-m2 bdr-tab active" style="background: #fff"><a
										class="wd-bt-tab" ng-click="mapCtrl.selectTab('location')"
										role="tab" data-toggle="tab">{{language.timKiem}}</a></li>
									<li class="wd-item-m2" style="background: #fff"><a
										class="wd-bt-tab" ng-click="mapCtrl.selectTab('search')"
										role="tab" data-toggle="tab">{{language.timDuong}}</a></li>
								</ul>
							</div>
							<div class="tab-content">
								<div class="tab-pane active" id="location-tab-mb">
									<div class="wd-sortby-top" id="wd-sortby-top-mb">
										<div class="wd-sortby-top-sl select-engine">
											<div class="wd-search-map-form">
												<div class="form-group">
													<input type="text" id="textSearch"
														ng-enter="mapCtrl.searchStreet(mapCtrl.keyword)"
														ng-model="mapCtrl.keyword" style="height: 34px;"
														class="wd-search-ip"
														placeholder="Nhập dịch vụ, lĩnh vực, địa chỉ...">
													<input type="hidden" value="" name="isDichVu">
												</div>
											</div>
											<select class="wd-select-sort" id="contMapCatalog"
												style="display: none;">
												<option value="0">Chọn lĩnh vực</option>
											</select>
											<div class="btn-group bootstrap-select wd-select-sort">
												<button type="button"
													class="btn dropdown-toggle selectpicker btn-default"
													data-toggle="dropdown" data-id="contMapCatalog"
													title="Chọn lĩnh vực">
													<span class="filter-option pull-left">Chọn lĩnh vực</span>&nbsp;
													<span class="caret"></span>
												</button>
												<div class="dropdown-menu open"
													style="max-height: 157px; overflow: hidden; min-height: 92px;">
													<ul class="dropdown-menu inner selectpicker" role="menu"
														style="max-height: 180px; overflow-y: auto; min-height: 80px;">
														<li data-original-index="0" class="selected"><a
															tabindex="0" class=""
															data-normalized-text="Chọn lĩnh vực"
															ng-click="mapCtrl.getServicesHighlight()"> <span
																class="text">Chọn lĩnh vực</span> <span
																class="glyphicon glyphicon-ok check-mark"></span>
														</a></li>
														<li ng-repeat="field in mapCtrl.field"
															data-original-index="{{$index+1}}"><a
															tabindex="{{$index}}"
															ng-click="mapCtrl.getServicesById(field.id,field.ma,field.ten + ' (' +field.soLuongDichVu +')')"
															class=""
															data-normalized-text="{{field.ten}} ({{field.soLuongDichVu}})">
																<span class="text">{{field.ten}}
																	({{field.soLuongDichVu}})</span> <span
																class="glyphicon glyphicon-ok check-mark"></span>
														</a></li>
													</ul>
												</div>
											</div>
											<a href="" ng-click="mapCtrl.searchStreet(mapCtrl.keyword)"
												class="bt-search btn-search-mobile"> <i class="fa fa-search"></i>{{language.tim}}
											</a>
											<div ng-if="mapCtrl.searchCountView" class="wd-search-count">
												<span>Có {{mapCtrl.searchCount}} kết quả được tìm
													thấy</span>
											</div>
										</div>
									</div>
									<div class="wd-scroll-left-m">
										<ul class="wd-place-special" id="contPlaceSpecial"
											ng-show="mapCtrl.isOnCheckThuocTinh || mapCtrl.highlight.length > 0">
											<li ng-if="mapCtrl.listAttributeOfField.length > 0">
												<div class="wd-portlet animated fadeIn"
													ng-repeat="attr in mapCtrl.listAttributeOfField">
													<div class="wd-portlet-title">
														<h2 class="active2">
															<a class="abc" href=""
																ng-click="mapCtrl.attributeClick($event)">
																{{attr.ten}} <i class="iconmuch-acordion">&nbsp;</i>
															</a>
														</h2>
													</div>
													<div class="wd-portlet-body" style="display: none">
														<!-- Set cung -->
														<ul class="wd-list-pricing wd-radio"
															ng-if="attr.ma != 'xep_hang'">
															<li ng-repeat="gtmd in attr.giaTriMacDinh">
																<div class="number">{{gtmd.count}}</div>
																<div class="custom-checkbox">
																	<input tabindex="5" value="{{gtmd.id}}"
																		name="radio-oparator"
																		ng-click="mapCtrl.selectThuocTinh($event, gtmd.id)"
																		type="checkbox" id="{{gtmd.id}}" class="wd-input-sort">
																	<label for="{{gtmd.id}}">{{gtmd.giaTriMacDinh}}</label>
																</div>
															</li>
														</ul>

														<ul class="wd-list-pricing wd-radio"
															ng-if="attr.ma == 'xep_hang'">
															<li ng-repeat="gtmd in attr.giaTriMacDinh">
																<div class="number">{{gtmd.count}}</div>
																<div class="custom-checkbox">
																	<input tabindex="5" value="{{gtmd.id}}"
																		name="radio-oparator" type="checkbox"
																		ng-click="mapCtrl.selectThuocTinh($event, gtmd.id)"
																		id="{{gtmd.id}}" class="wd-input-sort" /> <label
																		class="wd-rating" for="{{gtmd.id}}"> <i
																		class="iconmuch-star"
																		ng-repeat="i in mapCtrl.getNumber(gtmd.thuTu) track by $index">&nbsp;</i>
																	</label>
																</div>
															</li>
														</ul>
														<!--  {{/if}} -->
													</div>
												</div>
											</li>
											<li class="wd-item-special"
												dir-paginate="service in mapCtrl.highlight | itemsPerPage : mapCtrl.everyPage"
												total-items="mapCtrl.isListOrigin ? mapCtrl.listCount :mapCtrl.searchCount"
												pagination-id="listOfService3" current-page="mapCtrl.page">
												<a class="media" ng-click="mapCtrl.showOneService(service)">
													<span href="#" class="pull-left process-img"> <img
														style="width: 60px; height: 45px;" alt=""
														ng-src="{{service.anhDaiDien.urlImage}}"
														class="media-object">
													</span>
													<span class="media-body">
														<span class="media-heading fix-text" style="font-size: 10px;">
															<img class="wd-icon-l" ng-src="{{service.anhLinhVuc}}">
															{{service.ten}}
														</span>
														<span class="wd-desc fix-text" style="font-size: 10px;">
															{{service.diaChi}}
														</span>
														<span class="link-action">
														<span style="font-size: 10px; cursor:default;">
															<i class="fa fa-comment-o" style="margin-right: 0px;"></i>
																{{service.comment}}
														</span>
														<span style="font-size: 10px; margin-left: 6px; cursor:default;">
																<i class="fa fa-heart-o" style="margin-right: 0px;"></i>
																<span id="tempInterest2" style="font-size: 10px;">{{service.interest}}</span>
														</span>
													</span>
												</span>
											</a>
											</li>
											<li>
												<div class="wd-paging tac">
													<dir-pagination-controls
														template-url="/views/dirPagination.tpl.html"
														on-page-change="mapCtrl.mapPageChange(newPageNumber)"
														pagination-id="listOfService3">
													</dir-pagination-controls>
												</div>
											</li>
										</ul>
										<ul class="wd-place-special"
											ng-if="mapCtrl.highlight.length < 1 &amp;&amp; !mapCtrl.isSearchStreetAB">
											<li class="wd-item-special"
												ng-repeat="kq in mapCtrl.ketquaVBD"><a class="media"
												ng-click="mapCtrl.showOneResult(kq,(mapCtrl.page - 1)*10 + $index + 1)">
													<div>
														<img class="wd-icon-map"
															src="images/front/icon-empty2.png"> <span
															class="wd-icon-map-text">{{(mapCtrl.page - 1)*10 +
															$index + 1}}</span>
													</div> <span class="media-body"> <span
														class="media-heading fix-text">{{kq.Name}}</span> <span
														class="wd-desc fix-text">{{kq.AddressString}}</span>
												</span>
											</a></li>
											<div class="wd-paging map-paging" style="text-align: center;"
												ng-hide="mapCtrl.ketquaVBD.length === 0">
												<ul class="pagination" style="margin-top: 4px;">
													<li class="map-back-button"><a
														ng-click="mapCtrl.backPageSearchStreet()">‹</a></li>
													<li><a> Trang {{mapCtrl.page}} </a></li>
													<li class="map-next-button"><a
														ng-click="mapCtrl.nextPageSearchStreet()">›</a></li>
												</ul>
											</div>
										</ul>
										<ul class="wd-place-special"
											ng-if="mapCtrl.highlight.length < 1 &amp;&amp; mapCtrl.isSearchStreetAB">
											<li class="wd-item-special"
												ng-repeat="kq in mapCtrl.ketquaVBD"><a class="media"
												ng-click="mapCtrl.showPosition(kq)">
													<div>
														<img class="wd-icon-map"
															src="images/front/icon-empty2.png"> <span
															class="wd-icon-map-text">{{(mapCtrl.page - 1)*10 +
															$index + 1}}</span>
													</div> <span class="media-body"> <span
														class="media-heading fix-text">{{kq.Name}}</span> <span
														class="wd-desc fix-text">{{kq.AddressString}}</span>
												</span>
											</a></li>
											<div class="wd-paging map-paging" style="text-align: center;"
												ng-hide="mapCtrl.ketquaVBD.length === 0">
												<ul class="pagination" style="margin-top: 4px;">
													<li class="map-back-button"><a
														ng-click="mapCtrl.backPageSearchStreetAB()">‹</a></li>
													<li><a> Trang {{mapCtrl.page}} </a></li>
													<li class="map-next-button"><a
														ng-click="mapCtrl.nextPageSearchStreetAB()">›</a></li>
												</ul>
											</div>
										</ul>
									</div>
								</div>
								<div class="tab-pane" id="search-tab-mb">
									<div class="wd-top-find-way" id="top-find-way-mb"
										style="background: #fff; padding-left: 7px; padding-right: 7px;">
										<div class="wd-find-way-form">
											<span class="wd-marker-1" style="margin-right: 4px;">A</span>
											<fieldset class="wd-search-map-form wd-search-map-form-mb">
												<div class="form-group">
													<input type="text" name="" id="fromA"
														class="fromA wd-search-ip-mb" ng-model="mapCtrl.kwSearchA"
														placeholder="Nhập thông tin cần tìm"> <input
														type="hidden" name="" id="toaDoA" class="wd-search-ip-mb"
														placeholder="Nhập thông tin cần tìm">
													<button type="submit" id="btnCloseA" 
														ng-click="mapCtrl.clickCloseBtnA()"
														class="btnCloseA bt-search-close" style="display: none;">
														<i class="fa fa-times"></i>
													</button>
													<button type="submit" id="btnSearchA"
														ng-click="mapCtrl.searchA()" class="btnSearchA bt-search-close">
														<i class="fa fa-search"></i>
													</button>
												</div>
											</fieldset>
										</div>
										<div class="wd-find-way-form">
											<span class="wd-marker-1" style="margin-right: 4px;">B</span>
											<fieldset class="wd-search-map-form wd-search-map-form-mb">
												<div class="form-group">
													<input type="text" name="" id="toB" ng-model="mapCtrl.kwSearchB" class="toB wd-search-ip-mb"
														placeholder="Nhập thông tin cần tìm"> <input
														type="hidden" name="" id="toaDoB" class="wd-search-ip-mb"
														placeholder="Nhập thông tin cần tìm">
													<button type="submit" id="btnCloseB"
														ng-click="mapCtrl.clickCloseBtnB()"
														class="btnCloseB bt-search-close" style="display: none;">
														<i class="fa fa-times"></i>
													</button>
													<button type="submit" id="btnSearchB"
														ng-click="mapCtrl.searchB()" class="btnSearchB bt-search-close">
														<i class="fa fa-search"></i>
													</button>
												</div>
											</fieldset>
										</div>
										<img src="/images/front/point_a.png" style="display: none">
										<img src="/images/front/point_b.png" style="display: none">
										<img src="/images/front/point_c.png" style="display: none">
										<div class="panelSearch"></div>

									</div>
									<div class="wd-content-find-way" id="divContDetailWay">
										<ul class="wd-directions-way-mb" id="ulContDetailWayMb">

										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="wd-main-container-map">
						<span class="wd-bt-tog-lct hidden-xs"
							ng-click="mapCtrl.hideMenuLeft()"></span> <span
							class="wd-bt-tog-lct-mb hidden-md hidden-sm hidden-lg"
							ng-click="mapCtrl.hideMenuLeftMobile()"></span>
						<div class="wd-map-act">
							<div class="img-map">
								<div class="fullWdHe">
									<div id="map" class="fullWdHe"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</div>
