﻿<div ng-controller="CheckLoginPublicCtrl"></div>
<div ng-controller="LanguageCtrl">
	<div id="wd-content-container" class="clearfix">
		<div class="container">
			<!-- breadcrumb -->
			<ol class="breadcrumb noboradius nobg">
				<li><a ui-sref="home" class="translate" key="trang_chu">{{language.trangChu}}</a></li>
				<li><a ui-sref="news" class="translate"
					key="tin_tuc_khuyen_mai">{{language.tinTuc}}</a></li>
			</ol>
			<!-- breadcrumb .end -->
			<!-- main content 2 -->
			<div class="row rowParent">
				<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
					<div class="row rowParent">
						<!-- lastest one news -->
						<div class="col-xs-12 col-sm-7 col-md-8 col-lg-8"
							id="contNewsLatest">
							<div class="wd-detail-article animated fadeIn">
								<a
									ui-sref="newsDetail({catId: 'tin-noi-bat', newsId: lastestNews.aliasBaiViet})">
									<img width="100%" height="253" alt=""
									ng-src="{{lastestNews.anhDaiDien.urlImage}}" class="lazy" />
								</a>
							</div>
							<h4 class="media-heading animated fadeIn">
								<a
									ui-sref="newsDetail({catId:'tin-noi-bat', newsId: lastestNews.aliasBaiViet})">
									<span class="title-hightlight">{{lastestNews.tieuDe}}</span> <span
									class="comment"><i class="iconmuch-comment large ml8">&nbsp;</i>
										{{lastestNews.comment}}</span>
								</a>
							</h4>
							<div class="cut-news-high animated fadeIn"
								ng-bind-html="lastestNews.tomTat | truncateText:true:210"></div>
						</div>
						<!-- lastest promotions -->
						<div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
							<div class="porlet-news">
								<div class="aside-news">
									<div class="wd-title">
										<h2 class="tlh2-1 margin-right-opx">
											<a ui-sref="newsTopic({catId: 'khuyen-mai'})"
												class="translate" key="tin_khuyen_mai">{{language.tinKhuyenMai}}</a>
										</h2>
										<div class="view-all fr mt3">
											<a ui-sref="newsTopic({catId: 'khuyen-mai'})"><span
												class="translate" key="xem_tat_ca">{{language.xemTatCa}}</span><i
												class="iconmuch-viewall">&nbsp;</i></a>
										</div>
									</div>
									<ul class="wd-list-news" id="wd-news-promotion">
										<li class="animated fadeIn"
											ng-repeat="promotion in promotions">
											<div class="media">
												<a class="pull-left"
													ui-sref="newsDetail({catId: 'khuyen-mai', newsId: promotion.aliasBaiViet})">
													<img class="media-object lazy"
													ng-src="{{promotion.anhDaiDien.urlThumbImage}}" width="70"
													height="48" alt="" />
												</a>
												<div class="media-body">
													<h4 class="media-heading">
														<a
															ui-sref="newsDetail({catId: 'khuyen-mai', newsId: promotion.aliasBaiViet})">{{promotion.tieuDe | truncateText:true:48 }}</a>
													</h4>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- lastest Promotion -->
					</div>
					<!--end row-->
					<!-- Sự kiện -->
					<div class="wd-section mt15 mb12">
						<div class="wd-title">
							<h2 class="tlh2-1">
								<a ui-sref="newsTopic({catId: 'su-kien'})" class="translate"
									key="su_kien">{{language.suKien}}</a>
							</h2>
							<div class="view-all fr">
								<a ui-sref="newsTopic({catId: 'su-kien'})"><span
									class="translate" key="xem_tat_ca">{{language.xemTatCa}}</span><i
									class="iconmuch-viewall">&nbsp;</i></a>
							</div>
						</div>
						<div class="wd-share">
							<ul class="wd-list-news row rowParent3" id="contNewsEvent">
								<li class="col-xs-12 col-sm-4 col-md-4 col-lg-4 animated fadeIn"
									ng-repeat="event in events">
									<div class="wd-thumbnail">
										<a
											ui-sref="newsDetail({catId: 'su-kien',newsId: event.aliasBaiViet})"
											class="process-img"> <img
											ng-src="{{event.anhDaiDien.urlThumbImage}}" alt=""
											width="100%" height="142" class="lazy" />
										</a>
										<div class="caption">
											<h3>
												<a
													ui-sref="newsDetail({catId: 'su-kien', newsId: event.aliasBaiViet})">{{event.tieuDe}}</a>
											</h3>
											<p class="wd-desc-datetime" ng-if="event.thoiGianDienRaStr != ''">
												<i class="iconmuch-calendar mr8">&nbsp;</i><span
													class="wd-icon-text">{{event.thoiGianDienRaStr}}</span>
											</p>
											<div class="link-action mb13">
												<span style="cursor:default;"><i class="iconmuch-comment">&nbsp;</i>
													{{event.comment}} </span> <span style="cursor:default;" class="ml12"><i
													class="iconmuch-heart">&nbsp;</i> {{event.interest}} </span>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<!--end favour-->
					</div>
					<!-- Sự kiện .end-->
					<!-- Tin Tong Hop 1 -->
					<div class="wd-section-nobd mb12 bdb1 pb20">
						<div class="wd-title">
							<h2 class="tlh2-1">
								<a ui-sref="newsTopic({catId: 'tong-hop'})" class="translate"
									key="tong-hop">{{language.tinTucTongHop}}</a>
							</h2>
							<div class="view-all fr">
								<a ui-sref="newsTopic({catId: 'tong-hop'})"><span
									class="translate" key="xem_tat_ca"><span
										class="translate" key="xem_tat_ca">{{language.xemTatCa}}</span></span><i
									class="iconmuch-viewall">&nbsp;</i></a>
							</div>
						</div>
						<div class="row rowParent2">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb13"
								id="contGeneralLarge">
								<a class="wd-top-article-item animated fadeIn"
									ui-sref="newsDetail({catId: 'tong-hop',newsId: newsGeneralLarge.aliasBaiViet})">
									<img class="wd-image-ns lazy" width="100%" height="228" alt=""
									ng-src="{{newsGeneralLarge.anhDaiDien.urlImage}}" /> <span
									class="wd-title-nbg"></span> <span class="wd-title-txt">{{newsGeneralLarge.tieuDe}}</span>
								</a>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 aside-news">
								<ul class="row rowParent2 wd-list-news-st2"
									id="contGeneralMedium">
									<li
										class="col-xs-6 col-sm-6 col-md-6 col-lg-6 wd-item-lmh animated fadeIn"
										ng-repeat="newsMedium in newsGeneralMedium">
										<div class="media">
											<a class="process-img mb10"
												ui-sref="newsDetail({catId: 'tong-hop', newsId: newsMedium.aliasBaiViet})">
												<img class="media-object lazy"
												ng-src="{{newsMedium.anhDaiDien.urlThumbImage}}" width="100%"
												height="120" alt="" />
											</a>
											<div class="media-body">
												<h4 class="media-heading">
													<a
														ui-sref="newsDetail({catId: 'tong-hop', newsId: newsMedium.aliasBaiViet})">{{newsMedium.tieuDe
														| truncateText:true:40}}</a>
												</h4>
												<div class="wd-para mt5"
													ng-bind-html="newsMedium.tomTat | truncateText:true:60"></div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- Tin Tong Hop .end -->
					<!-- list-news-->
					<div class="wd-section-nobd mt20">
						<ul
							class="row rowParent wd-list-news wd-list-news-st2 equal-height"
							id="contGeneralSmall">
							<li
								class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pb20 animated fadeIn item"
								ng-repeat="general in newsGenerals">
								<div class="wd-article-item">
									<div class="wd-article-item-l">
										<a
											ui-sref="newsDetail({catId: general.alias, newsId: general.aliasBaiViet})"
											class="wd-image-item"> <img
											ng-src="{{general.anhDaiDien.urlThumbImage}}" width="103"
											height="70" alt="" class="lazy" />
										</a>
									</div>
									<div class="wd-article-item-r">
										<h4 class="media-heading mb4">
											<a
												ui-sref="newsDetail({catId: general.alias, newsId: general.aliasBaiViet})">{{general.tieuDe | truncateText:true:27}}</a>
										</h4>
										<div class="wd-desc wd-desc-other">{{general.tomTat |
											truncateText:true:85}}</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<!-- list-news .end -->
				</div>
				<!-- right content  -->
				<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
					<!--event_by_time -->
					<!-- Tam thoi` tat chuc nang su kien noi bat -->
					<!-- <div class="wd-portlet">
						<div class="wd-portlet-body bdb1 pt14 pb14">
							<h2 class="tlh2-1">
								<span class="translate" key="su_kien_sap_dien_ra">{{language.suKienNoiBat}}</span>
							</h2>
							<div id="contEventByTime">
								<div class="wd-thumbnail">
									<a
										ui-sref="newsDetail({catId: eventHighlight.alias, newsId: eventHighlight.aliasBaiViet})"
										class="process-img"> <img
										ng-src="{{eventHighlight.anhDaiDien.urlThumbImage}}" alt=""
										width="189" height="123" class="lazy" />
									</a>
									<div class="caption">
										<h3>
											<a
												ui-sref="newsDetail({catId: eventHighlight.alias, newsId: eventHighlight.aliasBaiViet})"
												class="fs13">{{eventHighlight.tieuDe}}</a>
										</h3>
										<p class="wd-desc-datetime">
											<i class="iconmuch-calendar mr8">&nbsp;</i><span
												class="wd-icon-text">{{eventHighlight.thoiGianDienRaStr}}</span>
										</p>
										<div class="link-action">
											<span style="cursor:default;"><i class="iconmuch-comment">&nbsp;</i>
												{{eventHighlight.comment}} bình luận</span> <span  style="cursor:default;" class="ml12"><i
												class="iconmuch-heart">&nbsp;</i>
												{{eventHighlight.interest}} quan tâm </span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> -->
					<!-- event_by_time .end -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wd-item wd-item-pd0" style="margin-top:-12px !important">
						<div class="wd-right-content">
							<advertising-right linkBanner="banner_5"></advertising-right>
							<advertising-right linkBanner="banner_6"></advertising-right>
							<advertising-right linkBanner="banner_7"></advertising-right>
						</div>
					</div>
				</div>
			</div>
			<!-- main content 2 .end -->
			<!--- Video -->
			<div class="row rowParent mt5 mb30">
				<div class="col-xs-12">
					<div class="wd-section bdb3 pb0">
						<h2 class="tlh2-1">
							<a ui-sref="video">Khám phá Đà Nẵng qua Video clips</a>
						</h2>
						<div class="list-video">
							<a id="prev-video" class="click-prev" href="#"><i
								class="iconmuch-square">&nbsp;</i> </a> <a id="next-video"
								class="click-next" href="#"><i class="iconmuch-square">&nbsp;</i>
							</a>
							<div class="list_carousel">
								<ul id="contListVideo">
									<li class="animated fadeIn" ng-repeat="video in videos"><a
										class="link-imgurl video-item"
										ng-click="newsCtrl.showPopupVideo(video)"> <img
											 style="height:100px; max-height:100px;" alt=""
											ng-src="{{video.urlThumb}}" class="lazy" width="168"
											height="100" /><i class="iconmuch-video">&nbsp;</i>
									</a>
										<p>
											<a class="video-item"
												ng-click="newsCtrl.showPopupVideo(video)">{{video.name  | truncateText:true:45 }}
											</a>
										</p></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-controller="MetaCtrl" ng-init="nam('tin tuc')"></div>
