﻿<div ng-controller="CheckLoginPublicCtrl"></div>
<div ng-controller="LanguageCtrl">
<div id="wd-content-container" class="clearfix">
	<div class="container">
		<ol class="breadcrumb noboradius nobg">
			<li><a ui-sref="home" class="translate" key="trang_chu">Trang chủ</a></li>
			<li><a ui-sref="news" class="translate" key="tin_tuc_khuyen_mai">Tin tức</a></li>
			<li class="active">{{newsTpCtrl.nameTopic}}</li>
		</ol>

		<div class="row rowParent mb20">
			<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
				<div class="row" ng-show="newsTpCtrl.topic == 'khuyen-mai' || newsTpCtrl.topic == 'su-kien'">
					<div class="form-content form-resgitration-content" style="margin-left:9px; margin-right:9px;">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group" style="margin-bottom:0;" ng-show="newsTpCtrl.topic == 'su-kien'">
							<label style="line-height: 34px; font-weight:normal;">
								Tên sự kiện
							</label>
							<div>
					            <input type="text" class="form-control" ng-enter="newsTpCtrl.getListNewsTopic(1)"
					            	ng-model="newsTpCtrl.tenSuKien" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group" style="margin-bottom:0;">
							<label style="line-height: 34px; width:70px; font-weight:normal;">
								Từ ngày
							</label>
							<div>
								<div class="input-group date" id="datetimepicker1">
						            <input type="text" class="form-control" id="fromDate" ng-model="newsTpCtrl.fromDay" />
						        	<span class="input-group-addon">
						        		<span class="glyphicon-calendar glyphicon"></span>
						        	</span>
						        </div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group" style="margin-bottom:0;">
							<label style="line-height: 34px; width:70px; font-weight:normal;">Đến ngày</label>
							<div>
								<div class="input-group date" id="datetimepicker2">
						            <input type="text" class="form-control" id="toDate" ng-model="newsTpCtrl.toDay" />
						        	<span class="input-group-addon">
						        		<span class="glyphicon-calendar glyphicon"></span>
						        	</span>
						        </div>
							</div>
						</div>					
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 form-group btnTimKiemKhuyenmai">
							<label style="line-height: 34px; width:70px; font-weight:normal;margin-top:28px;" class="hidden-xs"></label>
							<div style="width: 100px;">
                                <button type="submit" ng-click="newsTpCtrl.getListNewsTopic(1)" style="width:100px;"
                                	class="btn btn-default btn-primary">{{language.tim}}</button>
                           </div>
						</div>
					</div>
				</div>
				<!-- main-content -->
				<div class="wd-main-content">
					<h3 class="tlh3-2" id="contTitleNews"></h3>
					<!-- <div class="dropdown sort" ng-show="newsTpCtrl.topic == 'su-kien'">
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" 				aria-expanded="true">
							{{selectedSortType.name}}
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li ng-repeat="item in sortTypes" ng-click="sortSelectChange(item)"><a href="javascript:void(0);">{{item.name}}</a></li>
						</ul>
					</div> -->
					<ul class="wd-list-topic" id="contTopic">
						<div dir-paginate="newsTopic in newsTopics | itemsPerPage : everyPage" current-page="newsTpCtrl.page"
								total-items="total" pagination-id="listOfNewsTopic">
							<li class="animated fadeIn">
								<a ui-sref="newsDetail({catId: newsTopic.alias, newsId: newsTopic.aliasBaiViet})">
									<img alt="" width="180" height="117" ng-src="{{newsTopic.anhDaiDien.urlThumbImage}}" class="wd-img-news" />
								</a>
								<h4><a ui-sref="newsDetail({catId: newsTopic.alias, newsId: newsTopic.aliasBaiViet})">{{newsTopic.tieuDe}}</a></h4>
								<div class="pt3 pb3">
									<!-- <span class="wd-text"><i class="fa fa-calendar-o"></i> Ngày đăng: {{newsTopic.ngayBatDauXuatBanStr}} </span> -->
									<span class="wd-text" ng-show="newsTpCtrl.topic == 'su-kien'">
										<i class="fa fa-calendar-o"></i> 
										Thời gian diễn ra: {{newsTopic.thoiGianDienRaStr}}  {{newsTopic.thoiGianKetThucStr?' - '+newsTopic.thoiGianKetThucStr:''}}
									</span>
									<span class="wd-text" ng-show="newsTpCtrl.topic == 'khuyen-mai'">
										<i class="fa fa-calendar-o"></i> 
										Thời gian KM: {{newsTopic.ngayBatDauKhuyenMaiStr}}  {{newsTopic.ngayKetThucKhuyenMaiStr?' - '+newsTopic.ngayKetThucKhuyenMaiStr:''}}
									</span>
									<span class="wd-text" ng-show="newsTpCtrl.topic == 'tong-hop'">
										<i class="fa fa-calendar-o"></i> 
										Ngày đăng: {{newsTopic.ngayBatDauXuatBanStr}}
									</span>
									<span class="wd-text mr10 ml10">|</span>
									<span class="wd-text"><i class="fa fa-eye"></i> Lượt xem:  {{newsTopic.view}}</span>
								</div>
								<div class="pt3 pb3" ng-show="newsTpCtrl.topic == 'su-kien'">
									<span class="wd-text"><i class="fa fa-map-marker"></i> Địa điểm diễn ra: {{newsTopic.diaDiem}}
								</div>
								<p>{{newsTopic.tomTat | truncateText:true:225}}</p>
							</li>
						</div>
					</ul>
					<!--end article-->
					<div id="page-selection" class="tac wd-paging" ng-if="newsTopics.length > 9">
						<dir-pagination-controls
								template-url="/views/dirPagination.tpl.html"
								on-page-change="newsTpCtrl.getListNewsTopic(newPageNumber)"
								pagination-id="listOfNewsTopic"></dir-pagination-controls>
					</div>
				</div>
				<!-- main-content -->
				
				<div class="noResult"><p ng-if="newsTopics.length == 0">{{language.noResult}}</p></div>
			</div>
			<!-- right content -->
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
				<div class="wd-right-content">
					<!-- insert Quang cao -->
					<div lastest-news></div>
					<div hot-destination></div>
					<advertising-right linkBanner="banner_5"></advertising-right>
					<advertising-right linkBanner="banner_6"></advertising-right>
					<advertising-right linkBanner="banner_7"></advertising-right>
				</div>
			</div>
			<!--end right-content-->
		</div>
		<!--end row-->
	</div>
</div>
