﻿<div ng-controller="CheckLoginPublicCtrl"></div>
<div ng-controller="LanguageCtrl">
<div id="wd-content-container" class="clearfix">
	<div class="container">
		<ol class="breadcrumb noboradius nobg">
			<li><a ui-sref="home" class="translate" key="trang_chu">{{language.trangChu}}</a></li>
			<li><a ui-sref="news" class="translate" key="tin_tuc_khuyen_mai">{{language.tinTuc}}</a></li>
			<li><a ui-sref="newsTopic({catId: newsDetail.alias})" id="contAliasBread">{{newsDetail.chuDe.ten}}</a></li>
			<li class="active" > {{newsDetail.tieuDe}} </li>
		</ol>
		<!-- loader -->
		<div class="row rowParent2 mb20" ng-if="newDetailCtrl.loading">
			<div class="col-md-12" ><div class="around-loader"></div></div>
		</div>
		<div class="row rowParent mb20" ng-show="!newDetailCtrl.loading">
			<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
				<!-- main-content -->
				<div class="wd-main-content">
					<div class="wd-introduction newDetail">
						<div id="print">
							<div class="animated fadeIn">
								<label id="obj" style="display:none !important;">{{newsDetail}}</label>
								<h3 class="tlh3-2" id="lblTitle">{{newsDetail.tieuDe}}</h3>
								<div class="clearfix">
									<p class="wd-title-post pull-left"><i class="fa fa-calendar-o mr4"></i>
										<span class="wd-text translate" key="ngay_dang" ng-show="newsDetail.alias == 'tong-hop'">
											Ngày đăng: {{newsDetail.ngayBatDauXuatBanStr}}
										</span> 
										<span class="wd-text translate" key="ngay_dang" ng-show="newsDetail.alias == 'su-kien'">
											Thời gian diễn ra: {{newsDetail.thoiGianDienRaStr}}
											{{newsDetail.thoiGianKetThucStr?' - '+newsDetail.thoiGianKetThucStr:''}} 
										</span>
										<span class="wd-text translate" key="ngay_dang" ng-show="newsDetail.alias == 'khuyen-mai'">
											Thời gian khuyến mãi: {{newsDetail.ngayBatDauKhuyenMaiStr}}
											{{newsDetail.ngayKetThucKhuyenMaiStr?' - '+newsDetail.ngayKetThucKhuyenMaiStr:''}} 
										</span> 
										<span class="wd-text mr15 ml15">|</span><i class="fa fa-eye mr4"></i>
										<span class="wd-text translate" key="luot_xem">Lượt xem:  {{newsDetail.view}}</span>
									</p>
									<ul class="wd-connect-machine">
										<li class="mis-email">
											<a href="" ng-click="newDetailCtrl.popupEmail()" >
											<i class="fa fa-envelope-o">&nbsp;</i>
											</a>
										</li>
										<li><a href="" ng-click="print('print')"><i class="fa fa-print">&nbsp;</i></a></li>
									</ul>
									<p class="wd-title-post" ng-show="newsDetail.alias == 'su-kien'" style="margin: -10px 0 5px 0;clear:both;">
										<i class="fa fa-map-marker mr4"></i>
										<span class="wd-text translate">
											Địa điểm diễn ra: {{newsDetail.diaDiem}} 
										</span> 
									</p>
								</div>
								<p id='lblContent' ng-bind-html="newsDetail.noiDung | to_trusted"></p>
								<p class="tar"><strong id='lblAuthor'>{{newsDetail.tacGia}}</strong></p>
							</div>
						</div>
						<div class="clearfix">
							<div id="contInterest">
								<div class="tal">
									<div class="link-system">
										<a href="" class="btn-interest" ng-click="newDetailCtrl.interest()">
											<i ng-class="interest.content == 'chuaquantam'? 'fa fa-heart' : 'fa fa-heart-o'"></i>Quan tâm
										</a>
										<span class="count-interest">{{ interest.count }}</span>
									</div>
								</div>
							</div>
							<div id="addthis" class="addthis_toolbox addthis_default_style">
								<a class="addthis_button_facebook_like pr10" fb:like:layout="button_count"></a>
								<a class="addthis_button_google_plusone pr10 wdt72" g:plusone:size="medium"></a>
								<a class="addthis_button_tweet" tw:via="addthis"></a>
							</div>
						</div>
					</div>
					<!--end article-->
					<!-- comment box -->
					<div class="wd-comment-container clearfix">
						<div class="wd-title" ng-if="newsDetail.comment > 0">
							<h2 class="tlh2-1"><span><span id="contCountComment">{{newsDetail.comment}}</span> <span class="translate" key="binh_luan">{{language.binhLuan}} :</span></span></h2>

							<!--<a href="#" class="sent-comment-bt fr"><i class="fa fa-edit">&nbsp;</i>Xem tất cả</a>-->
						</div>
						<ul class="wd-comment-list" id="contLstComment">
							<li class="wd-comment-abs-item animated fadeIn">
								<!--start comment parent-->
								<div class="author"
									dir-paginate="comment in newDetailCtrl.listComment | itemsPerPage: everyPage"
									total-items="totalComment" pagination-id="listOfComment">
									<div class="avatar">
										<div class="radius-img">
											<img ng-if="comment.imgUser != ''" width="55" height="53" alt="" ng-src="{{comment.imgUser}}" draggable="false">
											<img ng-if="comment.imgUser == ''" width="55" height="53" alt="" src="/images/front/avartar_default.jpg" draggable="false">
										</div>
									</div>
									<div class="wd-description">
										<h3 class="wd-title">{{comment.fullName}}
											<span ng-controller="FormatTimeCtrl" class="wd-desc-t1">
												{{formatTimeCtrl.convertTime(comment.Time)}}
											</span>
										</h3>
										<p class="wd-desc-post">{{comment.content}}</p>

										<!--start sub-comment-->
										<div class="wd-sub-comment">
											<div class="wd-reply">
												<a href="" class="btn-comment"><i class="fa fa-comment-o"></i> <span class="translate" key="tra_loi" ng-click="newDetailCtrl.showHideCommentBox('cmt_box_{{comment.id}}')">{{language.traLoi}}</span></a>
												<!-- class="process-form" -->
												<div class="process-form" id="cmt_box_{{comment.id}}">
													<form id="FrmCommentReplyChild" name="FrmComChild" action="" method="" role="form">
														<fieldset class="wd-comment-form-content mt10">
															<div class="wd-input">
																<textarea rows="4" cols="50" name="content" class="wd-textarea-ct"
																	placeholder="{{language.binhLuan}} của bạn" ng-model="comment.reply"
																	ng-click="newDetailCtrl.checkLoginRequired($event)">
																</textarea>
															</div>
															<div class="wd-submit-ct">
																<input type="button" value="{{language.gui}}" id="btnSendReply" class="bt-submit-accp btnChildComment"
																ng-click="newDetailCtrl.addReplyOfComment(comment)"/>
															</div>
														</fieldset>
													</form>
												</div>
											</div>
										</div>
										<!--end sub-comment-->
										<div>
										<!--comment child-->
											<div class="author" ng-repeat="rep in comment.userInterations | limitTo:comment.limitReply">
												<div class="avatar">
													<div class="radius-img">
														<img ng-if="comment.imgUser != ''" width="55" height="53" alt="" ng-src="{{rep.imgUser}}" draggable="false">
														<img ng-if="comment.imgUser == ''" width="55" height="53" alt="" src="/images/front/avartar_default.jpg" draggable="false">
													</div>
												</div>
												<div class="wd-description">
													<h3 class="wd-title">{{rep.fullName}}
														<span ng-controller="FormatTimeCtrl" class="wd-desc-t1">
															{{formatTimeCtrl.convertTime(rep.Time)}}
														</span>
													</h3>
													<p class="wd-desc-post">{{rep.content}}</p>
												</div>
												<div class="wd-sub-comment">
													<div class="wd-reply">
														<a href="" class="btn-comment"><i class="fa fa-comment-o"></i> <span class="translate" key="tra_loi" ng-click="newDetailCtrl.showHideCommentBox('cmt_box_{{rep.id}}')">{{language.traLoi}}</span></a>
														<!-- class="process-form" -->
														<div class="process-form" id="cmt_box_{{rep.id}}">
															<form id="FrmCommentReplyChild" name="FrmComChild" action="" method="" role="form">
																<fieldset class="wd-comment-form-content mt10">
																	<div class="wd-input">
																		<textarea rows="4" cols="50" name="content" class="wd-textarea-ct"
																			placeholder="{{language.binhLuan}} của bạn" ng-model="rep.reply"
																			ng-click="newDetailCtrl.checkLoginRequired($event)">
																		</textarea>
																	</div>
																	<div class="wd-submit-ct">
																		<input type="button" value="{{language.gui}}" id="btnSendReply" class="bt-submit-accp btnChildComment"
																		ng-click="newDetailCtrl.addReplyOfComment(rep)"/>
																	</div>
																</fieldset>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!--comment child-->
										<div class="content-child-comment">
											<div></div>
											<div class="tar"><a href="" class="btn-show-child-comment" ng-init="comment.limitReply = 2" ng-click="comment.limitReply = comment.userInterations.length" ng-show="comment.limitReply < comment.userInterations.length">Xem tất cả<i class="fa fa-sort-down"></i></a></div>
										</div>
										<!--end comment child-->
									</div>
								</div>
								<!--end comment parent-->
								<div class="wd-paging tac">
									<dir-pagination-controls
										template-url="/views/dirPagination.tpl.html"
										on-page-change="newDetailCtrl.getListComment(newPageNumber)"
										pagination-id="listOfComment"> </dir-pagination-controls>
								</div>
							</li>
						</ul>
						<div class="wd-comment-form">
							<form id="FrmCommentPost" name="FrmComParent" action="" method="" role="form">
								<fieldset class="wd-comment-form-content">
									<div class="wd-input">
										<textarea rows="4" cols="50" name="content" id="txtParentCommentArea" class="wd-textarea-ct"
											placeholder="{{language.binhLuan}} của bạn"
											ng-model="newDetailCtrl.commentContent" ng-click="newDetailCtrl.checkLoginRequired($event)" >
										</textarea>
									</div>
									<div class="wd-submit-ct">
										<input type="button" value="{{language.gui}}" class="bt-submit-accp translate" key="gui" id="btnSendComment" ng-click="newDetailCtrl.addComment()">
									</div>
								</fieldset>
							</form>
						</div>
					</div>
					<!-- comment box .end -->
				</div>
				<!-- main-content1 .end -->
				<!-- main-content -->
				<div class="wd-main-content ft">
					<div class="tin-tuc-khac-head">
						<h2><a href="javascript:void(0)" class="translate" key="tin_tuc_khac">{{language.tinTucKhac}}:</a></h2>
					</div>
					<ul class="row rowParent wd-list-news wd-list-news-nav" id="contPartOtherNews">
						<li class="col-xs-12 col-sm-6 col-md-6 col-lg-6 animated fadeIn" ng-repeat="related in newsRelatedArticles">
							<div class="media">
								<a ui-sref="newsDetail({catId: related.alias, newsId: related.aliasBaiViet})" class="pull-left">
									<img width="70" height="48" alt="{{related.anhDaiDien.moTa}}" ng-src="{{related.anhDaiDien.urlThumbImage}}" class="media-object">
								</a>
								<div class="media-body">
									<h4 class="media-heading">
										<a ui-sref="newsDetail({catId: related.alias, newsId: related.aliasBaiViet})">
											{{related.tieuDe}}
										</a>
									 </h4>
									 <p class="color-grey">{{related.ngayBatDauXuatBanStr}}</p>
								 </div>
							</div>
						</li>
					</ul>
				</div>
				<!-- main-content3 .end -->
			</div>
			<!-- right content -->
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
				<div class="wd-right-content">
					<div lastest-news ></div>
					<div type="slide" hot-destination ></div>
					<advertising-right linkBanner="banner_5"></advertising-right>
					<advertising-right linkBanner="banner_6"></advertising-right>
					<advertising-right linkBanner="banner_7"></advertising-right>
				</div>
			</div>
			<!-- end right content -->
		</div>
		<!--end row-->
	</div>
</div>
</div>
<div ng-controller="MetaCtrl" ng-init="getMeta()"></div>
<!-- reload addthis -->
<script type="text/javascript">
	addthis.toolbox("#addthis");
</script>
