<div ng-controller="CheckLoginPublicCtrl"></div>
<div id="wd-content-container" class="clearfix">
	<div class="container">
		<h2 class="wd-title-st1 pb65 pt65">
			Nội Dung<br /><br />{{msg}}
		</h2>
	</div>
</div>
<!--end wd-content-container-->

<div style="display: none">
	<div id="notice_popup_content"
		class="wd-popup-container wd-popup-login-container notice-popup">
		<div class="wd-header-pp bdb1">
			<h2 class="wd-title-st1">Xác thực email thành công</h2>
		</div>
		<div class="wd-pp-content">
			<div class="row rowParent wd-login-content">
				<div class="col-xs-12">
					<h2 class="tlh3-6 pb0">{{msg}}</h2>
				</div>
			</div>
		</div>
		<div class="wd-footer-pp bdt1">
			<strong>Người dân du khách</strong>
		</div>
	</div>
</div>
<!-- popup notice .end --->


