<div ng-controller="CheckLoginPublicCtrl"></div>
<div id="wd-content-container" class="clearfix">
	<div class="container">
		<ol class="breadcrumb noboradius nobg">
			<li><a href="/index">Trang chủ</a></li>
			<li><a href="/mua-sam-dat-cho">Mua sắm</a></li>
			<li class="active">Hóa đơn</li>
		</ol>
		<div class="wd-mess-succ-content pt40 pb50 tac">
			<div class="pb25">
				<i class="iconmuch-card"><img alt="" src="imagesnocode/icons-cart.png">&nbsp;</i>
			</div>
			<h2 class="tlh3-7 pb10">Cám ơn bạn đã đặt hàng tại yourdanang.vn</h2>
			<div class="wd-email-box-mess mt15">
				<span class="wd-label-order">MÃ số đơn hàng : </span><span
					class="number-code"> {{maDatHang}}</span>
			</div>
			<p class="wd-desc-order mt7">Chúng tôi sẽ gọi Quý Khách để xác
				nhận đơn hàng trong vòng 24 giờ</p>
			<p class="wd-desc-order">
				Để đẩy nhanh quá trình xác nhận đơn hàng. Quý Khách vui lòng gọi đến
				số <span class="label-code">1900 94 96</span>
			</p>
			<p class="wd-desc-order">Đơn hàng sẽ được xử lý ngay khi xác nhận</p>
			
			<!-- <p class="wd-desc-order">
				Để xem những đơn hàng đã đặt vui lòng đến trang <a
					href="/mua-sam-dat-cho" class="label-code">Quản lý đơn hàng</a>
			</p> -->
			
			<div class="tac button-just-info pt15">
				<a href="" ui-sref="shoppingOrder" class="btn btn-order-next">Tiếp tục
					mua hàng</a>
			</div>
		</div>
	</div>
</div>
<!--end wd-content-container-->
