<div ng-controller="CheckLoginPublicCtrl"></div>
<div ng-controller="CheckShoppingCartCtrl"></div>
<div id="wd-content-container" class="clearfix">
	<div class="container">
		<ol class="breadcrumb noboradius nobg">
			<li><a ui-sref="home">Trang chủ</a></li>
			<li><a ui-sref="shoppingOrder">Mua sắm</a></li>
			<li class="active">Đặt hàng</li>
		</ol>
		<!--end row-->
		<div class="row rowParent2 mb20">
			<div class="col-xs-12 col-sm-7 col-md-9 col-lg-9">
				<div class="wd-main-content" ng-controller="shoppingOrder">
					<h2 class="tlh2-8"><span>Đơn hàng của bạn</span></h2>
					<div class="table-responsive table-order mt20 animated fadeIn" id="contListOrderPayment">
						<h3 style="color: red;" ng-show="msgQuantityOrder != ''">{{msgQuantityOrder}}</h3>
						<h3 style="color: red;" ng-show="msgInfoOrder != ''">{{msgInfoOrder}}</h3>
						<hr/>
						<table class="table table-striped table-hover table-bordered" id="sample_editable_1">
							<thead>
								<tr>
									<th class="tac" width="50"></th>
									<th class="tac" width="220">Dịch vụ</th>
									<th class="tac" width="100">Số lượng</th>
									<th class="tac">Thông tin thêm</th>
									<th class="tac">Chỉnh sửa</th>
								</tr>
							</thead>
							<tbody>
								<!-- {{each listOrder}} -->
								<form>
								<tr ng-repeat="gioHang in listGioHang" id="tr{{$index}}">
									<td class="tac"><span class="number-desc boradius">{{$index + 1}}</span></td>
									<td><a href="">{{gioHang.nameService}}</a></td>
									<td ng-hide="serviceCtrl.show == {{$index + 1}} && !serviceCtrl.showView" class="tac">{{gioHang.amount}}</td>
									<td ng-show="serviceCtrl.show == {{$index + 1}} && !serviceCtrl.showView" class="tac">
										<input type="text" name="select-quanlity" style="width:60px; height:30px;"
											class="form-control" ng-model="gioHang.quantityOrder" />
									</td>
									<td ng-hide="serviceCtrl.show == {{$index + 1}} && !serviceCtrl.showView">
										<p class="text-wrap">{{gioHang.inforamtionAddition}}</p>
									</td>
									<td ng-show="serviceCtrl.show == {{$index + 1}} && !serviceCtrl.showView">
										<input type="text" class="form-control" ng-model="gioHang.infoOrder" />
									</td>
									<td>
										<div class="table-link-action">
											<a href="" ng-show="!serviceCtrl.showView && serviceCtrl.show != {{$index + 1}}" ng-click="serviceCtrl.chinhSua($index+1, gioHang)" class="btn btn-default btn-xs mr3 edit" data-toggle="tooltip" data-placement="top" paramKey="" title="Sửa"></a>
											<a href="" ng-show="serviceCtrl.showView" ng-click="serviceCtrl.chinhSua($index+1, gioHang)" class="btn btn-default btn-xs mr3 edit" data-toggle="tooltip" data-placement="top" paramKey="" title="Sửa"></a>
											<a href="" ng-show="!serviceCtrl.showView && serviceCtrl.show == {{$index + 1}}" ng-click="serviceCtrl.save($index, gioHang)" class="btn btn-default btn-xs mr3 edit save" data-toggle="tooltip" data-placement="top" paramKey="" title="Lưu"></a>
											<a href="" ng-click="serviceCtrl.xoa($index)" class="btn btn-danger btn-xs ml3 delete" data-toggle="tooltip" data-placement="top" paramKey="" title="Xóa"></a>
										</div>
									</td>
								</tr>
								</form>
								<!-- {{/each}} -->
							</tbody>
						</table>
					</div>
					<div class="tac button-just-info pt15">
						<a href="" ng-click="clickDatHang()" class="btn btn-order-single">Đặt hàng</a>
						<a href="" ui-sref="shoppingOrder" class="btn btn-next" id="btnContinue">Tiếp tục mua sắm <i class="iconmuch-rght-booking"></i></a>
					</div>

					<div class="wd-block-information mt30">
						<span class="glyphicon glyphicon-remove btn-close-block" ng-click="serviceCtrl.clickClose()"></span>
						<h2 class="tlh2-8"><span>Thông tin cá nhân</span></h2>
						<div class="row rowParent3">
							<form name="myForm" class="form-info-booking" method="post" novalidate ng-submit="hoanThanhOrder()">
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group">
										<label for="HoTen">Họ và tên :</label>
										<input type="text" name="hoTen" ng-model="hoTen" class="form-control" required placeholder="Họ và tên">
										<span style="color:red" ng-show="submittedOrder && ((myForm.hoTen.$dirty && myForm.hoTen.$invalid) || (myForm.hoTen.$invalid))">
										<span ng-show="myForm.hoTen.$error.required">Yêu cầu nhập họ và tên</span>
									</div>
									<div class="form-group">
										<label for="txtEmailInfo">Email:</label>
										<input type="email" ng-pattern="EMAIL_REGEXP" name="emailOrder" ng-model="emailOrder" class="form-control" required placeholder="Email">
										<span style="color:red" ng-show="submittedOrder && ((myForm.emailOrder.$dirty && myForm.emailOrder.$invalid) || (myForm.emailOrder.$invalid))">
 											<span ng-show="myForm.emailOrder.$error.required">Yêu cầu nhập Email</span>
											<span ng-show="myForm.emailOrder.$error && !myForm.emailOrder.$error.required">Email không hợp lệ</span>
 										</span>
									</div>
									<div class="form-group">
										<label for="Phone">Di động:</label>
										<input type="text" name="phone" ng-model="phone" class="form-control" required placeholder="Số điện thoại">
										<span style="color:red" ng-show="submittedOrder && ((myForm.phone.$dirty && myForm.phone.$invalid) || (myForm.phone.$invalid))">
											<!-- <span ng-show="myForm.phone.$error.required">Yêu cầu nhập số điện thoại</span> -->
											<span ng-show="msgValidatePhone != ''">{{msgValidatePhone}}</span>
										</span>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group ">
										<label for="Address">Địa chỉ:</label>
										<textarea class="form-control hgtArea112 textareaNone" name="address" placeholder="Địa chỉ"
											ng-model="address" rows="3" required></textarea>
										<span style="color:red" ng-show="submittedOrder && ((myForm.address.$dirty && myForm.address.$invalid) || (myForm.address.$invalid))">
										<span ng-show="myForm.address.$error.required">Yêu cầu nhập địa chỉ</span>
									</div>
									<div class="form-group">
										<label for="Time">Thời gian gọi thích hợp:</label>
										<div class="appropriate">
											<div class="col-select select-engine">
												<select class="form-control" id="hourSelect" ng-model="gio">
													<option value="gio">Giờ</option>
													<option value="0">00</option>
													<option value="1">01</option>
													<option value="2">02</option>
													<option value="3">03</option>
													<option value="4">04</option>
													<option value="5">05</option>
													<option value="6">06</option>
													<option value="7">07</option>
													<option value="8">08</option>
													<option value="9">09</option>
													<option value="10">10</option>
													<option value="11">11</option>
													<option value="12">12</option>
													<option value="13">13</option>
													<option value="14">14</option>
													<option value="15">15</option>
													<option value="16">16</option>
													<option value="17">17</option>
													<option value="18">18</option>
													<option value="19">19</option>
													<option value="20">20</option>
													<option value="21">21</option>
													<option value="22">22</option>
													<option value="23">23</option>
												</select>
											</div>
											<div class="col-select select-engine">
												<select class="form-control" id="hourMinute" ng-model="phut">
													<option value="phut"'>Phút</option>
													<option value="00">00</option>
													<option value="01">01</option>
													<option value="02">02</option>
													<option value="03">03</option>
													<option value="04">04</option>
													<option value="05">05</option>
													<option value="06">06</option>
													<option value="07">07</option>
													<option value="08">08</option>
													<option value="09">09</option>
													<option value="10">10</option>
													<option value="11">11</option>
													<option value="12">12</option>
													<option value="13">13</option>
													<option value="14">14</option>
													<option value="15">15</option>
													<option value="16">16</option>
													<option value="17">17</option>
													<option value="18">18</option>
													<option value="19">19</option>
													<option value="20">20</option>
													<option value="21">21</option>
													<option value="22">22</option>
													<option value="23">23</option>
													<option value="24">24</option>
													<option value="25">25</option>
													<option value="26">26</option>
													<option value="27">27</option>
													<option value="28">28</option>
													<option value="29">29</option>
													<option value="30">30</option>
													<option value="31">31</option>
													<option value="32">32</option>
													<option value="33">33</option>
													<option value="34">34</option>
													<option value="35">35</option>
													<option value="36">36</option>
													<option value="37">37</option>
													<option value="38">38</option>
													<option value="39">39</option>
													<option value="40">40</option>
													<option value="41">41</option>
													<option value="42">42</option>
													<option value="43">43</option>
													<option value="44">44</option>
													<option value="45">45</option>
													<option value="46">46</option>
													<option value="47">47</option>
													<option value="48">48</option>
													<option value="49">49</option>
													<option value="50">50</option>
													<option value="51">51</option>
													<option value="52">52</option>
													<option value="53">53</option>
													<option value="54">54</option>
													<option value="55">55</option>
													<option value="56">56</option>
													<option value="57">57</option>
													<option value="58">58</option>
													<option value="59">59</option>
													<option value="60">60</option>
												</select>
											</div>
										</div>
									</div>
									<div class="form-group">

									</div>
								</div>
								<!--<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<label for="City">Thành phố:</label>
									<input type="text" name="city" class="form-control" id="txtCity">
								</div>-->
								<div class="tac button-just-info pt4">
									<button type="submit" class="btn btn-just" ng-click="serviceCtrl.hoanThanhOrder()" id="btnSuccess">Hoàn thành</button>
								</div>
							</form>
						</div>
					</div>
					<!---->
				</div>
			</div>
			<div class="col-xs-12 col-sm-5 col-md-3 col-lg-3">
				<div class="wd-right-content">
					<div class="wd-portlet mt10">
						<div class="wd-portlet-body bdb1 pt14 pb5 pr15 aside-news">
							<h2 class="tlh2-1">
								<a href="" ui-sref="newsTopic({catId: 'khuyen-mai'})" class="translate"
									key="tin_khuyen_mai">Khuyến mãi</a>
							</h2>
							<div class="wd-cover-y">
								<ul class="wd-list-news" id="wd-news-promotion">
									<li class="animated fadeIn" ng-repeat="promotion in promotions">
										<div class="media">
											<a class="pull-left" ui-sref="newsDetail({catId: 'khuyen-mai', newsId: promotion.aliasBaiViet})">
												<img class="media-object lazy" ng-src="{{promotion.anhDaiDien.urlThumbImage}}" width="70" height="48" alt="" />
											</a>
											<div class="media-body">
												<h4 class="media-heading">
													<a ui-sref="newsDetail({catId: 'khuyen-mai', newsId: promotion.aliasBaiViet})">{{promotion.tieuDe}}</a>
												</h4>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- end news promotion-->
				</div>
			</div>
		</div>
		<!--end row-->
		
	</div>
</div>
<!--end wd-content-container-->