<div ng-controller="CheckLoginPublicCtrl"></div>
<div ng-controller="CheckLoginCtrl"></div>
<div id="wd-content-container" class="clearfix">
	<div class="container">
		<!------>
		<div class="row rowParent mt40 mb40">
			<h2 class="tlh3-5 tac pr35 pb30">Hồ sơ cá nhân</h2>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="wd-avatar-profile fr fl-xs mr10">
					<div class="wd-avatar-prfct" ng-show="user != null && user.socialId == null">
						<img ng-show="userProfile.userProfile.avataImage != 'null'" src="{{userProfile.userProfile.avataImage}}" id="myImageFile" height="118" width="118"/>
						<img ng-show="userProfile.userProfile.avataImage == 'null'" src="images/front/avartar_default.jpg" id="myImageFile" height="118" width="118"/>
					</div>
				</div>
			</div>
			<div ng-show="user != null && user.socialId == null" class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
				<div class="form-content form-profile-content wd-table-content">
					<fieldset class="form-horizontal" id="contProfile">
						<table class="table table-striped table-bordered wd-table-cus animated fadeIn">
							<tbody>
								<tr ng-show="user.socialId == null">
									<td width="40%" class="form-group">
										<label for="inputuser" class="col-sm-12 control-label">Họ và tên</label>
									</td>
									<td class="form-group" width="60%">
										<p class="form-control-static">{{userProfile.displayname}}</p>
									</td>
								</tr>
								<tr ng-show="user.socialId == null">
									<td width="40%" class="form-group">
										<label for="inputEmail" class="col-sm-12 control-label">Email</label>
									</td>
									<td class="form-group" width="70%">
										<p class="form-control-static">{{userProfile.email}}</p>
									</td>
								</tr>
								<tr ng-show="user.socialId == null">
									<td width="40%" class="form-group">
										<label for="inputEmail" class="col-sm-12 control-label">Mật khẩu</label>
									</td>
									<td class="form-group" width="70%">
										<p class="form-control-static">********</p>
									</td>
								</tr>
								<tr ng-show="user.socialId == null">
									<td width="40%" class="form-group">
										<label for="inputEmail" class="col-sm-12 control-label">Nhập lại mật khẩu</label>
									</td>
									<td class="form-group" width="70%">
										<p class="form-control-static">********</p>
									</td>
								</tr>
								<tr ng-show="user.socialId == null && user.business">
									<td width="40%" class="form-group">
										<label for="inputEmail" class="col-sm-12 control-label">Tên doanh nghiệp</label>
									</td>
									<td class="form-group" width="70%">
										<p class="form-control-static">{{userProfile.businessName}}</p>
									</td>
								</tr>
								<!-- <tr ng-show="user.socialId == null && user.business">
									<td width="40%" class="form-group">
										<label for="inputEmail" class="col-sm-12 control-label">Mã số thuế</label>
									</td>
									<td class="form-group" width="70%">
										<p class="form-control-static">{{userProfile.businessTaxID}}</p>
									</td>
								</tr> -->
								<tr ng-show="user.socialId == null && user.business">
									<td width="40%" class="form-group">
										<label for="inputEmail" class="col-sm-12 control-label">Địa chỉ</label>
									</td>
									<td class="form-group" width="70%">
										<p class="form-control-static">{{userProfile.businessAddress}}</p>
									</td>
								</tr>
								<!-- <tr ng-show="user.socialId == null && user.business">
									<td width="40%" class="form-group">
										<label for="inputEmail" class="col-sm-12 control-label">Email doanh nghiệp</label>
									</td>
									<td class="form-group" width="70%">
										<p class="form-control-static">{{userProfile.businessEmail}}</p>
									</td>
								</tr> -->
								<tr ng-show="user.socialId == null && user.business">
									<td width="40%" class="form-group">
										<label for="inputEmail" class="col-sm-12 control-label">Số điện thoại</label>
									</td>
									<td class="form-group" width="70%">
										<p class="form-control-static">{{userProfile.businessPhone}}</p>
									</td>
								</tr>
							</tbody>
						</table>
						<div ng-show="user.socialId == null" class="wd-sumit-gr pt20 animated fadeIn">
							<a class="wd-eidt-bt" href="" ui-sref="profileEdit"><i class="fa fa-edit">&nbsp;</i><span class="wd-tetx">Chỉnh sửa</span></a>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
		<!--end extras-->
	</div>
</div>
<!--end wd-content-container-->