<div ng-controller="CheckLoginPublicCtrl"></div>
<div ng-controller="CheckLoginCtrl"></div>
<div id="wd-content-container" class="clearfix">
	<div class="container">
		<!------>
		<div class="row  mt40 mb40">
			<h2 class="tlh3-5 tac pr35 pb30">Hồ sơ cá nhân</h2>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="wd-avatar-profile fr fl-xs mr10">
					<div class="wd-avatar-prfct animated fadeIn">
						<img src="/images/images/avatar-default.jpg" id="myImageFile" class="animated fadeIn" height="118" width="118"/>
					</div>
					<div class="wd-uploadphoto-bt mt5"><i class="fa fa-camera"></i><span>Chọn hình</span>
						<input onchange="angular.element(this).scope().uploadChange(this)" type="file" id="filePicker" accept="image/*" >
					</div>
					<div>
						<span style="color: red"
						ng-show="submittedProfile && ((myForm.imageProfileUpload.$dirty && myForm.imageProfileUpload.$invalid) || (myForm.imageProfileUpload.$invalid))">
							<span ng-show="myForm.imageProfileUpload.$error.required">Yêu cầu chọn ảnh</span>
						</span>
					</div>
					<div class="btnUpdateImg">
						<button ng-click="updateImage()" ng-show="submittedImage" type="submit" class="wd-btn-default-sm" id="btnUpdateImg">Lưu</button>
					</div>
					
				</div>
				
			</div>
			<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
				<div class="form-content form-profile-content wd-table-content">
					
						<fieldset class="form-horizontal" role="form">
							<form name="myForm" novalidate>
								<div class="form-group">
									<label class="col-sm-4 control-label">Họ và tên:</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" name="fullName" ng-model="fullName" placeholder="Nhập họ và tên" required>
										<span style="color:red" ng-show="submittedProfile && ((myForm.fullName.$dirty && myForm.fullName.$invalid) || (myForm.fullName.$invalid))">
											<span ng-show="myForm.fullName.$error.required">Yêu cầu nhập họ và tên</span>
										</span>
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword" class="col-sm-4 control-label">Mật khẩu: </label>
									<div class="col-sm-8">
										<input type="password" class="form-control" id="inputPassword" name="password" ng-model="password" placeholder="Nhập mật khẩu" required>
										<span style="color:red" ng-show="submittedProfile && ((myForm.password.$dirty && myForm.password.$invalid) || (myForm.password.$invalid))">
											<span ng-show="myForm.password.$error.required">Yêu cầu nhập Mật khẩu</span>
										</span>
										<span style="color:red" ng-show="!myForm.password.$error.required && password.length < 6">
											Mật khẩu phải >= 6 kí tự</span>
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword2" class="col-sm-4 control-label">Nhập lại mật khẩu: </label>
									<div class="col-sm-8">
										<input type="password" class="form-control" id="inputPassword2" name="password_confirm" ng-model="password_confirm" match-pas="password" placeholder="Nhập mật khẩu" required>
										<span style="color:red" ng-show="submittedProfile && ((myForm.password_confirm.$dirty && myForm.password_confirm.$invalid) || (myForm.password_confirm.$invalid))">
											<span ng-show="myForm.password_confirm.$error.required">Yêu cầu nhập lại Mật khẩu</span>
											<span ng-show="myForm.password_confirm.$error.match-pas">Mật khẩu không khớp</span>
										</span>
										<span style="color:red" ng-show="msgConfirmProfile">Mật khẩu không khớp</span>
									</div>
								</div>
							</form>
							<form name="businessForm">
								<div ng-show="user.business">
									<div class="form-group">
										<label class="col-sm-4 control-label">Tên doanh nghiệp:</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" name="businessName" ng-model="businessName" placeholder="Nhập tên doanh nghiệp" required>
											<span style="color:red" ng-show="submittedProfile && ((businessForm.businessName.$dirty && businessForm.businessName.$invalid) || (businessForm.businessName.$invalid))">
												<span ng-show="businessForm.businessName.$error.required">Yêu cầu nhập tên doanh nghiệp</span>
											</span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label">Địa chỉ:</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" name="businessAddress" ng-model="businessAddress" placeholder="Nhập địa chỉ" required>
											<span style="color:red" ng-show="submittedProfile && ((businessForm.businessAddress.$dirty && businessForm.businessAddress.$invalid) || (businessForm.businessAddress.$invalid))">
												<span ng-show="businessForm.businessAddress.$error.required">Yêu cầu nhập địa chỉ</span>
											</span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label">Số điện thoại:</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" name="businessPhone" ng-model="businessPhone" placeholder="Nhập số điện thoại" required>
											<span style="color:red" ng-show="submittedProfile && ((businessForm.businessPhone.$dirty && businessForm.businessPhone.$invalid) || (businessForm.businessPhone.$invalid))">
												<span ng-show="businessForm.businessPhone.$error.required">Yêu cầu nhập số điện thoại</span>
											</span>
										</div>
									</div>
								</div>
							</form>
								<div class="form-group">
									<div class="col-sm-offset-4 col-sm-8">
									<button ng-click="updateMe()" type="submit" class="wd-btn-default-sm" id="btnUpdate">Cập nhật</button>
									<button ui-sref="profile" class="wd-btn-default-sm wd-btn-default-sm-cancel ml5" id="btnCanel">Hủy</button>
								</div>
							
						</fieldset>
				</div>
			</div>
		</div>
		<!--end extras-->
	</div>
</div>

<!--end wd-content-container-->