﻿<div ng-controller="CheckLoginPublicCtrl"></div>
<div ng-controller="checkRegisterSuccCtrl"></div>
<div class="wd-mess-succ-content pt40 pb50 tac" ng-controller="registrationCtrl as regis">
	<div class="pb25"><i class="iconmuch-check-lg">&nbsp;</i></div>
	<h2 class="tlh3-7 pb10">Chúc mừng bạn đã đăng ký thành công!</h2>
	<!-- <p class="wd-desc-tt">Chúng tôi vừa gửi nội dung kích hoạt đến email</p>
	<a href="javascript:void(0)" class="wd-email-box-mess"><i class="iconmuch-email-lg mr15">&nbsp;</i><span class="wd-tt">{{registedEmail}}</span></a>
	<p class="wd-desc-tt">Vui lòng kiểm tra email và kích hoạt tài khoản để bắt đầu sử dụng</p> -->
	<p class="wd-desc-tt wd-color-bl"><a href="#">Cổng thông tin hỗ trợ người dân và du khách.</a></p>
	<p ng-if="!isBusinessParam" class="wd-desc-tt wd-color-bl">Click 
		<a style="color:green;" href="javascript:void(0)" ng-click="regis.openPopupLogin()">
		ở đây</a> để đăng nhập
	</p>
	<p ng-if="isBusinessParam" class="wd-desc-tt wd-color-bl">Click 
		<a style="color:green;" target="_blank" href="http://backend.yourdanang.vn/">
		ở đây</a> để vào trang quản lý doanh nghiệp
	</p>
</div>
