﻿<div ng-controller="CheckLoginPublicCtrl"></div>
<div ng-controller="LanguageCtrl">
<div id="wd-content-container" class="clearfix" ng-controller="registrationCtrl as regCtrl">
				<div class="container">
					<div class="row rowParent mt40 mb40">
						<div class="{{regCtrl.isBusinessFace?'':'col-xs-12 col-sm-8 col-md-7 col-lg-7 bdr1'}}">
							<!-- dang ky form -->
							<h2 class="tlh3-5 tac pr35 pb25">{{language.dangKyThanhVienmoi}}</h2>
							<div class="form-content form-resgitration-content" style="padding:20px;" >
								<fieldset class="form-horizontal" role="form">
									<form name="myForm" novalidate>
									<div class="form-group">
										<label class="col-sm-4 control-label">{{language.hoVaTen}}:</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" name="fullName" ng-model="fullName" placeholder="Nhập họ và tên" required>
											<span style="color:red" ng-show="submitted && ((myForm.fullName.$dirty && myForm.fullName.$invalid) || (myForm.fullName.$invalid))">
											<span ng-show="myForm.fullName.$error.required">Yêu cầu nhập Họ</span>
											</span>
										</div>
									</div>
									<!-- <div class="form-group">
										<label for="inputuser" class="col-sm-4 control-label">{{language.ten}}:</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="inputuser" name="lasttName" ng-model="lastname" placeholder="Nhập tên" required>
											<span style="color:red" ng-show="submitted && ((myForm.lasttName.$dirty && myForm.lasttName.$invalid) || (myForm.lasttName.$invalid))">
												<span ng-show="myForm.lasttName.$error.required">Yêu cầu nhập Tên</span>
											</span>
										</div>
									</div> -->
									<div class="form-group">
										<label for="inputEmail" class="col-sm-4 control-label">Email</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="inputEmail"  ng-pattern="EMAIL_REGEXP" name="email" ng-model="email" placeholder="Email" required>
											<span style="color:red" ng-show="submitted && ((myForm.email.$dirty && myForm.email.$invalid) || (myForm.email.$invalid))">
												<span ng-show="myForm.email.$error.required">Yêu cầu nhập Email</span>
												<span ng-show="myForm.email.$error && !myForm.email.$error.required">Email không hợp lệ</span>
											</span>
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword" class="col-sm-4 control-label">{{language.matKhau}}: </label>
										<div class="col-sm-8">
											<input type="password" class="form-control" id="inputPassword" name="password" ng-model="password" placeholder="Nhập mật khẩu" required>
											<span style="color:red" ng-show="submitted && ((myForm.password.$dirty && myForm.password.$invalid) || (myForm.password.$invalid))">
												<span ng-show="myForm.password.$error.required">Yêu cầu nhập Mật khẩu</span>
											</span>
											<span style="color:red" ng-show="!myForm.password.$error.required && password.length < 6">
												Mật khẩu phải >= 6 kí tự</span>
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword2" class="col-sm-4 control-label">{{language.nhapLaiMatKhau}}: </label>
										<div class="col-sm-8">
											<input type="password" class="form-control" id="inputPassword2" name="password_confirm" ng-model="password_confirm" match-pas="password" placeholder="Nhập mật khẩu" required>
											<span style="color:red" ng-show="submitted && ((myForm.password_confirm.$dirty && myForm.password_confirm.$invalid) || (myForm.password_confirm.$invalid))">
												<span ng-show="myForm.password_confirm.$error.required">Yêu cầu nhập lại Mật khẩu</span>
												<span ng-show="myForm.password_confirm.$error.match-pas">Mật khẩu không khớp</span>
											</span>
										</div>
									</div>
									<div class="form-group" ng-hide="msgs == ''">
										<label class="col-sm-4"> </label>
										<div class="message-container col-sm-8" >
											<label style="color:red" class="message">{{msgs}}</label>
										</div>
									</div>

									</form>
									<!-- Register form of businesses -->
									<form name="businessForm">
									<div id="form-dn"  ng-show="regCtrl.addBusiness || regCtrl.stateParams.business">
										<div class="form-group">
											<label for="inputtext2" class="col-sm-4 control-label"></label>
											<div class="col-sm-8">
												<h3>{{language.thongTinDoanhNghiep}}</h3>
						 					</div>
										</div>

										<div class="form-group">
											<label for="inputtext2" class="col-sm-4 control-label">{{language.tenDoanhNghiep}}: </label>
											<div class="col-sm-8">
												<input type="text" name="business_name" class="form-control" ng-model="business_name" placeholder="Nhập tên doanh nghiệp" required>
												<span style="color:red" ng-show="submitted && ((businessForm.business_name.$dirty && businessForm.business_name.$invalid) || (businessForm.business_name.$invalid))">
													<span ng-show="businessForm.business_name.$error.required">Yêu cầu nhập Tên Doanh Nghiệp</span>
												</span>
											</div>
										</div>
										<!-- <div class="form-group">
											<label for="inputtext2" class="col-sm-4 control-label">{{language.maSoThue}}: </label>
											<div class="col-sm-8">
												<input type="text" name="business_taxid" class="form-control" ng-model="business_taxid" placeholder="Nhập mã số thuế ">
												<span style="color:red" ng-show="submitted && ((businessForm.business_taxid.$dirty && businessForm.business_taxid.$invalid) || (businessForm.business_taxid.$invalid))">
												</span>
											</div>
										</div> -->
										<div class="form-group">
											<label for="inputtext2" class="col-sm-4 control-label">{{language.diaChi}}: </label>
											<div class="col-sm-8">
												<input type="text" name="business_address" class="form-control" ng-model="business_address" placeholder="Nhập địa chỉ doanh nghiệp" required>
												<span style="color:red" ng-show="submitted && ((businessForm.business_address.$dirty && businessForm.business_address.$invalid) || (businessForm.business_address.$invalid))">
													<span ng-show="businessForm.business_address.$error.required">Yêu cầu nhập Địa chỉ</span>
												</span>
											</div>
										</div>
										<!-- <div class="form-group">
											<label for="inputtext2" class="col-sm-4 control-label">Email: </label>
											<div class="col-sm-8">
												<input type="text" name="business_email" class="form-control"  ng-model="business_email" placeholder="Nhập email doanh nghiệp" ng-pattern="EMAIL_REGEXP">
												<span style="color:red" ng-show="submitted && ((businessForm.business_email.$dirty && businessForm.business_email.$invalid) || (businessForm.business_email.$invalid))">
													<span ng-show="businessForm.business_email.$error && !businessForm.business_email.$error.required">Email không hợp lệ</span>
												</span>
											</div>
										</div> -->
										<div class="form-group">
											<label for="inputtext2" class="col-sm-4 control-label">{{language.soDienThoai}}: </label>
											<div class="col-sm-8">
												<input type="text" name="business_phone" class="form-control" ng-model="business_phone" placeholder="Nhập số điện thoại doanh nghiệp" required>
												<span style="color:red" ng-show="submitted && ((businessForm.business_phone.$dirty && businessForm.business_phone.$invalid) || (businessForm.business_phone.$invalid))">
													<span ng-show="businessForm.business_phone.$error.required">Yêu cầu nhập Số điện thoại</span>
												</span>
											</div>
										</div>
									</div>

									<!-- <div class="form-group" >
										<label class="col-sm-4"> </label>
										<div class="message-container col-sm-8" ng-if="!regCtrl.isBusinessFace">
											<a href="" type="button" id="btn-dkdn" style="color:green;" ng-click="regCtrl.toggleBusinessInfo()">
												{{!regCtrl.isAddBusiness() ?'Click vào đây để đăng ký tài khoản cho doanh nghiệp của bạn':'Hủy đăng ký doanh nghiệp'}}
											</a>
										</div>
									</div> -->
									<div class="form-group">
										<div class="col-sm-4"></div>
										<div class="col-sm-8">
											<no-captcha width="100%"
			    								g-recaptcha-response="gRecaptchaResponse"
			    								theme='light'
			    								control="noCaptchaControl"
			    								site-key="6LeQkwgTAAAAAIIk8kKnChhlGBwVvDtCsW_cDVQG">
											</no-captcha>
											<span style="color:red" ng-show="(submitted && regCtrl.captchaEmpty)">
				                                <span> Yêu cầu xác nhận bạn không phải là người máy </span>
				                            </span>
										</div>
									</div>
									</form>
									<!-- End form businesses registation -->
									<!-- <div>
										<div class="form-group">
											<div class="col-sm-offset-4 col-sm-8">
												<div class="checkbox">
													<label>
														<input type="checkbox" name="agree" ng-checked="regCtrl.isAgreeRole()"
															ng-click="regCtrl.changeAgreeRole()"> 
															Tôi đã đọc và đồng ý với điêu lệ của 
															<a href="javascript:void(0)" class="wd-link">
																Cổng thông tin hỗ trợ  Người dân và Du khách
															</a>
													</label><br>
													<span style="color:red" ng-show="submitted && !regCtrl.isAgreeRole()">
														Bạn cần đồng ý điều khoản để hoàn tất Đăng ký tài khoản
													</span>
												</div>
											</div>
										</div>
									</div> -->
									<div class="form-group">
										<div class="col-sm-offset-4 col-sm-8">
											<button type="submit" class="wd-btn-default" ng-click="regCtrl.addUser()" >{{language.dangKy}}</button>
										</div>
									</div>
								</fieldset>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-5 col-lg-5" ng-if="!regCtrl.isBusinessFace">
							<div class="wd-login-more mt40 pl35 pr15" ng-controller="LoginCtrl">
								<h2 class="tlh3-6 pb20">{{language.dangNhapBangTaiKhoan}}</h2>
								<div class="wd-link-lg-m"><a href="javascript:void(0)"
								ng-click="loginFacebookAtRegister()"
								 class="wd-lg-wFace"><img src="images/images/login-fae.jpg" height="43" width="281" alt="login width facebook"></a></div>
								<div class="wd-link-lg-m"><a href="javascript:void(0)" 
								ng-click="loginGoogleAtRegister()"
									class="wd-lg-wGoogle"><img src="images/images/img-lg-google.png" height="43" width="281" alt="login width facebook"></a></div>
								<!-- <p class="wd-desc-t">{{language.chungToiSeKhong}}</p> -->
							</div>
						</div>
					</div>
				</div>
</div></div>
