<div ng-controller="CheckLoginPublicCtrl">
	<div id="page-layout">
		<div id="wd-wrapper" style="padding-bottom: 0px;">
			<div id="wd-wrapper-map">
			</div>
		</div>
	</div>
</div>
<script type="text/ng-template" id="templateLoginPublic">
<div id="login_popup_content"
	class="wd-popup-container wd-popup-login-container">
	<div class="wd-header-pp bdb1">
		<h2 class="wd-title-st1 translate" key="dang_nhap_he_thong">Cổng thông tin hỗ trợ người dân và du khách</h2>
	</div>
	<div class="wd-pp-content">
		<div class="row rowParent wd-login-content">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wd-lg-content-l width-100-percent">
				<h2 class="tlh3-6 pb20 translate text-transform-none">Hệ thống hiện đang bảo trì</h2>
				<div class="form-content form-login-content">
					<div class="show-error"></div>
						<fieldset class="form-horizontal" role="form">
						<form name="myForm" novalidate>
							<div class="form-group">
								<span style="color:red">{{msg}}</span>
								<label for="inputEmail" class="col-sm-12 col-xs-12 control-label">Tên đăng nhập<sup>*</sup></label>
								<div class="col-sm-12 col-xs-12">
									<input style="border-color:#f00" type="email" class="form-control wd_err" ng-model="userName" ng-pattern="EMAIL_REGEXP" required
										name="userName" placeholder="Email" data-rule-required="true"
										data-msg-required="Vui lòng nhập địa chỉ Email"
										data-rule-email="true"
										data-msg-email="Địa chỉ email không chính xác" />
									<span style="color:red" ng-show="submited &&((myForm.userName.$dirty && myForm.userName.$invalid) || (myForm.userName.$invalid))">
										<span ng-show="myForm.userName.$error.required">Vui lòng nhập Email</span>
										<span ng-show="myForm.userName.$error && !myForm.userName.$error.required">Email không hợp lệ</span>
									</span>
								</div>
							</div>
							<div class="form-group mb5">
								<label for="inputPassword"
									class="col-sm-12 control-label translate" key="mat_khau">{{language.matKhau}}<sup>*</sup>
								</label>
								<div class="col-sm-12">
									<input type="password" class="form-control" required ng-model="password"
										name="password" placeholder="Nhập mật khẩu " />
									<span style="color:red" ng-show="submited &&((myForm.password.$dirty && myForm.password.$invalid) || (myForm.password.$invalid))">
										<span ng-show="myForm.password.$error.required">Vui lòng nhập mật khẩu</span>
									</span>
								</div>
							</div>
							<div class="form-group">
								<div class="checkbox wd-checkbox-lg" style="margin-left: 5px;">
									<label> <input type="checkbox" ng-click="check()" /> <span
										class="translate" key="giu_trang_thai_dang_nhap">{{language.giuTrangThaiDangNhap}}</span>
									</label>
								</div>
								<button type="submit"
									class="wd-btn-default wd-btn-default-gr translate float-right" style="margin-right: 5px;" ng-click="loginSys()"
									key="dang_nhap" id="btnLogin">{{language.dangNhap}}</button>
							</div>
						</form>
					</fieldset>
				</div>
			</div>
		</div>
</div>
</script>