<div ng-controller="CheckLoginPublicCtrl"></div>
<div ng-controller="shoppingOrder"></div>
<div ng-controller="LanguageCtrl">
<div id="wd-content-container" class="clearfix">
	<div class="container" >

		<ol class="breadcrumb noboradius nobg">
			 <li>
                <a ui-sref="home" class="translate" key="trang_chu">{{language.trangChu}}</a>
            </li>
            <li>
                <a ui-sref="service({fieldId: serviceDetailCtrl.serviceField.url})" class="translate" key="san_pham_dich_vu">{{language.sanPhamDichVu}}</a>
            </li>
            <li>
                <a ui-sref="service({fieldId: serviceDetailCtrl.serviceField.url})" class="translate" key="san_pham_dich_vu">{{serviceDetailCtrl.serviceField.ten}}</a>
            </li>
			<li class="active" id="contBreadSerDetail">{{serviceDetailCtrl.detail.ten}}</li>
		</ol>
		<!-- loader -->
		<div class="row rowParent2" ng-if="serviceDetailCtrl.loading">
			<div class="col-md-12" ><div class="around-loader"></div></div>
		</div>
		<div class="row rowParent2" ng-show="!serviceDetailCtrl.loading">
			
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
				<div class="wd-main-content">
					<!-- article-->
					<div class="wd-introduction serviceDetail">
						<div class="wd-introduction" id="contArray1">
							<div class="animated fadeIn">
								<h3 class="tlh3-2 dInBlock">{{serviceDetailCtrl.detail.ten}}</h3>
								<div class="wd-title-post dInBlock">
									<span class="wd-text wd-rating">
										<i class="iconmuch-star"
										ng-repeat="i in getNumber(serviceDetailCtrl.detail.xepHang) track by $index"
										>&nbsp;</i>
									</span>
								</div>
								<p class="wd-desc-tt mt7">Địa chỉ: {{serviceDetailCtrl.detail.diaChi}}</p>
								<div class="wd-intro-img" >
									<img ng-src="{{serviceDetailCtrl.detail.anhDaiDien.urlImage}}" width="721" height="514" alt="" />
									<ul class="wd-gallery-img">
										<li ng-repeat="anh in serviceDetailCtrl.detail.albumAnh track by $index">
											<a href="{{anh.urlImage}}" rel="wd-group-1" class="wd-thumbnail-pp" color-box-bind="color-box-bind">
												<img ng-src="{{anh.urlThumbImage}}" width="72" height="72" alt="" />
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="wd-new-promotion" ng-show="serviceDetailCtrl.serviceDeals.length > 0">
							<h2 class="tlh2-1">Danh sách khuyến mãi</h2>
							<ul class="row rowParent wd-list-new-st5 wd-list-new-promotion" id="contArray2">
								<li class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wd-item-lmh animated fadeIn width-100-percent"
									ng-repeat="deal in serviceDetailCtrl.serviceDeals track by $index">
									<i class="fa fa-gift fa-gift-cus">&nbsp;</i>
									<a ui-sref="newsDetail({catId: 'khuyen-mai', newsId: deal.aliasBaiViet})">{{deal.tieuDe}}</a>
								</li>
							</ul>
						</div>
						<ul class="wd-described row mt15">
							<li>
								<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
									<p class="gt-label translate" key="gioi_thieu">Giới thiệu</p>
								</div>
								<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
									<div id="contIntroPromotion" ng-if="serviceDetailCtrl.detail.moTa.length > 210">
										<!-- <p ng-show="!serviceDetailCtrl.flag" class="more" style="text-align: justify;" ng-bind-html="serviceDetailCtrl.detail.moTa | truncateText:true:210"></p> -->
										<p class="more" style="text-align: justify;" ng-bind-html="serviceDetailCtrl.detail.moTa"></p>
										<!-- <div class="view-all">
											<a ng-show="!serviceDetailCtrl.flag" href="" ng-click="serviceDetailCtrl.clickResize('xemTatCa')">{{language.xemTatCa}}</a>
										</div>
										<div class="view-all">
											<a ng-show="serviceDetailCtrl.flag" href="" ng-click="serviceDetailCtrl.clickResize('thuGon')">{{language.thuGon}}</a>
										</div> -->
									</div>
									<div id="contIntroPromotion" ng-if="serviceDetailCtrl.detail.moTa.length <= 210">
										<p class="more" style="text-align: justify;" ng-bind-html="serviceDetailCtrl.detail.moTa"></p>
									</div>
								</div>
							</li>
							<li id="utilityID">
								<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
									<p class="gt-label translate" key="tien_ich">Tiện ích:</p>
								</div>
								<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
									<ul class="wd-list-pricing wd-radio row" id="contUtility">
										<li class="col-xs-6" ng-repeat="attr in serviceDetailCtrl.serviceAttrs track by $index">
											<i class="fa fa-check fa-check-cus">&nbsp;</i>
											<span class="wd-text">{{attr.giaTriMacDinh}}</span>
										</li>
									</ul>
								</div>
							</li>
						</ul>
						<div class="wd-booking-bt-ct pt25" id="contShowHideBooking" ng-if="serviceDetailCtrl.detail.booking">
							<a class="wd-booking-btl" href="" ng-click="serviceDetailCtrl.clickDatCho(serviceDetailCtrl.detail)">
								<i class="fa fa-envelope-o fa-envelope-o-wh"></i>
								<span class="wd-text">{{serviceDetailCtrl.getBookingType(serviceDetailCtrl.detail.bookingType)}}</span>
							</a>
<!-- 							<a class="wd-booking-btl none-normal" href="" ng-click="serviceDetailCtrl.clickDatCho()" ng-if="!serviceDetailCtrl.detail.booking"> -->
<!-- 								<i class="fa fa-envelope-o fa-envelope-o-wh"></i> -->
<!-- 								<span class="wd-text">Đặt chỗ</span> -->
<!-- 							</a> -->


							<!-- Block popup Order -->
						<script type="text/ng-template" id="templateOrderDichVu">

										<div class="popup-order">

											<form class="form-horizontal" role="form">

												<div class="mb10">

													<div class="wd-detail-title">
         												<div class="animated fadeIn">
          													<h3 class="tlh3-11 dInBlock">{{ten}}</h3>
          													<div class="wd-title-post dInBlock">
           														<span class="wd-text wd-rating">
            													<i class="iconmuch-star" ng-repeat="i in getNumber(xepHang) track by $index">&nbsp;</i>
           														</span>
															</div>
														</div>
														<p class="wd-desc-tt m0">Địa chỉ: {{object.diaChi}}</p>
          											</div>
												</div>

												<div class="mb10">
													<label class="lable-popup inline-block pd0">Số lượng :</label>
													<div class="row-select select-engine inline-block ml2">
														<input type="number" name="select-quanlity" style="width:60px; height:30px;"
															id="select-quanlity" ng-init="list.amount = 1" ng-model="list.amount" class="form-control" />
													</div>
													<div class="show-error show-error-quanlity mt10">{{msgQuantity}}</div>

												</div>
												<div class="show-error show-error-area">{{msgInfo}}</div>
												<div class="clearfix"></div>
												<label class="lable-popup">Thông tin thêm :</label>
												<textarea class="form-control" rows="2" id="txtNote" ng-model="list.inforamtionAddition"
													placeholder="Ví dụ: cần đặt 1 phòng từ ngày 20/10/2014 đến 23/10/2014"></textarea>
												<div class="tar">
													<button type="button" ng-click="addGioHang(list)"
														class="btn btn-success-bold btn-send-info-order">Thêm
														vào giỏ hàng</button>
												</div>
											</form>
										</div>
										</script>
						<!-- end block popup order -->
						</div>
					</div>
					<!--end article-->
					<div class="wd-comment-container pt15">
						<div class="wd-title" ng-if="serviceDetailCtrl.detail.comment > 0">
							<h2 class="tlh2-1">
								<span>
									<span id="contCountComment">{{serviceDetailCtrl.detail.comment}}</span>
									<span style="cursor:default;" class="translate" key="binh_luan">bình luận :</span>
								</span>
							</h2>
							<!--<a href="#" class="sent-comment-bt fr"><i class="fa fa-edit">&nbsp;</i>Xem tất cả</a>-->
						</div>
						<ul class="wd-comment-list" id="contLstComment">
							<li class="wd-comment-abs-item animated fadeIn">
								<!--start comment parent-->
								<div class="author"
									dir-paginate="comment in serviceDetailCtrl.listComment | itemsPerPage: everyPage"
									total-items="totalComment" pagination-id="listOfComment">
									<div class="avatar">
										<div class="radius-img">
											<img ng-if="comment.imgUser != ''" width="55" height="53" alt="" ng-src="{{comment.imgUser}}" draggable="false">
											<img ng-if="comment.imgUser == ''" width="55" height="53" alt="" src="/images/front/avartar_default.jpg" draggable="false">
										</div>
									</div>
									<div class="wd-description">
										<h3 class="wd-title">{{comment.fullName}}
											<span ng-controller="FormatTimeCtrl" class="wd-desc-t1">
												{{formatTimeCtrl.convertTime(comment.Time)}}
											</span>
										</h3>
										<p class="wd-desc-post">{{comment.content}}</p>

										<!--start sub-comment-->
										<div class="wd-sub-comment">
											<div class="wd-reply">
												<a href="" class="btn-comment"><i class="fa fa-comment-o"></i> <span class="translate" key="tra_loi" ng-click="serviceDetailCtrl.showHideCommentBox('cmt_box_{{comment.id}}')">Trả lời</span></a>
												<!-- class="process-form" -->
												<div class="process-form" id="cmt_box_{{comment.id}}">
													<form id="FrmCommentReplyChild" name="FrmComChild" action="" method="" role="form">
														<fieldset class="wd-comment-form-content mt10">
															<div class="wd-input">
																<textarea rows="4" cols="50" name="content" class="wd-textarea-ct"
																placeholder="Bình luận của bạn" ng-model="comment.reply" ng-click="serviceDetailCtrl.checkLoginRequired($event)"></textarea>
															</div>
															<div class="wd-submit-ct">
																<input type="button" value="Gửi" id="btnSendReply" class="bt-submit-accp btnChildComment"
																ng-click="serviceDetailCtrl.addReplyOfComment(comment)"/>
															</div>
														</fieldset>
													</form>
												</div>
											</div>
										</div>
										<!--end sub-comment-->
										<div>
										<!--comment child-->
											<div class="author" ng-repeat="rep in comment.userInterations | truncateText:true:comment.limitReply">
												<div class="avatar">
													<div class="radius-img">
														<img ng-if="comment.imgUser != ''" width="55" height="53" alt="" ng-src="{{rep.imgUser}}" draggable="false">
														<img ng-if="comment.imgUser == ''" width="55" height="53" alt="" src="/images/front/avartar_default.jpg" draggable="false">
													</div>
												</div>
												<div class="wd-description">
													<h3 class="wd-title">{{rep.fullName}}
														<span ng-controller="FormatTimeCtrl" class="wd-desc-t1">
															{{formatTimeCtrl.convertTime(rep.Time)}}
														</span>
													</h3>
													<p class="wd-desc-post">{{rep.content}}</p>
												</div>
												<div class="wd-sub-comment">
													<div class="wd-reply">
														<a href="" class="btn-comment"><i class="fa fa-comment-o"></i> <span class="translate" key="tra_loi" ng-click="serviceDetailCtrl.showHideCommentBox('cmt_box_{{rep.id}}')">Trả lời</span></a>
														<!-- class="process-form" -->
														<div class="process-form" id="cmt_box_{{rep.id}}">
															<form id="FrmCommentReplyChild" name="FrmComChild" action="" method="" role="form">
																<fieldset class="wd-comment-form-content mt10">
																	<div class="wd-input">
																		<textarea rows="4" cols="50" name="content" class="wd-textarea-ct"
																		placeholder="Bình luận của bạn" ng-model="rep.reply" ng-click="serviceDetailCtrl.checkLoginRequired($event)"></textarea>
																	</div>
																	<div class="wd-submit-ct">
																		<input type="button" value="Gửi" id="btnSendReply" class="bt-submit-accp btnChildComment"
																		ng-click="serviceDetailCtrl.addReplyOfComment(rep)"/>
																	</div>
																</fieldset>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!--comment child-->
										<div class="content-child-comment">
											<div></div>
											<div class="tar"><a href="" class="btn-show-child-comment" ng-init="comment.limitReply = 2" ng-click="comment.limitReply = comment.userInterations.length" ng-show="comment.limitReply < comment.userInterations.length">Xem tất cả<i class="fa fa-sort-down"></i></a></div>
										</div>
										<!--end comment child-->
									</div>
								</div>
								<!--end comment parent-->
								<div class="wd-paging tac">
									<dir-pagination-controls
										template-url="/views/dirPagination.tpl.html"
										on-page-change="serviceDetailCtrl.getListComment(newPageNumber)"
										pagination-id="listOfComment"> </dir-pagination-controls>
								</div>
							</li>
						</ul>
						<div style="text-align: center">
							<a class="view-continue" href="" ng-init="commentLimit = 10"
							ng-click="commentLimit = listComment.length"
							ng-show="commentLimit < listComment.length">
							Xem thêm các nhận xét khác</a>
						</div>
						<div class="wd-comment-form" id="scroll-location">
							<form id="FrmCommentPost" name="FrmComParent" action="" method="" role="form">
								<fieldset class="wd-comment-form-content">
									<div class="wd-input">
										<textarea rows="4" cols="50" name="content" id="txtParentCommentArea" class="wd-textarea-ct" placeholder="Bình luận của bạn"
										ng-model="serviceDetailCtrl.commentContent" ng-click="serviceDetailCtrl.checkLoginRequired($event)"></textarea>
									</div>
									<div class="wd-submit-ct">
										<input type="button" value="Gửi" class="bt-submit-accp translate" key="gui" id="btnSendComment" ng-click="serviceDetailCtrl.addComment()">
									</div>
								</fieldset>
							</form>
						</div>
					</div>
					<!-- comment box .end -->
				</div>
				<!--end main-content-->
			</div>
			<div
				class="col-xs-12 col-sm-12 col-md-3 col-lg-3 hidden-xs hidden-sm">
				<div class="wd-booking-bt-ct tar">
					<p class="price-service translate" key="gia_chi_tu">Giá chỉ từ
					</p>
					<p class="money" id="contMoney">{{serviceDetailCtrl.detail.priceFormat}}</p>
				</div>
				<div class="wd-rate-mark">
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<span class="color-green" id="scoreRating">{{serviceDetailCtrl.detail.markValueFormat}}</span>
						<span id="assessment"></span>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 bdl1">
						<span class="color-blue" id="contCountRight">{{serviceDetailCtrl.detail.comment}}</span> <span>Bình
							luận</span>
					</div>
				</div>
				<ul class="wd-list-prize">
					<li class="mb0"><a href=""><i class="fa fa-reorder">&nbsp;</i><span
							class="translate" key="danh_gia">Đánh giá</span></a></li>
					<li class="nobdt bgwhite">
						<div id="wd-rating" style="cursor: pointer;"></div>
						<span class="scope-rating" id="hint"></span>
					</li>

					<!-- <li>
						<a ng-click="gotoComment()" class="scroll" style="cursor:pointer">
							<i class="fa fa-edit">&nbsp;</i><span class="translate" key="viet_binh_luan">Viết bình luận</span>
						</a>
					</li> -->

					<li><a href="" class="scroll" ng-click="serviceDetailCtrl.focusTextbox()"><i
							class="fa fa-edit" >&nbsp;</i><span class="translate"
							key="viet_binh_luan">Viết bình luận</span></a></li>

					<li>
						<div id="contInterest">
							<div class="tal">
								<div class="link-system">
									<a href="" class="btn-interest" ng-click="serviceDetailCtrl.clickInterest()">
										<i ng-class="serviceDetailCtrl.interest.content=='chuaquantam' ? 'fa fa-heart-o' : 'fa fa-heart'"></i>Quan tâm
									</a>
									<span class="count-interest ml5">{{serviceDetailCtrl.interest.count}}</span>
								</div>
							</div>
						</div>
					</li>
					<li class="tac">
						<div id="addthis" class="addthis_toolbox addthis_default_style">
							<a class="addthis_button_facebook_like pr10" fb:like:layout="button_count"></a>
							<a class="addthis_button_facebook_share" fb:share:layout="button_count"></a>
							<div class="clearfix"></div>
							<a class="addthis_button_google_plusone pr10 wdt72 mt5" g:plusone:size="medium"></a>
							<a class="addthis_button_tweet mt5" tw:via="addthis" style="width: 85px"></a>
						</div>
					</li>
				</ul>
				<div class="wd-map">
					<div id="contImgMapLocation">
					<!-- <a class="btn-view-map" href="/ban-do?sid={{serviceDetailCtrl.detail.id}}"> -->
					<a class="btn-view-map" ui-sref="map({sid: serviceDetailCtrl.detail.id})">
						<img src="http://dichvubandoso.vn/PartnerPortalServices/StaticMapService.ashx?key=b449ae33-4bc4-44e4-9bb2-011af33e4b59&center={{serviceDetailCtrl.detail.viDo}},{{serviceDetailCtrl.detail.kinhDo}}&zoom=16&size=350x350&markers=color:red|label:88|{{serviceDetailCtrl.detail.viDo}},{{serviceDetailCtrl.detail.kinhDo}}" />
						<!-- <img src="http://dichvubandoso.vn/PartnerPortalServices/StaticMapService.ashx?key=ce9a63e2-6bad-4181-85d3-08136251911b&center={{serviceDetailCtrl.detail.viDo}},{{serviceDetailCtrl.detail.kinhDo}}&zoom=16&size=350x350&markers=color:red|label:88|{{serviceDetailCtrl.detail.viDo}},{{serviceDetailCtrl.detail.kinhDo}}" /> -->
					</a>
					</div>
					<div class="view-map" id="contDetailInMap">
						<a class="btn-view-map" ui-sref="map({ sid: serviceDetailCtrl.detail.id })">Xem trên bản đồ lớn</a>
						<!-- <a href="/ban-do" class="btn-view-map">Xem bản đồ lớn</a> -->
					</div>
				</div>
				<!-- Quang Cao --->
				<ul class="wd-ad-content mt12">
					<li class="wd-item">
						<div id="block-advertise-1">
							<div class="flexslider">
								<ul class="slides" id="contBlockAdvertise1">

								</ul>
							</div>
						</div>
					</li>
					<li class="wd-item">
						<div id="block-advertise-2">
							<div class="flexslider">
								<ul class="slides" id="contBlockAdvertise2">

								</ul>
							</div>
						</div>
					</li>
				</ul>
				<!-- Quang Cao .end --->
			</div>
		</div>
		<!--end row-->
		<!---->
		<div class="wd-extras-service">
			<div class="wd-title">
				<h2 class="tlh2-3">
					<a href="#">Có thể bạn quan tâm</a>
				</h2>
				<div class="view-all fr" id="contViewAll"></div>
			</div>
			<div class="row rowParent wd-pofolio mb20" id="contArray4">
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 item animated fadeIn" ng-repeat="related in serviceDetailCtrl.serviceRelated">
					<div class="wd-place">
						<div class="wd-thumbnail" >
							<div class="process-img">
								<span class="pricing" ng:show="related.priceFormat != '0'">
									Giá từ:
									<strong>{{related.priceFormat}}</strong>
									<i class="iconmuch-bdl">&nbsp;</i>
								</span>
								<span class="score small">
									{{related.markValueFormat}} <i class="iconmuch-arleft">&nbsp;</i>
								</span>
								<div class="inly-flow">
									<a ui-sref="serviceDetail({fieldId: related.idLinhVuc, serviceUrl: related.url})">
										<img ng-src="{{related.anhDaiDien.urlThumbImage}}" alt="" >
									</a>
								</div>
							</div>
							<div class="caption">
								<h3><a ui-sref="serviceDetail({fieldId: related.idLinhVuc, serviceUrl: related.url})">{{related.ten}}</a></h3>
								<div class="wd-rating">
									<i class="iconmuch-star" ng-repeat="i in getNumber(related.xepHang) track by $index">&nbsp;</i>
								</div>
								<p>{{related.diaChi | truncateText:true:55}}</p>
								<div class="link-action">
									<span style="cursor:default;">
										<i class="iconmuch-comment">&nbsp;</i>
										{{related.comment}}
									</span>
									<span style="cursor:default;" class="ml12">
										<i class="iconmuch-heart">&nbsp;</i>
										{{related.interest}}
									</span>
								</div>
							</div>
						</div>
						<!--end thumbnail-->
					</div>
					<!--end place-->
				</div>
			</div>
		</div>
		<!-- .end -->
	</div>
</div></div>
<!-- reload addthis -->
<script type="text/javascript">
	addthis.toolbox("#addthis");
</script>
