<div ng-controller="CheckLoginPublicCtrl"></div>
<div ng-controller="LanguageCtrl">
<div id="wd-content-container" class="clearfix">
    <div class="container">
        <ol class="breadcrumb noboradius nobg">
            <li>
                <a ui-sref="home" class="translate" key="trang_chu">{{language.trangChu}}</a>
            </li>
            <li>
                <a href="javascript:void(0)" style="cursor:default;" class="translate" key="san_pham_dich_vu">{{language.sanPhamDichVu}}</a>
            </li>
            <li class="active" id="contBreadSer" class="animated fadeIn">{{serviceCtrl.selectedService.ten}}</li>
        </ol>
        <div class="row">
            <div class="col-xs-12">
                <div class="wd-stay">
                    <div class="input-group hidden-sm hidden-md hidden-lg">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-stay dropdown-toggle style-btn-drop" data-toggle="dropdown">
                                {{serviceCtrl.selectedService.ten}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" id="contmenuSearchLocation">
                                <li ng-repeat="service in serviceCtrl.listField">
                                    <a ui-sref="service({'fieldId':service.ma})">{{service.ten}}</a>
                                </li>
                            </ul>
                        </div>
                        <form id="frmSearchLocation" ng-submit="serviceCtrl.getListService(serviceCtrl.page)">
                            <input type="text" ng-enter="serviceCtrl.getListService(serviceCtrl.page)" ng-model="serviceCtrl.keyword" name="keyword" placeholder="Nhập thông tin cần tìm" class="form-control" />
                            <div class="input-group-btn">
                                <button type="submit" class="btn-sbm-search" style="background: url(../images/front/bg-sear.png) no-repeat scroll 10px 10px #005299; padding-right:0;"></button>
                            </div>
                        </form>
                    </div>
                    <div class="input-group hidden-xs">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-stay dropdown-toggle style-btn-drop" data-toggle="dropdown">
								{{serviceCtrl.selectedService.ten}} <span class="caret"></span>
							</button>
                            <ul class="dropdown-menu" role="menu" id="contmenuSearchLocation">
                                <li ng-repeat="service in serviceCtrl.listField">
                                    <a ui-sref="service({'fieldId':service.ma})">{{service.ten}}</a>
                                </li>
                            </ul>
                        </div>
                        <form id="frmSearchLocation" ng-submit="serviceCtrl.getListService(1)">
                            <input type="text" ng-enter="serviceCtrl.getListService(1)" ng-model="serviceCtrl.keyword" name="keyword" placeholder="Nhập thông tin cần tìm" class="form-control" />
                            <div class="input-group-btn">
                                <button type="submit" class="btn-sbm-search">{{language.tim}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--end row-->
        <div class="row rowParent">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                <div class="wd-main-content">
                    <div class="wd-flexbox">
                        <div class="wd-title">
                            <h2 class="tlh2-3">
                                <a href="javascript:void(0)">
                                    <span class="animated fadeIn">{{serviceCtrl.selectedService.ten}}</span>
                                </a>
                            </h2>
                        </div>
                        <div class="standand-sort clearfix">
                            <p class="hidden-xs">Sắp xếp theo:</p>
                            <ul class="list-bookmark">
                                <li>
                                    <a name="rating_" ng-click="serviceCtrl.changeSort($event.target.name)" ng-class="{'active':serviceCtrl.sortType == 'rating_'}" id="orderRating">
                                        Đánh giá <i class="fa" ng-class="{'fa-caret-down':serviceCtrl.sortOptional == 'desc','fa-caret-up':serviceCtrl.sortOptional == 'asc'}"></i>
                                    </a>
                                </li>
                                <li>
                                    <a name="name_" ng-click="serviceCtrl.changeSort($event.target.name)" ng-class="{'active':serviceCtrl.sortType == 'name_'}" id="orderName">
                                        Tên dịch vụ <i class="fa" ng-class="{'fa-caret-down':serviceCtrl.sortOptional == 'desc','fa-caret-up':serviceCtrl.sortOptional == 'asc'}"></i>
                                    </a>
                                </li>
                                <li>
                                    <a name="price_" ng-click="serviceCtrl.changeSort($event.target.name)" ng-class="{'active':serviceCtrl.sortType == 'price_'}" id="orderPrice">
                                        Mức giá <i class="fa" ng-class="{'fa-caret-down':serviceCtrl.sortOptional == 'desc','fa-caret-up':serviceCtrl.sortOptional == 'asc'}"></i>
                                    </a>
                                </li>
                                <li ng-show="serviceCtrl.selectedService.ma == 'luu-tru'">
                                    <a name="xep_hang_" ng-click="serviceCtrl.changeSort($event.target.name)" ng-class="{'active':serviceCtrl.sortType == 'xep_hang_'}" id='orderXepHang'>
                                        Xếp hạng <i class="fa" ng-class="{'fa-caret-down':serviceCtrl.sortOptional == 'desc','fa-caret-up':serviceCtrl.sortOptional == 'asc'}"></i>
                                    </a>
                                </li>
                                <li class="hidden-md hidden-lg">
                                    <a name="loc_theo" ng-click="serviceCtrl.showPopup()">
                                        Lọc theo
                                    </a>
                                </li>
                                <li class="icon-map hidden-sm hidden-md hidden-lg">
                                    <a ui-sref="map({dichvu: listId})" class="activeMap" title="Bản đồ">
                                        <i class="iconmuch-mapker">&nbsp;</i>
                                    </a>
                                </li>
                            </ul>
                            <div id="sortValue" value='rating_desc' class="none"></div>
                            <ul class="control-sort">
                                <li class="hidden-xs">
                                    <a href="" ng-click="serviceCtrl.changeLayOut('luoi')" ng-class="{'bt-vert':true, 'active':serviceCtrl.gridLayout}" title="Thể hiện theo dạng lưới">
                                        <i class="iconmuch-vert">&nbsp;</i>
                                    </a>
                                </li>
                                <li class="hidden-xs">
                                    <a href="" ng-click="serviceCtrl.changeLayOut('hang-ngang')" ng-class="{'bt-horizontal':true, 'active':!serviceCtrl.gridLayout}" title="Thể hiện theo hàng ngang">
                                        <i class="iconmuch-horizon">&nbsp;</i>
                                    </a>
                                </li>
                                <li class="hidden-xs">
                                    <a ui-sref="map({dichvu: listId})" id="mapForward" title="Bản đồ">
                                        <i class="iconmuch-mapker">&nbsp;</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- loader -->
                        <div class="row rowParent" ng-if="serviceCtrl.loading">
                            <div class="col-md-12" ><div class="around-loader"></div></div>
                        </div>
                        <div id="contListPlace" class="row rowParent wd-pofolio" ng-show="!serviceCtrl.loading">
                            <div dir-paginate="service in listService | itemsPerPage : everyPage" current-page="serviceCtrl.page"
								total-items="total" pagination-id="listOfService" id="ser{{$index}}"
                            	ng-class="{'col-xs-12 col-sm-4 col-md-4 col-lg-4 item expendTmp':true, 'expend':!serviceCtrl.gridLayout}"
                            	>
                                <div class="wd-place" id="service{{service.id}}" >
                                    <a href="#" class="new-product">
                                        <i ng-if="service.khuyenMai" class="iconmuch-promotion none-normal">&nbsp;</i>
                                        <!-- nguoc lại -->
                                        <!-- <i ng-if="!service.khuyenMai" class="iconmuch-promotion">&nbsp;</i> -->
                                    </a>
                                    <div class="wd-thumbnail">
                                        <div class="process-img">
                                            <!-- {{if priceFormat !='0'}} -->
                                            <span class="pricing" ng-if="service.priceFormat != '0'">
                                                Giá từ: <strong>{{service.priceFormat}}</strong> <i class="iconmuch-bdl">&nbsp;</i>
                                            </span>
                                            <!--  {{/if}} -->
                                            <span class="score small">
                                                <!-- ${markValueFormat} -->
                                                {{service.markValueFormat}}<i class="iconmuch-arleft">&nbsp;</i>
                                            </span>
                                            <div class="inly-flow">
                                                <!--${url} -->
                                                <a ui-sref="serviceDetail({fieldId: serviceCtrl.selectedService.ma, serviceUrl: service.url})">
                                                    <img ng-src="{{service.anhDaiDien.urlThumbImage}}" class="lazy" alt="" width="100%" height="auto"/>
                                                </a>
                                            </div>
                                        </div>
                                        <!--<div class="item-overlay">&nbsp;</div>-->
                                        <div class="caption">
                                            <h3>
                                                <!-- ${url} -->
                                                <a ui-sref="serviceDetail({fieldId: serviceCtrl.selectedService.ma, serviceUrl: service.url})">{{service.ten}}</a>
                                            </h3>
                                            <!--  ${diaChi} -->
                                            <p>{{service.diaChi}}</p>
                                            <div class="wd-rating pb3">
                                                <i class="iconmuch-star" ng-repeat="i in serviceCtrl.getNumber(service.xepHang) track by $index">&nbsp;</i>
                                            </div>
                                            <div class="link-action">
                                                <span style="cursor:default;">
                                                    <i class="iconmuch-comment">&nbsp;</i>
                                                    <!-- ${comment} -->
                                                    {{service.comment}}
                                                </span>
                                                <span style="cursor:default;" class="ml12">
                                                    <i class="iconmuch-heart">&nbsp;</i>
                                                    <!-- ${interest} -->
                                                    {{service.interest}}
                                                </span>
                                            </div>
											<div class="desc-order mt5" >
											<!-- <p ng-bind-html="service.moTa | truncateText:true:80"></p> -->
											</div>
                                        </div>
                                    </div>
                                    <!--end thumbnail-->
                                </div>
                                <!--end place-->
                            </div>
                            <div class="noResult"><p ng-if="listService.length == 0">{{language.noResult}}</p></div>
                        </div>

                        <!--end row-->
                        <!-- pagination -->
						<div class="wd-paging tac">
							<dir-pagination-controls
								template-url="/views/dirPagination.tpl.html"
								on-page-change="serviceCtrl.getListService(newPageNumber)"
								pagination-id="listOfService" ng-click="clickPage()"> </dir-pagination-controls>
						</div>
						<!--paging-->
                    </div>
                    <!--end flexbox-->
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 hidden-xs hidden-sm">
                <div class="wd-right-content accordion">
                    <div id="contentLstSortFirst"></div>
                    <div id="contentLstSortLast">
                        <div class="wd-portlet animated fadeIn" ng-repeat="attr in serviceCtrl.listAttributeOfField">
                            <div class="wd-portlet-title">
                                <h2>
                                    <a href="" ng-click="serviceCtrl.attributeClick($event)">
                                       {{attr.ten}} <i class="iconmuch-acordion">&nbsp;</i>
                                    </a>
                                </h2>
                            </div>
                            <div class="wd-portlet-body">
                                <!-- Set cung -->
                                <ul class="wd-list-pricing wd-radio" ng-if="attr.ma != 'xep_hang'">
                                    <li ng-repeat="gtmd in attr.giaTriMacDinh">
                                        <div class="number">{{gtmd.count}}</div>
                                        <div class="custom-checkbox">
                                        	<input tabindex="5" value="{{gtmd.id}}" name="radio-oparator"
	                                        	ng-click="serviceCtrl.selectThuocTinh($event, gtmd.id)"
	                                        	 type="checkbox" id="{{gtmd.id}}" class="wd-input-sort">
	                                        <label for="{{gtmd.id}}">{{gtmd.giaTriMacDinh}}</label>
                                        </div>
                                    </li>
                                </ul>

                                <ul class="wd-list-pricing wd-radio" ng-if="attr.ma == 'xep_hang'">
                                    <li ng-repeat="gtmd in attr.giaTriMacDinh">
                                        <div class="number">{{gtmd.count}}</div>
                                        <div class="custom-checkbox">
                                        	<input tabindex="5" value="{{gtmd.id}}" name="radio-oparator" type="checkbox" ng-click="serviceCtrl.selectThuocTinh($event, gtmd.id)" id="{{gtmd.id}}" class="wd-input-sort" />
	                                        <label class="wd-rating" for="{{gtmd.id}}">
	                                            <i class="iconmuch-star" ng-repeat="i in serviceCtrl.getNumber(gtmd.thuTu) track by $index">&nbsp;</i>
	                                        </label>
                                        </div>
                                    </li>
                                </ul>
                                <!--  {{/if}} -->
                            </div>
                        </div>
                    </div>

                </div>
                <!--end wd-right-content-->

            </div>
        </div>
    </div>
</div>
</div>

<div style="position:absolute; width:100%; z-index:9999; top:0;left:0; background-color:#fff;
    height:100%; opacity:0.8"
    class="modalFillter"
    ng-show="serviceCtrl.showModalFillter" ng-click="serviceCtrl.closePopup()">
</div>
<div style="position:absolute; width:100%; z-index:9999; top:0;left:0; background-color:#fff;"
    class="modalFillter"
    ng-show="serviceCtrl.showModalFillter">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:10px;">
        <h2 style="font-size:15px; font-weight:bold; width:150px;">Lọc dịch vụ theo:</h2>
        <span class="ngdialog-close pull-right btn btn-link" style="font-size:30px; margin-top: -31px; margin-right:-11px;
            padding: 10px;padding-top: 0; padding-bottom: 0;" ng-click="serviceCtrl.closePopup()"></span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="wd-right-content accordion" style="margin-top:0 !important;">
            <div id="contentLstSortLast">
                <div class="wd-portlet animated fadeIn" ng-repeat="attr in serviceCtrl.listAttributeOfField">
                    <div class="wd-portlet-title">
                        <h2>
                            <a href="" ng-click="serviceCtrl.attributeClick($event)">
                               {{attr.ten}} <i class="iconmuch-acordion">&nbsp;</i>
                            </a>
                        </h2>
                    </div>
                    <div class="wd-portlet-body">
                        <!-- Set cung -->
                        <ul class="wd-list-pricing wd-radio" ng-if="attr.ma != 'xep_hang'">
                            <li ng-repeat="gtmd in attr.giaTriMacDinh">
                                <div class="number">{{gtmd.count}}</div>
                                <div class="custom-checkbox" ng-click="serviceCtrl.closePopup()">
                                    <input tabindex="5" value="{{gtmd.id}}" name="radio-oparator"
                                        ng-click="serviceCtrl.selectThuocTinh($event, gtmd.id)"
                                         type="checkbox" id="{{gtmd.id}}" class="wd-input-sort">
                                    <label for="{{gtmd.id}}">{{gtmd.giaTriMacDinh}}</label>
                                </div>
                            </li>
                        </ul>

                        <ul class="wd-list-pricing wd-radio" ng-if="attr.ma == 'xep_hang'">
                            <li ng-repeat="gtmd in attr.giaTriMacDinh">
                                <div class="number">{{gtmd.count}}</div>
                                <div class="custom-checkbox" ng-click="serviceCtrl.closePopup()">
                                    <input tabindex="5" value="{{gtmd.id}}" name="radio-oparator" type="checkbox" ng-click="serviceCtrl.selectThuocTinh($event, gtmd.id)" id="{{gtmd.id}}" class="wd-input-sort" />
                                    <label class="wd-rating" for="{{gtmd.id}}">
                                        <i class="iconmuch-star" ng-repeat="i in serviceCtrl.getNumber(gtmd.thuTu) track by $index">&nbsp;</i>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
