<div ng-controller="CheckLoginPublicCtrl"></div>
<div id="wd-content-container" class="clearfix">
	<div class="container">
		<ol class="breadcrumb noboradius nobg">
			<li><a ui-sref="home" class="translate" key="trang_chu">Trang chủ</a></li>
			<li class="active">Tìm kiếm</li>
		</ol>
		<div class="row rowParent mb20">
			<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
				<!-- main-content -->
				<div class="wd-main-content">
					<div class="wd-introduction">
						<div class="find-content mb20">
							<div class="input-group">
								<input type="text" ng-model="searchCtrl.keywords" ng-enter="searchCtrl.getEnterKey()"
									id="txtValGt" class="form-control noboradius">
								<span class="input-group-btn">
									<a class="btn btn-default noboradius" ui-sref="search({keywords: searchCtrl.keywords, isExactly: searchCtrl.isExactly})" id="searchButton" type="button">Tìm kiếm</a>
								</span>								
							</div>
							<div class="input-group exactly">
								<input type="checkbox" ng-checked="{{searchCtrl.isExactly}}" ng-model="searchCtrl.isExactly"/>
								<span>Tìm chính xác</span> 
							</div>
							<div class="info-found">
								Tìm thấy <strong id="contSumNumber"> </strong> 
								kết quả với từ khóa <span class="word-block">“<span id="InfoAddressSearch">{{searchCtrl.keywords}}</span>”</span>
							</div>
						</div>
					</div>
					<div class="wd-list-service">
						<div id="wd-standand-division" style="display: block; width: 100%; margin: 0px;">
							<ul class="resp-tabs-list" id="conCategoryHome">
								<li id="tabNews" class="resp-tab-item resp-tab-active" ng-click="searchCtrl.selectTab(2,1,0)" aria-controls="tab_item-0" role="tab">
									<span class="translate" key="tin_moi_khuyen_mai">Tin tức (<span id="countNews">{{total1}}</span>)</span> 
									<span id="contCountNews"></span>
								</li>
								<li id="tabServices" class="resp-tab-item " ng-click="searchCtrl.selectTab(1,2,0)" aria-controls="tab_item-1" role="tab">
									<span class="translate" key="san_pham_dich_vu">Dịch vụ (<span id="countServices">{{total2}}</span>) </span>
									<span id="contCountService"></span>
								</li>
								<li id="tabCareers" class="resp-tab-item " ng-click="searchCtrl.selectTab(0,1,2)" aria-controls="tab_item-1" role="tab">
									<span class="translate" key="san_pham_dich_vu">Việc Làm (<span id="countCareers">{{total3}}</span>) </span>
									<span id="contCountCareer"></span>
								</li>
							</ul>
							<div class="resp-tabs-container">
								<div class="wd-section resp-tab-content" id="sectionNews" style="display:block">
									<div class="wd-portlet-cuisine">
										<div class="row rowParent wd-list-search" id="contSearchArtical">
											<div class="col-xs-12 item">    
												<div dir-paginate="tintuc in resultTinTuc | itemsPerPage : everyPage"
													total-items="total1" pagination-id="listOfNewsSearch" 
													class="wd-place pl0 pr0 mb0 nobd bdt1 noboxshadow" >     
													<div class="wd-thumbnail">      
														<div class="process-img">                             
															<div class="inly-flow">        
																<a ui-sref="{{tintuc.lopChuDe == 1 ? 'aboutDetail({catId: tintuc.alias, aboutId: tintuc.aliasBaiViet})' : 'newsDetail({catId: tintuc.alias, newsId: tintuc.aliasBaiViet})'}}">
																	<img ng-src="{{tintuc.anhDaiDien.urlThumbImage}}" class="lazy" alt="" width="198" height="170">
																</a>                     
															</div>      
														</div>      
														<div class="caption">       
															<p class="field-service">{{tintuc.tenChuDe}}</p>       
															<h3><a ui-sref="{{tintuc.lopChuDe == 1 ? 'aboutDetail({catId: tintuc.alias, aboutId: tintuc.aliasBaiViet})' : 'newsDetail({catId: tintuc.alias, newsId: tintuc.aliasBaiViet})'}}" ng-bind-html="tintuc.tieuDe"></a></h3>
															<div class="mt5">        
																<div class="desc-order" ng-bind-html="tintuc.tomTat"></div>       
															</div>      
														</div>     
													</div>     
													<!--end thumbnail-->    
												</div>    
												<!--end place-->   
											</div>   
											<!--end block col-->
										</div>
										<div id="page-selection" class="page-selection tac wd-paging">
											<dir-pagination-controls
												template-url="/views/dirPagination.tpl.html"
												on-page-change="searchCtrl.getListSearchTinTuc(newPageNumber)"
												pagination-id="listOfNewsSearch"></dir-pagination-controls>
										</div>														
									</div>
									<!--end wd-portlet-cuisine-->
								</div>

								<div class="wd-section resp-tab-content" id="sectionServices" style="display:none">
									<div class="wd-portlet-cuisine">
										<div class="row rowParent wd-list-search" id="contSearchService">
											<div class="col-xs-12 item">    
												<div dir-paginate="dichvu in resultDichVu | itemsPerPage : everyPage"
													total-items="total2" pagination-id="listOfServiceSearch" 
													class="wd-place pl0 pr0 mb0 nobd bdt1 noboxshadow">     
													<a ui-sref="serviceDetail({fieldId: dichvu.idLinhVuc, serviceUrl: dichvu.url})" class="new-product">             
														<i class="iconmuch-promotion none-normal">&nbsp;</i>           
													</a>     
													<div class="wd-thumbnail">      
														<div class="process-img">                       
															<span class="pricing" ng-if="dichvu.priceFormat != '0'">        
																Giá từ:        
																<strong>{{dichvu.priceFormat}}</strong>        
																<i class="iconmuch-bdl">&nbsp;</i>       
															</span>       
															<span class="score small">7.0 <i class="iconmuch-arleft">&nbsp;</i></span>       
															<div class="inly-flow">        
																<a ui-sref="serviceDetail({fieldId: dichvu.idLinhVuc, serviceUrl: dichvu.url})">
																	<img ng-src="{{dichvu.anhDaiDien.urlThumbImage}}" class="lazy" alt="" width="198" height="170">
																</a>                     
															</div>          
														</div>      
														<div class="caption">       
															<p class="field-service">{{dichvu.tenLinhVuc}}</p>       
															<h3><a ui-sref="serviceDetail({fieldId: dichvu.idLinhVuc, serviceUrl: dichvu.url})" ng-bind-html="dichvu.ten"></a></h3>        
															<div class="desc-order mt5" ng-bind-html="dichvu.diaChi"></div>      
														</div>     
													</div>     
													<!--end thumbnail-->    
												</div>    
												<!--end place-->   
											</div>
										</div>
										<div id="page-selection" class="page-selection tac wd-paging">
											<dir-pagination-controls
												template-url="/views/dirPagination.tpl.html"
												on-page-change="searchCtrl.getListSearchDichVu(newPageNumber)"
												pagination-id="listOfServiceSearch"></dir-pagination-controls>
										</div>	
									</div>
								</div>

								<div class="wd-section resp-tab-content" id="sectionCareers" style="display:none">
									<div class="wd-portlet-cuisine">
										<div class="row rowParent wd-list-search" id="contSearchCareer">
											<div class="col-xs-12 item"> 
												<div dir-paginate="job in resultViecLam | itemsPerPage : everyPage"
													total-items="total3" pagination-id="listOfCareerSearch" 
													class="wd-place pl0 pr0 mb0 nobd bdt1" > 
													<div class="wd-thumbnail">      
														<!-- <div class="process-img">                             
															<div class="inly-flow">        
																<a ui-sref="careerDetail({fieldId: job.id})">
																	<img ng-if="job.anhDaiDien.urlThumbImage != null" ng-src="{{job.anhDaiDien.urlThumbImage}}" class="lazy" alt="" width="198" height="170">
																	<img ng-if="job.anhDaiDien.urlThumbImage == null" ng-src="images/front/job.jpg" class="lazy" alt="" width="198" height="170">
																</a>                     
															</div>      
														</div>   -->    
														<div class="caption">       
															<p class="field-service">{{job.donViTuyen}}</p>       
															<h3><a ui-sref="careerDetail({fieldId: job.id})" ng-bind-html="job.tieuDe"></a></h3>
														</div>     
													</div>         
													<!--end thumbnail-->    
												</div>    
												<!--end place-->   
											</div>
										</div>
										<div id="page-selection" class="page-selection tac wd-paging">
											<dir-pagination-controls
												template-url="/views/dirPagination.tpl.html"
												on-page-change="searchCtrl.getListSearchViecLam(newPageNumber)"
												pagination-id="listOfCareerSearch"></dir-pagination-controls>
										</div>	
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
				<!-- main-content -->
			</div>
			<!-- right content -->
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
				<div class="wd-right-content">
					<!-- insert Quang cao -->
					<div lastest-news></div>
					<div hot-destination></div>
					<advertising-right linkBanner="banner_5"></advertising-right>
					<advertising-right linkBanner="banner_6"></advertising-right>
					<advertising-right linkBanner="banner_7"></advertising-right>
				</div>
			</div>
			<!--end right-content-->
		</div>
		<!--end row-->
	</div>
</div>