﻿<div ng-controller="CheckLoginPublicCtrl"></div>
<div id="wd-content-container" class="clearfix">
	<div class="container">
		<ol class="breadcrumb noboradius nobg">
			<li><a ui-sref="home" class="translate" key="trang_chu">Trang chủ</a></li>
			<li><a ui-sref="shareFeel" class="translate">Chia sẻ - Cảm nhận</a></li>
			<li class="active">{{shareFeelDetail.tieuDe}}</li>
		</ol>
		<div class="row rowParent mb20">
			<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
				<!-- main-content -->
				<div class="wd-main-content">
					<div class="wd-introduction">
						<div id="contIntroShare">
							<div class="animated fadeIn">
								<h3 class="tlh3-2" id="lblTitle">{{shareFeelDetail.tieuDe}}</h3>
								<div class="clearfix">
									<p class="wd-title-post pull-left"><i class="fa fa-calendar-o mr4"></i><span class="wd-text translate" key="ngay_dang">Ngày đăng: {{shareFeelDetail.ngayChiaSeStr}}</span><span class="wd-text mr15 ml15">|</span><i class="fa fa-eye mr4"></i><span class="wd-text translate" key="luot_xem">Lượt xem: {{shareFeelDetail.view}}</span></p>
								</div>
								<p>{{shareFeelDetail.noiDung}}</p>
								<p class="tar"><strong>{{shareFeelDetail.userName}}</strong></p>

							</div>
						</div>

						<div class="clearfix">
							<div id="contInterest">
								<div class="tal">
									<div class="link-system">
										<a href="" class="btn-interest" ng-click="shrDetailCtrl.interest()">
											<i ng-class="interest.content == 'chuaquantam'? 'fa fa-heart' : 'fa fa-heart-o'"></i>Quan tâm
										</a>
										<span class="count-interest">{{ interest.count }}</span>
									</div>
								</div>
							</div>
							<script type="text/javascript" src="lib/core/addthis_widget.js"></script>
							<div id="addthis" class="addthis_toolbox addthis_default_style">
								<a class="addthis_button_facebook_like pr10" fb:like:layout="button_count"></a>
								<a class="addthis_button_google_plusone pr10 wdt72" g:plusone:size="medium"></a>
								<a class="addthis_button_tweet" tw:via="addthis"></a>
							</div>
						</div>
					</div>
					<!--end article-->

					<!-- comment box -->
					<div class="wd-comment-container mt12 bdt1 pt15 clearfix">
						<div class="wd-title" ng-if="shareFeelDetail.comment > 0">
							<h2 class="tlh2-1"><span><span id="contCountComment">{{shareFeelDetail.comment}}</span> <span style="cursor:default;" class="translate" key="binh_luan">bình luận :</span></span></h2>
							<!--<a href="#" class="sent-comment-bt fr"><i class="fa fa-edit">&nbsp;</i>Xem tất cả</a>-->
						</div>
						<ul class="wd-comment-list" id="contLstComment">
							<li class="wd-comment-abs-item animated fadeIn">
								<!--start comment parent-->
								<div class="author"
								dir-paginate="comment in commentByShareList | itemsPerPage: everyPage"
										total-items="totalComment" pagination-id="listOfComment">
									<div class="avatar">
										<div class="radius-img">
											<img ng-if="comment.imgUser != ''" width="55" height="53" alt="" ng-src="{{comment.imgUser}}" draggable="false">
											<img ng-if="comment.imgUser == ''"width="55" height="53" alt="" src="/images/front/avartar_default.jpg" draggable="false">
										</div>
									</div>
									<div class="wd-description">
										<h3 class="wd-title">{{comment.fullName}}
											<span ng-controller="FormatTimeCtrl" class="wd-desc-t1">
												{{formatTimeCtrl.convertTime(comment.Time)}}
											</span>
										</h3>
										<p class="wd-desc-post">{{comment.content}}</p>

										<!--start sub-comment-->
										<div class="wd-sub-comment">
											<div class="wd-reply">
												<a href="" class="btn-comment"><i class="fa fa-comment-o"></i> <span class="translate" key="tra_loi" ng-click="shrDetailCtrl.showHideCommentBox('cmt_box_{{comment.id}}')">Trả lời</span></a>
												<!-- class="process-form" -->
												<div class="process-form" id="cmt_box_{{comment.id}}">
													<form id="FrmCommentReplyChild" name="FrmComChild" action="" method="" role="form">
														<fieldset class="wd-comment-form-content mt10">
															<div class="wd-input">
																<textarea rows="4" cols="50" name="content" class="wd-textarea-ct"
																placeholder="Bình luận của bạn" ng-model="comment.reply"></textarea>
															</div>
															<div class="wd-submit-ct">
																<input type="button" value="Gửi" id="btnSendReply" class="bt-submit-accp btnChildComment"
																ng-click="shrDetailCtrl.addReplyOfComment(comment)"/>
															</div>
														</fieldset>
													</form>
												</div>
											</div>
										</div>
										<!--end sub-comment-->
										<div>
										<!--comment child-->

											<div class="author" ng-repeat="rep in comment.userInterations | limitTo:comment.limitReply">
												<div class="avatar">
													<div class="radius-img">
														<img ng-if="rep.imgUser != ''" width="55" height="53" alt="" ng-src="{{rep.imgUser}}" draggable="false">
														<img ng-if="rep.imgUser == ''" width="55" height="53" alt="" src="/images/front/avartar_default.jpg" draggable="false">
													</div>
												</div>
												<div class="wd-description">
													<h3 class="wd-title">{{rep.fullName}}
														<span ng-controller="FormatTimeCtrl" class="wd-desc-t1">
															{{formatTimeCtrl.convertTime(rep.Time)}}
														</span>
													</h3>
													<p class="wd-desc-post">{{rep.content}}</p>
												</div>
												<div class="wd-sub-comment">
													<div class="wd-reply">
														<a href="" class="btn-comment"><i class="fa fa-comment-o"></i> <span class="translate" key="tra_loi" ng-click="shrDetailCtrl.showHideCommentBox('cmt_box_{{rep.id}}')">Trả lời</span></a>
														<!-- class="process-form" -->
														<div class="process-form" id="cmt_box_{{rep.id}}">
															<form id="FrmCommentReplyChild" name="FrmComChild" action="" method="" role="form">
																<fieldset class="wd-comment-form-content mt10">
																	<div class="wd-input">
																		<textarea rows="4" cols="50" name="content" class="wd-textarea-ct"
																		placeholder="Bình luận của bạn" ng-model="rep.reply" ng-click="shrDetailCtrl.checkLoginRequired($event)"></textarea>
																	</div>
																	<div class="wd-submit-ct">
																		<input type="button" value="Gửi" id="btnSendReply" class="bt-submit-accp btnChildComment"
																		ng-click="shrDetailCtrl.addReplyOfComment(rep)"/>
																	</div>
																</fieldset>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!--comment child-->
										<div class="content-child-comment">
											<div></div>
											<div class="tar"><a href="" class="btn-show-child-comment" ng-init="comment.limitReply = 2" ng-click="comment.limitReply = comment.userInterations.length" ng-show="comment.limitReply < comment.userInterations.length">Xem tất cả<i class="fa fa-sort-down"></i></a></div>
										</div>
										<!--end comment child-->
									</div>
								</div>
								<!--end comment parent-->
								<div class="wd-paging tac">
									<dir-pagination-controls
										template-url="/views/dirPagination.tpl.html"
										on-page-change="shrDetailCtrl.getListCommentByShareFeel(newPageNumber)"
										pagination-id="listOfComment"> </dir-pagination-controls>
								</div>
							</li>
						</ul>
						</div>
						<div class="wd-comment-form">
							<form id="FrmCommentPost" name="FrmComParent" role="form">
								<fieldset class="wd-comment-form-content">
									<div class="wd-input">
										<textarea rows="4" cols="50" name="content" id="txtParentCommentArea" class="wd-textarea-ct" placeholder="Bình luận của bạn"
										ng-model="commentContent" ng-click="shrDetailCtrl.checkLoginRequired($event)"></textarea>
									</div>
									<div class="wd-submit-ct">
										<input type="button" value="Gửi" class="bt-submit-accp translate" key="gui" id="btnSendComment" ng-click="shrDetailCtrl.addCommentOfShare()">
									</div>
								</fieldset>
							</form>
						</div>
					</div>
					<!-- comment box .end -->
				</div>
				<!-- main-content1 .end -->
				<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
					<div class="wd-right-content">
						<div style="margin-top: 10px">
							<div class="wd-right-content">
								<div lastest-news></div>
				                   <hot-destination type="slide"></hot-destination>
				                   <advertising-right linkBanner="banner_5"></advertising-right>
				                   <advertising-right linkBanner="banner_6"></advertising-right>
				                   <advertising-right linkBanner="banner_7"></advertising-right>
							</div>
							<!--end right-content-->
						</div>
					</div>
				</div>
			</div>

		</div>
		<!--end row-->
	</div>
<!--end wd-content-container-->
<!-- reload addthis -->
<script type="text/javascript">
	addthis.toolbox("#addthis");
</script>
