﻿<div ng-controller="CheckLoginPublicCtrl"></div>
<div ng-controller="LanguageCtrl">
<div id="wd-content-container" class="clearfix">
	<div class="container">
		<ol class="breadcrumb noboradius nobg">
			<li><a ui-sref="home" class="translate">Trang chủ</a></li>
			<li class="active">Chia sẻ - Cảm nhận</li>
		</ol>
		<!--end row-->

		<div class="row rowParent2 mb20">
			<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
				<div class="wd-main-content share-cmt-item">
					<div class="wd-flexbox">
						<div class="wd-title share-cmt-a">
                            <h2 class="tlh2-3">
                                <a href="javascript:void(0)">
                                    <span class="animated fadeIn">Những chia sẻ về Đà Nẵng</span>
                                </a>
                            </h2>
                        </div>
						<!-- loader -->
						<div class="row rowParent2 mb20" ng-if="shrCtrl.loading">
							<div class="col-md-12" ><div class="around-loader"></div></div>
						</div>
						<div class="row rowParent2 main-comment mb20" ng-show="!shrCtrl.loading">
							<div class="col-xs-12">
								<ul class="wd-comment-list">
									<li class="wd-comment-abs-item"
										dir-paginate="share in shareFeelList | itemsPerPage: everyPage"
										total-items="totalShares" pagination-id="listOfShareFell">
										<div class="author">
											<div class="avatar">
												<div class="radius-img">
													<img width="55" height="53" alt="" title="{{share.userName}}"
														ng-src="{{share.avatarlink}}" draggable="false">
												</div>
											</div>
											<div class="wd-description">
												<h3>
													<a class="wd-title mb5" style="padding-left: 0 !important;"
														ui-sref="shareFeelDetail({'shareId':share.id})">{{share.tieuDe}}</a><span
														class="wd-desc-t1"> {{share.thoiGianDienRaStr}}</span>
												</h3>
												<p class="wd-desc-post">
													{{share.noiDung | truncateText:true: share.limitContent}}  
													<span style="display:inline-block;"
														class="wd-desc-post" ng-init="shrCtrl.zoomInOutContent(share)">
													    <a href="" class="morelink view-all-intro mt15" ng-click="shrCtrl.zoomInOutContent(share)" style="margin-top: 0px !important;"
															ng-if="share.noiDung.length > 160">
															{{share.limitContent == 160?'Xem tất cả':'Thu gọn'}}
															<i class="fa fa-sort-{{share.limitContent == 160?'desc':'asc'}} ">&nbsp;</i>
														</a>
													</span>
												</p>
												

												<div class="link-action mt5">
													<span style="cursor:default;"><i class="iconmuch-comment">&nbsp;</i>
														{{share.comment}} bình luận</span> <span style="cursor:default;" class="ml12"><i
														class="iconmuch-heart">&nbsp;</i> {{share.view}} lượt xem
													</span>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="noResult"><p ng-if="shareFeelList.length == 0">{{language.noResult}}</p></div>
							<div class="wd-paging tac">
								<dir-pagination-controls
									template-url="/views/dirPagination.tpl.html"
									on-page-change="shrCtrl.getResultsPage(newPageNumber)"
									pagination-id="listOfShareFell"> </dir-pagination-controls>
							</div>
							<!--paging-->
						</div>
						<!--end row-->
					</div>
					<!--end flexbox-->
				</div>
			</div>

			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				<div class="wd-right-content">
					<div class="wd-portlet">
						<div class="wd-portlet-body bdb1 pd0">
							<div class="wd-feel">
								<a href=""  ng-click="shrCtrl.openDefault()" class="link-idea"><span><i
										class="fa fa-pencil"></i></span>Chia sẻ cảm nhận</a>
							</div>
						</div>
					</div>
					<div class="wd-portlet mt12">
						<hot-destination type="list" ></hot-destination>
						<advertising-right linkBanner="banner_5"></advertising-right>
                        <advertising-right linkBanner="banner_6"></advertising-right>
                        <advertising-right linkBanner="banner_7"></advertising-right>

					</div>
<!-- 					end portlet -->
<!-- 					<div class="wd-ad-content mt12"> -->
<!-- 						<div class="wd-item"> -->
<!-- 							<a href="#"><img width="223" height="320" -->
<!-- 								ng-src="img/images/ad-02.jpg" alt=""></a> -->
<!-- 						</div> -->
<!-- 					</div> -->
				</div>
			</div>
		</div>
		<!--end row-->
	</div>
	</div>
</div>
<!--end wd-content-container-->
