<div ng-controller="CheckLoginPublicCtrl"></div>
<div ng-controller="LanguageCtrl">
<div id="wd-content-container" class="clearfix">
	<div class="container">
		<ol class="breadcrumb noboradius nobg">
			<li><a href="#">{{language.trangChu}}</a></li>
			<li class="active">{{language.muaSam}}</li>
		</ol>
		<!--end row-->
		<div class="row rowParent mb20">
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
				<div class="wd-main-content" style="border-top:none !important;">
					<div class="wd-flexbox">
						<div class="wd-title-top clearfix">
							<h2 class="tlh2-3 hidden-xs"><a href="">{{language.muaSam}}</a></h2>
								<div class="wd-search-booking">
									<div class="input-group-booking">
										<div class="drop-sort">
											<button type="button" class="btn btn-stay dropdown-toggle style-btn-drop" data-toggle="dropdown">
												{{serviceCtrl.nameSelected}} <span class="caret"></span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li><a href="" ng-click="serviceCtrl.selectLinhVuc('0', 'Tất cả')" >Tất cả</a></li>
												<li><a href="" ng-click="serviceCtrl.selectLinhVuc(field.ma, field.ten)" ng-repeat="field in serviceCtrl.listField">{{field.ten}}</a></li>
											</ul>
										</div>
										<div class="crossword">
											<form  ng-submit="serviceCtrl.search()">
											<input type="text" name="" ng-model="serviceCtrl.keyword" placeholder="Nhập từ khóa cần tìm" class="form-control" />
											</form>
											<button type="submit" class="btn-smb">&nbsp;</button>
										</div>
									</div>
								</div>

						</div>
						<div class="standand-sort clearfix">
							<p class="hidden-xs">Sắp xếp theo:</p>
							<ul class="list-bookmark">
								<li><a name="rating_"
									ng-click="serviceCtrl.changeSort($event.target.name)"
									ng-class="{'active':serviceCtrl.sortType == 'rating_'}"
									id="orderRating"> Đánh giá <i class="fa"
										ng-class="{'fa-caret-down':serviceCtrl.sortOptional == 'desc','fa-caret-up':serviceCtrl.sortOptional == 'asc'}"></i>
								</a></li>
								<li><a name="name_"
									ng-click="serviceCtrl.changeSort($event.target.name)"
									ng-class="{'active':serviceCtrl.sortType == 'name_'}"
									id="orderName"> Tên dịch vụ <i class="fa"
										ng-class="{'fa-caret-down':serviceCtrl.sortOptional == 'desc','fa-caret-up':serviceCtrl.sortOptional == 'asc'}"></i>
								</a></li>
								<li><a name="price_"
									ng-click="serviceCtrl.changeSort($event.target.name)"
									ng-class="{'active':serviceCtrl.sortType == 'price_'}"
									id="orderPrice"> Mức giá <i class="fa"
										ng-class="{'fa-caret-down':serviceCtrl.sortOptional == 'desc','fa-caret-up':serviceCtrl.sortOptional == 'asc'}"></i>
								</a></li>
								<li><a name="xep_hang_"
									ng-click="serviceCtrl.changeSort($event.target.name)"
									ng-class="{'active':serviceCtrl.sortType == 'xep_hang_'}"
									id='orderXepHang'> Xếp hạng <i class="fa"
										ng-class="{'fa-caret-down':serviceCtrl.sortOptional == 'desc','fa-caret-up':serviceCtrl.sortOptional == 'asc'}"></i>
								</a></li>
								<li class="icon-map hidden-sm hidden-md hidden-lg">
                                    <a ui-sref="map({dichvu: listId})" class="activeMap" title="Bản đồ">
                                        <i class="iconmuch-mapker">&nbsp;</i>
                                    </a>
                                </li>
							</ul>
							<div id="sortValue" value='rating_desc' class="none"></div>
							<ul class="control-sort">
								<li class="hidden-xs"><a href="" ng-click="serviceCtrl.changeLayOut('luoi')"
									ng-class="{'bt-vert':true, 'active':serviceCtrl.gridLayout}"
									title="Thể hiện theo dạng lưới"> <i class="iconmuch-vert">&nbsp;</i>
								</a></li>
								<li class="hidden-xs"><a href="" ng-click="serviceCtrl.changeLayOut('hang-ngang')"
									ng-class="{'bt-horizontal':true, 'active':!serviceCtrl.gridLayout}"
									title="Thể hiện theo hàng ngang"> <i
										class="iconmuch-horizon">&nbsp;</i>
								</a></li>
								<li class="hidden-xs"><a ui-sref="map({dichvu: listId})" id="mapForward"> <i
										class="iconmuch-mapker">&nbsp;</i>
								</a></li>
							</ul>
						</div>
						<!-- loader -->
                        <div class="row rowParent" ng-if="serviceCtrl.loading">
                            <div class="col-md-12" ><div class="around-loader"></div></div>
                        </div>
						<div id="contListPlace" class="row rowParent wd-pofolio" ng-show="!serviceCtrl.loading">							

							<div dir-paginate="list in listService | itemsPerPage : everyPage"
								total-items="total" pagination-id="listOfShopping" current-page="serviceCtrl.page"
								ng-class="{'col-xs-12 col-sm-4 col-md-4 col-lg-4 item expendTmp':true, 'expend':!serviceCtrl.gridLayout}">
								<div class="wd-place" id="shopping{{list.id}}" >
									<a href="" class="new-product">
										<i ng-show="list.khuyenMai == false" class="iconmuch-promotion none-normal">&nbsp;</i>
										<i ng-show="list.khuyenMai == true" class="iconmuch-promotion">&nbsp;</i>
									</a>
									<div class="wd-thumbnail" style="position: relative;height: 100%; 
									{{serviceCtrl.gridLayout?'padding-bottom:1px':''}}">
										<div class="process-img">
											<span class="pricing" ng:show="list.priceFormat != '0'">Giá từ: <strong>{{list.priceFormat}}</strong>
												<i class="iconmuch-bdl">&nbsp;</i>
											</span>
											<span class="score small">
												{{list.markValueFormat}}
												<i class="iconmuch-arleft">&nbsp;</i>
											</span>
											<div class="inly-flow">
												<a ui-sref="serviceDetail({fieldId: list.idLinhVuc, serviceUrl: list.url})"><img
													ng-src="{{list.anhDaiDien.urlThumbImage}}" class="lazy" alt="{{list.ten}}"
													width="100%" height="160" /></a>
											</div>

										</div>
										<div class="caption" style="padding-bottom:42px">
											<p class="field-service">{{list.tenLinhVuc}}</p>
											<h3 class="mb0">
												<a ui-sref="serviceDetail({fieldId: list.idLinhVuc, serviceUrl: list.url})"
													ng-if="serviceCtrl.widthDevice <= 736 && serviceCtrl.widthDevice > 481">{{list.ten | truncateText:true: 25}}</a>
												<a ui-sref="serviceDetail({fieldId: list.idLinhVuc, serviceUrl: list.url})"
													ng-if="serviceCtrl.widthDevice > 736 || serviceCtrl.widthDevice <= 480">{{list.ten}}</a>
											</h3>
											<p ng-if="serviceCtrl.widthDevice <= 736 && serviceCtrl.widthDevice > 481">{{list.diaChi | truncateText:true: 40}}</p>
											<p ng-if="serviceCtrl.widthDevice > 736 || serviceCtrl.widthDevice <= 480">{{list.diaChi | truncateText:true: 80}}</p>
											<div class="wd-rating">
												<i class="iconmuch-star" ng-repeat="i in serviceCtrl.getNumber(list.xepHang) track by $index">&nbsp;</i>
											</div>
											<div class="link-action mb5">
												<span style="cursor:default;"><i class="iconmuch-comment">&nbsp;</i>
													{{list.comment}} bình luận</span> <span style="cursor:default;" class="ml12"><i
													class="iconmuch-heart">&nbsp;</i> {{list.interest}} quan tâm </span>
											</div>
											<!-- <div class="desc-order">
												<p ng-if="serviceCtrl.widthDevice <= 736 && serviceCtrl.widthDevice > 481" ng-bind-html="list.moTa | truncateText:true: 40"></p>
												<p ng-if="serviceCtrl.widthDevice > 736 || serviceCtrl.widthDevice <= 480" ng-bind-html="list.moTa | truncateText:true: 80"></p>
											</div> -->
										</div>
										<a href="javascript:void(0);" ng-click="serviceCtrl.clickDatCho(list)" class="btn btn-buy-goods" style="{{serviceCtrl.gridLayout?'width: 100%;':''}}position: absolute;bottom: 0px;">
										{{serviceCtrl.getBookingType(list.bookingType)}}</a>
										
										<!-- Block popup Order -->
										<script type="text/ng-template" id="templateOrder">

										<div class="popup-order">
											<form class="form-horizontal" role="form">

												<div class="mb10">
													<p class="field-service">{{tenLinhVuc}}</p>
													<h3 class="mb0">
														<a href="">{{ten}}</a>
													</h3>
												</div>

												<div class="mb10">
													<label class="lable-popup inline-block pd0">Số lượng :</label>
													<div class="row-select select-engine inline-block ml2">
														<input type="number" name="select-quanlity" style="width:60px; height:30px;"
															id="select-quanlity" ng-init="list.amount = 1" ng-model="list.amount" class="form-control" />
													</div>
													<div class="show-error show-error-quanlity mt10">{{msgQuantity}}</div>

												</div>
												<div class="show-error show-error-area">{{msgInfo}}</div>
												<div class="clearfix"></div>
												<label class="lable-popup">Thông tin thêm :</label>
												<textarea class="form-control" rows="2" id="txtNote" ng-model="list.inforamtionAddition"
													placeholder="Ví dụ: cần đặt 1 phòng từ ngày 20/10/2014 đến 23/10/2014"></textarea>
												<div class="tar">
													<button type="button" ng-click="addGioHang(list)"
														class="btn btn-success-bold btn-send-info-order">Thêm
														vào giỏ hàng</button>
												</div>
											</form>
										</div>
										</script>
										<!-- end block popup order -->
									</div>
									<!--end thumbnail-->
								</div>
								<!--end place-->
							</div>
							<!--end block col-->
							<!--end row-->
							<div class="noResult"><p ng-if="listService.length == 0">{{language.noResult}}</p></div>
						</div>
						
						<div class="wd-paging tac">
							<dir-pagination-controls
								template-url="/views/dirPagination.tpl.html"
								on-page-change="serviceCtrl.getListService(newPageNumber)"
								pagination-id="listOfShopping" ng-click="clickPage()"> </dir-pagination-controls>
						</div>
						<!--paging-->
					</div>
					<!--end flexbox-->
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
				<div class="wd-right-content">
					<div class="wd-portlet wd-portlet-order mb10"  ng-show="listGioHang.length > 0">
						<div class="wd-portlet-body bdb1 pd0 block-shopping-cart">
							<div class="wd-gradient">
								<h2 class="tlh2-7">
									<a ui-sref="shoppingCart">Đơn hàng của bạn</a>
								</h2>
							</div>
							<ul class="list-your-order" id="contListOrder" ng-repeat="gioHang in listGioHang">
								<li><span class="number-desc">{{gioHang.amount}}</span> <a
									href="">{{gioHang.nameService}}</a></li>
							</ul>
							<div class="block-btn-order">
								<a href="" ui-sref="shoppingCart" class="btn btn-order">{{language.datHang}}</a>
							</div>
						</div>
					</div>
					<!-- end portlet-->
					<div class="wd-portlet">
						<div class="wd-portlet-body bdb1 pt14 pb5 pr15 aside-news">
							<h2 class="tlh2-1">
								<a href="" ui-sref="newsTopic({catId: 'khuyen-mai'})" class="translate"
									key="tin_khuyen_mai">{{language.tinKhuyenMai}}</a>
							</h2>
							<div class="wd-cover-y">
								<ul class="wd-list-news" id="wd-news-promotion">
									<li class="animated fadeIn" ng-repeat="promotion in promotions">
										<div class="media">
											<a class="pull-left" ui-sref="newsDetail({catId: 'khuyen-mai', newsId: promotion.aliasBaiViet})">
												<img class="media-object lazy" ng-src="{{promotion.anhDaiDien.urlThumbImage}}" width="70" height="48" alt="" />
											</a>
											<div class="media-body">
												<h4 class="media-heading">
													<a ui-sref="newsDetail({catId: 'khuyen-mai', newsId: promotion.aliasBaiViet})">{{promotion.tieuDe | truncateText:true:50}}</a>
												</h4>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- end news promotion-->
					<ul class="row rowParent wd-ad-content">
						<li class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wd-item mt12">
							<div id="block-advertise-1">
								<div class="flexslider">
									<ul class="slides" id="contBlockAdvertise1">
										<advertising-right linkBanner="banner_5"></advertising-right>
				                        <advertising-right linkBanner="banner_6"></advertising-right>
				                        <advertising-right linkBanner="banner_7"></advertising-right>
									</ul>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--end row-->
	</div>
</div>
<!--end wd-content-container-->
</div>
