<div ng-controller="CheckLoginPublicCtrl"></div>
<div class="snap-drawers" drag-content="false" ng-controller="LanguageCtrl">
	<div class="snap-drawer snap-drawer-left">
		<!-- Sidebar Mobile Menu -->
		<div class="snap-drawers content-menu-mobile">
			<div class="snap-drawer snap-drawer-left">
				<div id="contMenuMobile" ng-controller="MenuCtrl">
					<ul class="menu-mobile">
						<li ng-repeat="menuMain in menuList">
							<a ng-if="menuMain.alias == 'trang-chu'" ng-click="menuCtrl.closeSidebar()" ui-sref="home" class="translate" key="trang-chu">
								{{menuMainTrangChu}}
							</a>
							<a ng-if="menuMain.alias == 've-da-nang'" ui-sref="about" class="translate" ng-click="menuCtrl.closeSidebar()" key="ve_da_nang">	{{menuMainVeDaNang}}
							</a>
							<ul ng-if="menuMain.alias == 've-da-nang'">
								<li>
									<div class="row">
										<ul class="col-md-5 mobile-submenu" id="contNavIntroMobile">
											<li ng-repeat="m in menuVeDaNang">
												<a ng-click="menuCtrl.closeSidebar()" ui-sref="aboutTopic({catId: '{{m.alias}}'})">{{m.ten}}</a>
											</li>
										</ul>
									</div>
								</li>
							</ul>
							<a ng-if="menuMain.alias == 'tin-nong'" ng-click="menuCtrl.closeSidebar()" ui-sref="news" class="translate"
								key="tin_nong">{{menuMainTinNong}}
							</a>
							<a ng-if="menuMain.alias == 'san-pham-dich-vu'" ng-click="menuCtrl.closeSidebar()" class="translate" key="san_pham_dich_vu"
								ui-sref="service({'fieldId':menuSanPhamDichVu[0].ma})">{{menuMainSanPhamDichVu}}
							</a>
							<ul ng-if="menuMain.alias == 'san-pham-dich-vu'">
								<li>
									<div class="row">
										<ul class="col-md-3 mobile-submenu" id="contNavLinkMobile">
											<li ng-repeat="m in menuSanPhamDichVu">
                                                <a ng-click="menuCtrl.closeSidebar()" ui-sref="service({'fieldId':m.ma})">{{m.ten}}</a>
                                            </li>
										</ul>
									</div>
								</li>
							</ul>
							<a ng-if="menuMain.alias == 'mua-sam'" ng-click="menuCtrl.closeSidebar()" ui-sref="shoppingOrder" class="translate"
								key="mua_sam">{{menuMainMuaSam}}
							</a>
							<a ng-if="menuMain.alias == 'chia-se-cam-nhan'" ng-click="menuCtrl.closeSidebar()" ui-sref="shareFeel" class="translate"
								key="chia_se_cam-nhan">{{menuMainChiaSeCamNhan}}
							</a>
							<a ng-if="menuMain.alias == 'ban-do'" ng-click="menuCtrl.closeSidebar()" ui-sref="map"><span class="translate"
								key="ban-do">{{menuMainBanDo}}</span>
							</a>
						</li>
						<!-- <li><a ng-click="menuCtrl.closeSidebar()" ui-sref="home" class="translate" key="trang-chu">{{menuMainTrangChu}}</a></li>
						<li><a ui-sref="about" class="translate" ng-click="menuCtrl.closeSidebar()" key="ve_da_nang">{{menuMainVeDaNang}}</a>
							<ul>
								<li>
									<div>
										<div class="row">
											<ul class="col-md-5 mobile-submenu" id="contNavIntroMobile">
												<li ng-repeat="m in menuVeDaNang">
													<a ng-click="menuCtrl.closeSidebar()" ui-sref="aboutTopic({catId: '{{m.alias}}'})">{{m.ten}}</a>
												</li>
											</ul>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li><a href="" class="translate" key="san_pham_dich_vu"
							ui-sref="service({'fieldId':menuSanPhamDichVu[0].ma})">{{menuMainSanPhamDichVu}}</a>
							<ul>
								<li>
									<div class="row">
										<ul class="col-md-3 mobile-submenu" id="contNavLinkMobile">
											<li ng-repeat="m in menuSanPhamDichVu">
                                                <a ng-click="menuCtrl.closeSidebar()" ui-sref="service({'fieldId':m.ma})">{{m.ten}}</a>
                                            </li>
										</ul>
									</div>
								</li>
							</ul>
						</li>
						<li><a ng-click="menuCtrl.closeSidebar()" ui-sref="news" class="translate" key="tin_tuc_khuyen_mai">{{menuMainTinNong}}</a></li>
						<li><a ng-click="menuCtrl.closeSidebar()" ui-sref="shoppingOrder" class="translate" key="mua_sam">{{menuMainMuaSam}}</a></li>
						<li><a ng-click="menuCtrl.closeSidebar()" ui-sref="shareFeel" class="translate" key="chia_se_phan_anh">{{menuMainChiaSeCamNhan}}</a></li>
						<li><a ng-click="menuCtrl.closeSidebar()" ui-sref="map"><span class="translate" key="tim_tren_ban_do">{{menuMainBanDo}}</span></a></li> -->
					</ul>
				</div>
			</div>
			<div class="snap-drawer snap-drawer-right"></div>
		</div>
		<!-- end Sidebar Mobile Menu-->
	</div>
</div>
