<div ng-controller="CheckLoginPublicCtrl"></div>
<div>
<link rel="stylesheet" href="//cdn.jsdelivr.net/highlight.js/9.0.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js"></script>
    <h1><strong>This is Java Code</strong></h1>
 
	 <pre>
	 <code class="language-java">	
	 function isEmpty( object ) {
	 for ( var i in object ) {
	 if ( object.hasOwnProperty( i ) )
	 return false;
	 }
	 return true;
	 }</code></pre>
	 
	 <p><strong>Hope you can understand</strong></p>

 </div>
