<div ng-controller="CheckLoginPublicCtrl"></div>
<div ng-controller="LanguageCtrl">
<div id="wd-content-container" class="clearfix">
	<div class="container">
		<ol class="breadcrumb noboradius nobg">
			<li><a ui-sref="home" class="translate" key="trang_chu">{{language.trangChu}}</a></li>
			<li class="active">Video</li>
		</ol>
		<div class="row rowParent3 mb20">
			<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
				<!-- main-content -->
				<div class="wd-main-content">
					<div class="wd-introduction">
						<div class="list-video">
							<ul class="row rowParent3 equal-height">
								<li class="col-xs-12 col-sm-6 col-md-3 col-lg-3 animated fadeIn item"
									dir-paginate="video in videos | itemsPerPage: everyPage"
									total-items="totalVideo" pagination-id="listOfVideo">
									<a class="link-imgurl video-item" ng-click="videoCtrl.showPopupVideo(video)">
										<img style="height:100px; max-height:100px;" alt="" src="{{video.urlThumb}}" class="lazy" width="100%" height="100" />
										<i class="iconmuch-video">&nbsp;</i>
									</a>
									<p>
										<a class="video-item" ng-click="videoCtrl.showPopupVideo(video)">
											{{video.name | truncateText:true:35}}</a>
									</p>
								</li>
							</ul>
						</div>
						<div class="tac wd-paging">
							<dir-pagination-controls
									template-url="/views/dirPagination.tpl.html"
									on-page-change="videoCtrl.getListVideo(newPageNumber)"
									pagination-id="listOfVideo"> </dir-pagination-controls>
						</div>
					</div>
					<!--end article-->
				</div>
				<!-- main-content1 .end -->
			</div>
			<!-- right content -->
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
				<div class="wd-right-content">
					<div lastest-news></div>
					<div hot-destination></div>
					<advertising-right linkBanner="banner_5"></advertising-right>
					<advertising-right linkBanner="banner_6"></advertising-right>
					<advertising-right linkBanner="banner_7"></advertising-right>
				</div>
			</div>
			<!-- end right content -->
		</div>
		<!--end row-->
	</div>
</div>
</div>
